<template>
	<div class="training">
		<v-chart :options="option" :autoresize="true" v-loading="loading"></v-chart>
		<!-- <div class="loading" v-if="loading">
      <img src="../../assets/img/loading.gif" alt="" />
    </div> -->
		<div class="training_box">
			<div class="t_box_left">
				<!-- tab切换 -->

				<el-tabs @tab-click="handleClick">
					<el-tab-pane label="小组项目">
						<div class="left_box">
							<!-- 选项 -->
							<el-radio-group v-model="planType" @change="handleChange">
								<el-radio-button
									v-for="(item, index) in planList"
									:key="index"
									:label="index"
									>{{ item }}</el-radio-button
								>
								<!-- <el-radio-button label="0">未开始</el-radio-button>
									<el-radio-button label="1">进行中</el-radio-button>
									<el-radio-button label="2">已结束</el-radio-button> -->
							</el-radio-group>
							<!-- 内容 -->
							<ul class="plan">
								<li v-for="(item, index) in list" :key="index">
									<div class="plan_top">
										<h4>
											<span>{{ item.planName }}</span>
											<span>{{ item.planClassName }}</span>
										</h4>
										<p>项目{{ item.projectCount }}个 | 时长天</p>
										<p>{{ item.beginDate }} ~ {{ item.endDate }}</p>
									</div>
									<!-- 进度条 -->
									<div class="plan_progres">
										<p>
											<el-button type="text"
												>已完成{{ item.planProgress }}%</el-button
											>
										</p>
										<el-progress
											:percentage="item.planProgress"
											:color="customColors"
											:show-text="false"
										/>
									</div>
									<!-- 展开 -->
									<div class="plan_detail">
										<p>
											<span @click="handleFlag(item.id)">
												{{item.planStates == "1" ? "收起" : "展开"}}</span
											>
											<i
												:class="item.planStates == '1'? 'rotate el-icon-arrow-down': 'rotate2 el-icon-arrow-down'"
											></i>
										</p>
										<!--<div
											class="plan_detail_box"
											v-show="item.planStates == '1'"
										>
											<div
												class="detail_box_content"
												v-for="(item, index) in detailData"
												:key="index"
											>
												<div class="detail_top">
													<h4>
														<span>{{ item.projectName }}</span>
													</h4>
													<p>任务0个 | 时长天</p>
													<p>{{ item.beginDate }} ~ {{ item.endDate }}</p>
												</div>
												<div class="detail_content">
													<el-progress
														:percentage="item.selectClassPlanByStuList.groupProgress"
														:color="customColors"
													/>
													<p>
														<span>
															<img
																src="http://111.203.59.61:8060/static/img/person.358ba865.svg"
																alt=""
															/>
															人员
															{{ item.selectClassPlanByStuList.stuList.length}}</span
														>
														<span>
															<img
																src="http://111.203.59.61:8060/static/img/complete.ac9f6b54.svg"
																alt=""
															/>
															按期完成
															{{ item.selectClassPlanByStuList.finished }}</span
														>
														<span>
															<img
																src="http://111.203.59.61:8060/static/img/nocomplete.3f20402c.svg"
																alt=""
															/>
															延期未完成
															{{ item.selectClassPlanByStuList.members }}</span
														>
													</p>
												</div> -->
										<!-- 表格 -->
										<!-- <el-table
													:data="item.selectClassPlanByStuList.stuList"
													border
													show-summary
												>
													<el-table-column prop="username" label="姓名">
													</el-table-column>
												</el-table>
											</div>
										</div> -->
									</div>
								</li>
							</ul>
							<!-- 分页 -->
							<el-pagination
								layout="prev, pager, next, jumper"
								:total="total"
								:page-size="pageSize"
								:current-page="pageNum"
								@current-change="changeCur"
							>
							</el-pagination>
						</div>
					</el-tab-pane>

					<!-- 收藏项目 -->
					<el-tab-pane label="收藏项目">
						<ul class="collect_box">
							<li
								v-for="(item, index) in collectData"
								:key="index"
								@click="goDetail(item.id)"
							>
								<img src="" alt="" />
								<i class="el-icon-star-on"></i>
								<div class="img_bottom">
									<div class="img_bottom_title">
										<h4>{{ item.name }}</h4>
										<p>{{item.description}}</p>
									</div>
									<div class="botton_btttom">
										<span>
											<i class="el-icon-thumb"></i>
											{{ item.stuCount }}</span
										>
										<span>
											<i class="el-icon-star-off"></i>
											{{ item.favorCount }}</span
										>
										<b>教学实训</b>
									</div>
								</div>
							</li>
						</ul>

						<!-- 分页 -->
						<el-pagination
							layout="prev, pager, next, jumper"
							:total="total2"
							:page-size="pageSize2"
							:current-page="pageNum2"
							@current-change="changeCur2"
						>
						</el-pagination>
					</el-tab-pane>
				</el-tabs>
			</div>
			<div class="t_box_right">
				<div class="right_box">
					<div class="right_top">
						<i class="icon"></i>
						<span>相关实训</span>
					</div>
					<ul class="right_content">
						<li
							v-for="(item, index) in relatedData"
							:key="index"
							@click="goDetail(item.id)"
						>
							<img src="" alt="" />
							<div>
								<span>{{ item.name }}</span>
								<p>
									<span>
										<i class="el-icon-thumb"></i>
										{{ item.stuCount }}</span
									>
									<span>
										<i class="el-icon-star-off"></i>
										{{ item.favorCount }}</span
									>
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import { reactive, toRefs } from 'vue';
import { useRouter } from 'vue-router';
import api from '@/api/index.js';
import { ElLoading } from 'element-plus';
const { traininglistData, gettrainingData } = api;
import '@/assests/training/training.scss';

export default {
	setup() {
		const router = useRouter();
		const state = reactive({
			loading: true,
			planList: ['未开始', '进行中', '已结束'],
			planType: '2',
			pageNum: 1,
			pageSize: 5,
			// 项目数据
			list: [],
			total: 0,
			percentage2: 0,
			customColors: [
				{ color: '#f56c6c', percentage: 20 },
				{ color: '#e6a23c', percentage: 40 },
				{ color: '#5cb87a', percentage: 60 },
				{ color: '#1989fa', percentage: 80 },
				{ color: '#6f7ad3', percentage: 100 },
			],
			flag: false,

			// 展开数据
			detailData: [],
			// 相关实训
			relatedData: [],
			total2: 0,
			pageNum2: 1,
			pageSize2: 12,
			// 收藏数据
			collectData: [],
		});

		// 状态数据;  小组项目已结束
		const handletab = () => {
			gettrainingData
				.selectClassPlanByStu({
					planType: state.planType,
					pageNum: state.pageNum,
					pageSize: state.pageSize,
				})
				.then(res => {
					if (res.data.code === 200) {
						state.list = res.data.rows;
						state.total = res.data.total;
						state.flag = res.data.rows.planStates;
						state.loading = false;
					}
				});
		};
		// 相关实训数据
		const relatedTraining = () => {
			gettrainingData
				.relatedTraining({
					isAsc: 'desc',
					orderByColumn: 'project.stucount',
					pageNum: 1,
					pageSize: 5,
					proType: null,
					specialtyTag: null,
					industryTag: null,
					proName: null,
				})
				.then(res => {
					state.relatedData = res.data.rows;
				});
		};


		// loading  加载效果
		const startLoading = () => {
			state.loading = ElLoading.service({
				lock: true,
				text: '加载中……',
				background: 'rgba(0, 0, 0, 0.7)',
			});
		};
		startLoading();
		const endLoading = () => {
			state.loading.close();
			state.loading = false;
		};
			endLoading();

		// 收藏项目
		const collectProject = () => {
			traininglistData
				.collectProject({
					pageNum: state.pageNum2,
					pageSize: state.pageSize2,
					isAsc: 'desc',
				})
				.then(res => {
					state.collectData = res.data.rows;
					state.total2 = res.data.total;
				});
		};

		const methods = {
			// 项目切换
			handleClick: tab => {
				if (tab.props.label === '收藏项目') {
					relatedTraining();
					collectProject();
				}
			},
			// 切换状态
			handleChange: () => {
				handletab();
			},

			// 展开
			handleFlag: id => {
				state.list.forEach(item => {
					if (item.id == id) {
						item.planStates == '2'
							? (item.planStates = '1')
							: (item.planStates = '2');
					}
				});
				traininglistData.selectClassPlanByStuInfo({ id }).then(res => {
					console.log(res);
					// state.detailData = res.data;
				});
			},
			// 分页改变当前页
			changeCur: pageNum => {
				state.pageNum = pageNum;
				handletab();
			},
			// 分页改变当前页
			changeCur2: pageNum => {
				state.pageNum2 = pageNum;
				collectProject();
			},
			// 跳详情
			goDetail: id => {
				router.push({ path: `/home/projectdetail/${id}` });
			},
		};

		const init = () => {
			handletab();
			relatedTraining();
			collectProject();
			// putAway();
		};

		init();

		return {
			...toRefs(state),
			...methods,
		};
	},
};
</script>

<style lang="scss"></style>
