<template>
	<div class="record">
		<v-chart :options="option" :autoresize="true" v-loading="loading"></v-chart>
		<nav-com />
		<div class="record_main">
			<div class="content">
				<div class="zheader">
					<div class="title">
						<span>专业:</span>
					</div>
					<div class="item-wrapper">
						<span
							@click="changeList(), changeAll()"
							:class="current === -1 ? 'active' : ''"
							>全部</span
						>
						<span
							v-for="(item,index) in interviewlist"
							:key="item.id"
							:class="{ 'active': index === current }"
							@click="changeList(item.id, index)"
							>{{ item.name }}</span
						>
					</div>
				</div>
				<div class="zsearch">
					<div class="zsearch-title">
						<span>面试结果：</span>
					</div>
					<div class="zsearch-item">
						<span
							:class="resultsindex === -1 ? 'shows' : ''"
							@click="changeReault(), changeCli()"
							>全部</span
						>
						<span
							v-for="(item,index) in resultslist"
							:class="{ 'shows': index === resultsindex }"
							:key="item.id"
							@click="changeReault(item.status, index)"
							>{{ item.text }}</span
						>
					</div>
				</div>
				<div class="pro_operation">
					<el-input
						v-model="searchTitle"
						placeholder="搜索岗位/公司名称"
						style="width:300px;"
						@change="searchValue"
					></el-input>
					<el-button
						v-if="identity === 'student'"
						@click="$router.push('/home/addrecord')"
						>+增加面试记录</el-button
					>
				</div>
			</div>
			<div class="table">
				<super-table
					:data="pageList"
					:columns="columns"
					:identity="identity"
					:header-cell-style="headClass"
					:cell-style="rowClass"
					@cell-click="gorecordetail"
				>
					<el-table-column label="岗位名称">
						<template #default="scope">
							<el-button
								type="text"
								@click="gorecordetail(scope.row)"
								size="small"
								>{{ scope.row.stationName }}</el-button
							>
						</template>
					</el-table-column>
				</super-table>
				<!-- <el-table
					:data="pageList"
					border
					style="width: 100%"
					:header-cell-style="headClass"
					:cell-style="rowClass"
				>
					<el-table-column label="岗位名称">
						<template #default="scope">
							<el-button
								type="text"
								@click="gorecordetail(scope.row)"
								size="small"
							>{{ scope.row.stationName }}</el-button>
						</template>
					</el-table-column>
					<el-table-column prop="companyName" label="公司名称" width="180"></el-table-column>
					<el-table-column prop="interviewTime" label="面试时间"></el-table-column>
					<el-table-column prop="intervierManagement" label="面试官"></el-table-column>
					<el-table-column prop="majorName" label="专业"></el-table-column>
					<el-table-column prop="commitName" label="提交人"></el-table-column>
					<el-table-column label="面试结果">
						<template #default="scope">
							<span v-if="scope.row.status === 0" class="uncertain">不确定</span>
							<span v-if="scope.row.status === 1" class="pass">通过</span>
							<span v-if="scope.row.status === 2" class="nopass">没通过</span>
						</template>
					</el-table-column>
					<el-table-column prop="issoundrecord" label="录音文件" :formatter="stateIssound"></el-table-column>
				</el-table>-->
			</div>

			<div class="block">
				<el-pagination
					@current-change="handleCurrentChange"
					:current-page="pageNum"
					:page-size="pageSize"
					layout="prev, pager, next,jumper"
					:total="total"
				></el-pagination>
			</div>
		</div>
	</div>
</template>

<script>
import api from '@/api';
import { useRouter } from 'vue-router';
import { reactive, toRefs, onMounted } from 'vue';
import SuperTable from '@/components/table/supertable.vue';
import recordmenu from '../../../../config/recordmenu';
import { ElLoading } from 'element-plus';
export default {
	setup() {
		const router = useRouter();
		const state = reactive({
			loading: true,
			columns: [], //表格表头
			interviewlist: [], //专业数据
			pageList: [], //分页总数据
			pageNum: 1, //页码
			pageSize: 6, //一页几条
			total: 0, //总数
			searchTitle: '', //要搜索的内容
			current: -1, //当前下标
			resultsindex: -1, //面试结果下标
			majorId: null,
			status: null,
			resultslist: [
				{
					text: '通过',
					status: 1,
				},
				{
					text: '未通过',
					status: 2,
				},
				{
					text: '不确定',
					status: 0,
				},
			],
			identity: null, //登录状态
		});

		// 登录状态
		state.identity = window.localStorage.getItem('identity');
		state.columns = recordmenu.recordmenulist;
		// 专业数据
		const getData = () => {
			api.interviewData.getinterviewData().then(res => {
				if (res.data.code === 200) {
					state.interviewlist = res.data.data;
				}
			});
		};

		// 表格添加样式
		const headClass = () => {
			return 'background:#E8E9EE;text-align:center';
		};

		const rowClass = () => {
			return 'text-align:center';
		};

		// 点击专业全部
		const changeAll = () => {
			state.current = -1;
		};

		// 点击面试结果全部
		const changeCli = () => {
			state.resultsindex = -1;
		};

		// 分页数据
		const getpageData = () => {
			const { pageNum, pageSize, searchTitle, majorId, status } = state;
			api.interviewData
				.getinterviewpage({
					pageNum,
					pageSize,
					searchTitle,
					majorId,
					status,
				})
				.then(res => {
					if (res.data.code === 200) {
						state.pageList = res.data.rows;
						state.total = res.data.total;
					}
				});
		};
		// 切换分页
		const handleCurrentChange = val => {
			state.pageNum = val;
			getpageData();
		};

		// 切换面试结果
		const changeReault = (status, index) => {
			state.status = status;
			state.resultsindex = index;
			getpageData();
		};

		// 搜索
		const searchValue = searchTitle => {
			console.log(searchTitle);
			state.pageNum = 1;
			getpageData();
		};

		// tab切换
		const changeList = (id, index) => {
			state.majorId = id;
			state.current = index;
			getpageData();
		};

		// 跳详情
		const gorecordetail = (row,a,b) => {
			const { interviewId } = row;
			console.log(b);
			router.push(`/home/recordetail/${interviewId}`);
		};

		// 初始化
		onMounted(() => {
			getData();
			getpageData();
		});


// loading  加载效果
		const startLoading = () => {
			state.loading = ElLoading.service({
				lock: true,
				text: '加载中……',
				background: 'rgba(0, 0, 0, 0.7)',
			});
		};
		startLoading();
		const endLoading = () => {
			state.loading.close();
			state.loading = false;
		};
		endLoading();
		return {
			...toRefs(state),
			handleCurrentChange,
			searchValue,
			changeList,
			headClass,
			changeReault,
			changeAll,
			changeCli,
			rowClass,
			gorecordetail,
		};
	},
	components: {
		SuperTable,
	},
};
</script>

<style lang="scss" scoped>
.record {
	width: 100%;
	height: auto;
	overflow: hidden;
	font-size: 14px;
	.record_main {
		height: auto;
		margin: 0 30px;
	}
	.content {
		padding-top: 8px;
		padding-bottom: 8px;
		background: #fff;
		.zheader {
			display: flex;
			.title {
				span {
					width: 60px;
					height: 40px;
					line-height: 46px;
					padding-left: 10px;
					display: inline-block;
				}
			}
			.item-wrapper {
				span {
					display: inline-block;
					padding: 8px;
					margin: 5px;
					border-radius: 16px;
				}
				span:hover {
					background: #679cf6;
					color: #fff;
				}
				.active {
					background: #679cf6;
					color: #fff;
				}
			}
		}
		.zsearch {
			display: flex;
			.zsearch-title {
				float: left;
				span {
					line-height: 40px;
					padding-left: 10px;
				}
			}
			.zsearch-item {
				span {
					line-height: 40px;
					padding: 6px 6px;
					margin: 6px;
					border-radius: 16px;
				}
				span:hover {
					background: #679cf6;
					color: #fff;
				}
				.shows {
					background: #679cf6;
					color: #fff;
				}
			}
		}
	}
	.pro_operation {
		float: right;
		margin-top: 17px;
		margin-bottom: 10px;
	}
.cell{
	color: red;
}
	// .block {
	// 	display: flex;
	// 	justify-content: flex-end;
	// }

	// .pass {
	// 	color: #29cb97;
	// 	font-weight: 400;
	// }
	// .nopass {
	// 	color: #e34949;
	// 	font-weight: 400;
	// }
}
</style>
