<template>
	<div class="detail">
		<!-- 左边列表 -->
		<div class="left">
			<div class="question">
				<div>{{obj.questionTitle}}</div>
				<div class="user_info">
					<div class="u_i_left">
						<img
							src="@/static/images/rBsCHGC8sMqAB2cDAAC8MQ3506s51.jpeg"
							alt=""
						/>
						<span class="u_i_name">{{obj.qUserName}}</span>
						<span>{{obj.replyTime}}</span>
					</div>
					<div class="u_i_right">
						<span>
							<i class="el-icon-chat-dot-square"></i> {{obj.answerCount}}</span
						>
					</div>
				</div>
				<div>{{obj.questionContent}}</div>
				<div>
					<!-- v-show="flag -->
					<el-button size="small" type="primary" @click="answer"
						>回答</el-button
					>
					<el-button
						v-if="flag"
						size="small"
						type="primary"
						@click="collectionadd"
						>收藏</el-button
					>
					<el-button v-else-if="!flag" size="small" @click="collectiondelete"
						>取消收藏</el-button
					>
				</div>
			</div>
			<div class="comments" v-show="flags">
				<!-- <v-md-editor v-model="questionValue" height="300px"></v-md-editor> -->
				<el-form :model="form">
					<v-md-editor
						v-model="form.questionValue"
						height="300px"
					></v-md-editor>
					<el-button size="small" type="primary" @click="onSubmit"
						>发布</el-button
					>
				</el-form>
			</div>
			<div class="all_answer_list">
				<div class="all-ask">全部回答({{total}})</div>
				<div class="p_answer" v-for="(item,index) in allData" :key="index">
					<div class="u_i_header">
						<img
							src="@/static/images/rBsCHGC8sMqAB2cDAAC8MQ3506s51.jpeg"
							alt=""
						/>
						<span class="u_i_name">{{item.userName}}</span>
						<span>{{item.replyDate}}</span>
					</div>
					<div class="u_i_content">{{item.replyContext}}</div>
				</div>
			</div>
		</div>
		<!-- 右边我的问答数据 -->
		<div class="right" v-if="identity==='student'">
			<div class="questions">
				<div class="div">
					<div class="back"></div>
					<span>我的问答</span>
				</div>
				<div>
					<img src="" alt="" />
					<span>123456</span>
				</div>
				<div class="div">
					<div class="cc">问</div>
					<span
						><span>提了</span
						><span class="span">{{questionList.numberQuestions}}</span
						><span>个问题,</span>
					</span>
					<span
						><span class="span">{{questionList.numberReplies}}</span
						>人进行了回答<span></span
					></span>
				</div>
				<div class="div">
					<div class="cc1">答</div>
					<span
						><span>回答了</span
						><span class="span">{{questionList.replyCount}}</span
						><span>个问题</span></span
					>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import app from '@/api/index.js';
import { useRouter } from 'vue-router';
import { ElMessage } from 'element-plus';
const { questionlist, allList, collectionadd, collectiondelete, reply } = app;

import { reactive, toRefs } from 'vue';
export default {
	components: {},
	setup() {
		const route = useRouter();
		const state = reactive({
			// 我的问答数据
			questionList: [],
			// 列表回答数据
			allData: [],
			total: 0,
			obj: [],
			url: '',
			flag: true,
			flags: false,
			form: {
				questionValue: '',
				answerId: "",
			},
			identity:'',
		});
		state.identity = window.localStorage.getItem('identity');
		const getinit = () => {
			// // 接收列表数据
			const item = route.currentRoute.value.query;
			const { answerId } = item;
			state.obj = item;
			state.form.answerId = answerId;
			// 接收列表回答的数据
			allList.alList({ answerId }).then(res => {
				console.log(res);
				if (res.status == 200) {
					state.total = res.data.total;
					state.allData = res.data.rows;
				}
			});
			// 点击收藏接口
			collectionadd.collectionadd({ answerId }).then(res => {
				console.log(res);
			});
			// 点击取消收藏接口
			collectiondelete.collectiondelete({ answerId }).then(res => {
				console.log(res);
			});
			// 接收我的问答部分数据
			questionlist.question({ answerId }).then(res => {
				if (res.status == 200) {
					state.questionList = res.data.data;
				}
			});
		};
		const init = () => {
			getinit();
		};
		const methods = {
			// 点击收藏
			collectionadd() {
				console.log(state.flag);
				state.flag = !state.flag;
				ElMessage.success({
					message: '收藏成功',
					type: 'success',
				});
				init();
			},
			// 点击取消收藏
			collectiondelete() {
				state.flag = !state.flag;
				ElMessage.success({
					message: '取消收藏成功',
					type: 'success',
				});
				init();
			},
			// 点击回答出现发布部分
			answer() {
				state.flags = true;
			},
			// 点击发布
			async onSubmit() {
				let res = await reply.reply(state.form);
				console.log(res);
				if (res.status == 200) {
					init()
				}
			},
		};

		init();
		return {
			...toRefs(state),
			...methods,
		};
	},
};
</script>

<style lang="scss" scoped>
.detail {
	width: 80%;
	margin-left: 10%;
	min-height: 400px;
	display: flex;
	.left {
		flex: 7;
		.question {
			padding: 0 20px;
			background: #fff;
			width: 100%;
			height: 190px;
			line-height: 40px;
			margin-bottom: 10px;
			.user_info {
				display: flex;
				justify-content: space-between;
				img {
					margin-top: 10px;
					width: 40px;
					height: 40px;
					border-radius: 50%;
				}
				.u_i_left {
					display: flex;
					align-items: center;
					.u_i_name {
						margin: 0 20px;
					}
				}
			}
		}
		.all_answer_list {
			width: 100%;
			height: 100%;
			background: #fff;

			.all-ask {
				width: 100%;
				height: 60px;
				line-height: 60px;
				padding: 0 15px;
				border-bottom: 1px solid #000;
			}
			.p_answer {
				padding: 0 20px;
				width: 100%;
				min-height: 120px;
				line-height: 60px;
				border-bottom: 1px solid #000;
				margin-bottom: 10px;
				img {
					margin-top: 10px;
					width: 40px;
					height: 40px;
					border-radius: 50%;
				}
				.u_i_header {
					width: 100%;
					height: 60px;
					display: flex;
					align-items: center;
					.u_i_name {
						margin: 0 20px;
					}
				}
			}
		}
	}
	.right {
		flex: 3;
		.questions {
			width: 80%;
			height: 300px;
			background: #fff;
			margin-left: 10%;
			margin-top: 20px;
			padding: 15px;
			.div {
				width: 100%;
				height: 50px;
				display: flex;
				font-size: 16x;
				.back {
					width: 5px;
					height: 30px;
					background: skyblue;
				}
			}
			.span {
				color: red;
				margin-left: 7px;
			}
			.cc {
				width: 30px;
				height: 30px;
				background: #f90;
				color: #fff;
				text-align: center;
				line-height: 30px;
				margin-right: 7px;
			}
			.cc1 {
				margin-right: 7px;
				width: 30px;
				height: 30px;
				background: green;
				color: #fff;
				text-align: center;
				line-height: 30px;
			}
		}
	}
}
</style>
