<template>
	<div id="navlist">
		<div class="list">
			<div class="nav-wuy" v-if="typeList.length < 1">暂无数据</div>
			<template v-if="typeList.length >=  1">
				<div class="nav-main" v-for="(item,index) in typeList" :key="index+1">
					<p class="nav-title">{{item.title}} :</p>
					<ul>
						<li
							:class="{active:activeType[index]?.indclik ==-1}"
							@click="activeClick(-1,index)"
						>
							全部
						</li>
						<li
							v-for="(data,ind) in item.children"
							:key="data.value || ind+1"
							:class="{active:activeType[index]?.activeId==data.value || activeType[index]?.indclik == data.value}"
							@mouseenter="activeEnter(data.value,index)"
							@mouseleave="activeLeave(index)"
							@click="activeClick(data,index)"
						>
							{{data.label}}
						</li>
					</ul>
				</div>
			</template>
		</div>
	</div>
</template>

<script>
import { reactive, defineComponent, toRefs, watch } from 'vue';
export default defineComponent({
	props: {
		typeList: {
			type: Array,
		},
	},
	setup(props, context) {
		const store = reactive({
			typeList: props.typeList,
			activeType: [], //增加状态
		});
		// computed(()=>{return store.typeList.map((item)=>{ return item => item.indclik=-1})})
		const methods = {
			activeEnter: (val, index) => {
				// store.activeId = val
				store.activeType[index].activeId = val;
			},
			//滑出事件
			activeLeave: index => {
				store.activeType[index].activeId = -1;
			},
			activeClick: (item, index) => {
				if (item == -1) {
					store.activeType[index].indclik = item;
				} else {
					store.activeType[index].indclik = item.value;
				}
				context.emit('activeClick', item);
			},
		};
		//监听popos数据进行状态管理
		watch(
			() => props.typeList,
			newValue => {
				newValue.forEach(() => {
					store.activeType.push({
						activeId: -1, //滑到的
						indclik: -1, //点击获取的
					});
				});
			},
			{
				deep: true,
				immediate: true,
			},
		);
		return {
			...toRefs(store),
			...methods,
		};
	},
});
</script>

<style lang="scss" scoped>
#navlist {
	width: 100%;
	background: #fff;
}
.list {
	width: 1200px;
	margin: auto;
	padding-top: 10px;
}
.nav-main {
	margin: 0 0 10px 0;
	display: flex;
	ul {
		width: 950px;
		display: flex;
		flex-wrap: wrap;
		//justify-content: center;
		align-items: center;
		li {
			padding: 4px 18px;
			margin: 0 4px 15px 0;
			border-radius: 15px;
			cursor: pointer;
			-webkit-transition: background 0.5s ease;
			transition: background 0.5s ease;
			text-decoration: none;
			font-size: 14px;
			font-weight: 400;
		}
		//li:hover{
		//  background: #679cf6;
		//  border-radius: 15px;
		//  color: #fff;
		//}
		.active {
			background: #679cf6;
			color: #fff;
		}
	}
}
.nav-title {
	width: 100px;
	text-align: right;
	font-size: 16px;
	font-weight: 500;
	color: #303849;
	display: inline-block;
	padding: 4px 10px;
	-webkit-transition: background 0.5s ease;
	transition: background 0.5s ease;
}
.active {
	background: rgb(103, 156, 246);
	color: #fff;
	border: none;
	border-radius: 12px;
	padding: 2px 12px;
	cursor: pointer;
	margin: 10px;
}
</style>
