<template>
	<div class="tab">
		<el-tabs v-model="activeName" @tab-click="handleClick">
			<el-tab-pane label="实训大纲" name="first" class="first">
				<ul>
					<li
						v-for="(item, index) in tabsList"
						:key="index"
						:class="curindex == index ? 'active' : ''"
						@click="handleCurindex(index)"
					>
						{{ item.label }}
					</li>
				</ul>
				<ol>
					<li v-for="(item, index) in children" :key="index">
						{{ item.label }}
					</li>
				</ol>
			</el-tab-pane>
			<el-tab-pane label="实训任务" name="second">
				<el-table :data="tableData" style="width: 100%" empty-text="暂无数据">
					<el-table-column label="任务名称"></el-table-column>
					<el-table-column label="考核标准"></el-table-column>
					<el-table-column label="保薪技能"></el-table-column>
					<el-table-column label="提薪技能"></el-table-column>
				</el-table>
			</el-tab-pane>
			<el-tab-pane label="项目资源" name="third">
				<div class="third">
					<p v-for="(item,index) in thirdList" :key="index">{{item.name}}</p>
				</div>
			</el-tab-pane>
			<el-tab-pane label="实训环境" name="fourth">
				<div class="onload">
					<!-- 在线沙箱 -->
					<button @click="onLoadCmd">加载终端</button>
					<iframe
						src="http://49.232.77.197:8081/guacamole"
						v-if="flag"
						class="positionCenter"
					></iframe>
				</div>
			</el-tab-pane>
			<el-tab-pane label="前置项目" name="five">
				<el-pagination
					@size-change="handleSizeChange"
					@current-change="handleCurrentChange"
					:page-size="1"
					layout="prev, pager, next, jumper"
					:total="1"
				>
				</el-pagination
			></el-tab-pane>
		</el-tabs>
	</div>
</template>

<script>
import { reactive, toRefs } from 'vue';
// 接口
import api from '@/api/index.js';
const { getData } = api;
export default {
	setup() {
		const state = reactive({
			flag:false,
			activeName: 'first',
			tabsList: [], //tab切换数据
			curindex:0,
			children:[],
			thirdList: [
				{
					name: '资源名称',
				},
				{
					name: '资源类型',
				},
				{
					name: '提交文件',
				},
				{
					name: '描述',
				},
				{
					name: '教师',
				},
				{
					name: '学生',
				},
			],
		});
		// 获取数据

		const getselectBriefTree = () => {
			getData.tabs().then(res => {
				if (res.data.code == 200) {
					state.tabsList = res.data.data;
				}
			});
		};

		// 方法
		const methods = {
			handleClick(tab, event) {
				console.log(tab, event);
			},

			// 点击切换
			handleCurindex(ind) {
				state.curindex = ind;
				state.children = state.tabsList[ind].children;
			},
		};

// 在线沙箱  加载终端
	const onLoadCmd = () =>{
		console.log(6666666);
		state.flag = true;
	}
		// 初始化
		const init = () => {
			getselectBriefTree();
		};

		init();

		return {
			...toRefs(state),
			...methods,
			onLoadCmd
		};
	},

	components: {},

	created() {},
};
</script>

<style lang="scss" scoped>
.tab {
	width: 100%;
	padding: 10px;

	.first {
		width: 100%;
		display: flex;

		&:nth-child(1) ul {
			width: 260px;
			margin-right: 30px;
			background-color: rgb(240, 241, 244);
			line-height: 56px;

			li {
				height: 56px;
				padding-left: 20px;
				background-color: rgb(240, 241, 244);
			}

			li:hover {
				background: rgb(192, 193, 195);
			}

			.active {
				color: #1890ff;
			}
		}
	}

	span {
		display: inline-block;
		margin: 0 20px;
		font-size: 18px;
	}
	.el-tabs__content {
		background-color: aqua;
	}
	.third {
		width: 200px;
		text-align: right;
		line-height: 50px;
	}
}

.onload{
	width: 100%;
	height: 200px;
	background-color: deepskyblue;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.positionCenter{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
</style>
