<template>
	<div class="bbox">
		<div class="contentpic">
			<vue-picture-cropper
				:boxStyle="{
                    width: '400px',
                    height: '400px',
                    backgroundColor: '#f8f8f8',
                   
                }"
				:img="pic"
				:options="{
                    viewMode: 1,
                    dragMode: 'crop',
                    aspectRatio: 1 / 1,
                    preview: '.preview',
                }"
			/>
			<div class="avatar-wraper">
				<!-- <p>裁切后的Base64图片预览：</p> -->
				<div class="preview" ref="preview">
					<img :src="result" alt="组合式 API" />
				</div>
			</div>
		</div>
		<div class="footbtn">
			<input
				ref="uploadInput"
				type="file"
				accept="image/jpg, image/jpeg, image/png, image/gif"
				@change="selectFile"
			/>选择图片
			<button @click.prevent="getResult()">裁剪</button>
		</div>
	</div>
</template>

<script>
import { ref } from 'vue';
import VuePictureCropper, { cropper } from 'vue-picture-cropper';

export default {
	props: ['imgSrc'],
	name: 'avatar',
	components: {
		VuePictureCropper,
	},

	setup() {
		const uploadInput = ref(null);
		const pic = ref(
			'rBsCHGC8sMqAB2cDAAC8MQ3506s51.jpeg',
		);
		const result = ref('');
		const isShowDialog = ref(false);
		console.log(6666666,pic.value)
			// const reader = new FileReader();   @/static/images/
			// reader.readAsDataURL(pic.value);  http://111.203.59.61:8060/file_service/group1/M00/00/1B/
		/**
		 * 选择图片
		 */
		const selectFile = e => {
			// 重置上一次的结果
			result.value = '';
			// 获取选取的文件
			const target = e.target;
			const { files } = target;

			if (!files) return;
			const file = files[0];
			console.log(file);
			// 转换为base64传给裁切组件
			const reader = new FileReader();
			reader.readAsDataURL(file);
			reader.onload = () => {
				// 更新裁切弹窗的图片源
				pic.value = String(reader.result);
				// 显示裁切弹窗
				isShowDialog.value = true;
				// 清空已选择的文件
				if (!uploadInput.value) return;
				uploadInput.value.value = '';
			};
		};

		/**
		 * 获取裁切结果
		 */
		const getResult = () => {
			// 获取生成的base64图片地址
			const base64 = cropper.getDataURL();
			// 获取生成的blob文件信息
			const blob = cropper.getBlob();
			console.log({ base64, blob });
			// 把base64赋给结果展示区
			result.value = base64;
			// 隐藏裁切弹窗
			isShowDialog.value = false;
		};
		/**
		 * 清除裁切框
		 */
		const clear = () => {
			cropper.clear();
		};
		/**
		 * 重置默认的裁切区域
		 */
		const reset = () => {
			cropper.reset();
		};
		return {
			// 数据
			uploadInput,
			pic,
			result,
			isShowDialog,
			// 方法
			selectFile,
			getResult,
			clear,
			reset,
		};
	},
};
</script>

<style>
.bbox {
	width: 800px;
	height: 500px;
}
.contentpic {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
}
.avatar-wraper {
	width: 300px;
	height: 300px;
	margin-left: 100px;
	border-radius: 50%;
	border: 1px solid #000;
	overflow: hidden;
	/* z-index: 999;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0; */
	background-color: #dec;
}
.preview {
	/* margin-top: 300px; */
	width: 300px;
	height: 300px;
}
</style>
