<template>
	<div class="jibenziliao">
		<el-form
			:model="ruleForm"
			:data="data"
			ref="ruleFormEl"
			label-width="100px"
			class="demo-ruleForm"
		>
			<el-form-item label="用户昵称" prop="nickName">
				<el-input v-model="ruleForm.nickName"></el-input>
			</el-form-item>
			<el-form-item label="手机号码" prop="phonenumber">
				<el-input v-model="ruleForm.phonenumber"></el-input>
			</el-form-item>
			<el-form-item label="邮箱" prop="email">
				<el-input v-model="ruleForm.email"></el-input>
			</el-form-item>
			<el-form-item label="性别" prop="sex">
				<el-radio-group v-model="ruleForm.sex">
					<el-radio label="0">男</el-radio>
					<el-radio label="1">女</el-radio>
				</el-radio-group>
			</el-form-item>
			<el-form-item>
				<el-button type="primary" @click="submitForm">保存</el-button>
				<el-button @click="resetForm">关闭</el-button>
			</el-form-item>
		</el-form>
	</div>
</template>

<script>
import { reactive, toRefs, watch } from 'vue';
import {useRouter} from 'vue-router';
import api from '@/api';
import { ElMessage } from 'element-plus';
const { personData } = api;
export default {
	props: {
		data: {
			type: Object,
		},
		dataList: {
			type: Object,
		},
	},
	setup(props) {
		// 父组件给子组件传参通过 props，子组件中必须先定义props里传过来的值的类型
		console.log(props);
		const router = useRouter();
		const state = reactive({
			newDataObj: {},
			ruleForm: {
				nickName: '', //  用户昵称
				phonenumber: '', //  手机号
				email: '', //   邮箱
				sex: '0', //  性别
			},
			rules: {
				nickName: [
					{ required: true, message: '请输入活动名称', trigger: 'change' },
					{
						min: 3,
						max: 15,
						message: '长度在 3 到 15 个字符',
						trigger: 'change',
					},
				],
				phonenumber: [
					{ required: true, message: '请输入活动名称', trigger: 'change' },
					{
						min: 8,
						max: 12,
						message: '长度在 8 到 12 个字符',
						trigger: 'change',
					},
				],
				email: [
					{ required: true, message: '请输入活动名称', trigger: 'change' },
					{
						min: 3,
						max: 30,
						message: '长度在 3 到 30 个字符',
						trigger: 'change',
					},
				],
				resource: [
					{ required: true, message: '请选择活动资源', trigger: 'change' },
				],
			},
		});
		watch(
			() => props,
			res => {
				state.newDataObj = res.dataList;
				state.ruleForm.nickName = res.data.nickName;
				state.ruleForm.phonenumber = res.data.phonenumber;
				state.ruleForm.email = res.data.email;
			},
			{ deep: true, immediate: true },
		);
		// 保存
		const submitForm = () => {
			const obj = {
				...state.newDataObj.data,
				...state.ruleForm,
			};
			console.log(obj);
			personData.editUserProfile(obj).then(({ data }) => {
				ElMessage.success(data.msg);
			});
		};

		// 关闭
		const resetForm = () => {
			router.push('/home')
		}
		return {
			...toRefs(state),
			submitForm,
			resetForm
		};
	},
};
</script>

<style></style>
