<template>
	<div class="editpassword">
		<el-form
			:model="ruleForm"
			status-icon
			:rules="rules"
			ref="ruleForm"
			label-width="100px"
			class="demo-ruleForm"
		>
			<el-form-item label="旧密码" prop="pass1">
				<el-input
					type="password"
					v-model="ruleForm.pass1"
					autocomplete="off"
				></el-input>
			</el-form-item>
			<el-form-item label="新密码" prop="pass2">
				<el-input
					type="password"
					v-model="ruleForm.pass2"
					autocomplete="off"
				></el-input>
			</el-form-item>
			<el-form-item label="确认密码" prop="checkPass">
				<el-input
					type="password"
					v-model="ruleForm.checkPass"
					autocomplete="off"
				></el-input>
			</el-form-item>
			<el-form-item>
				<el-button type="primary" @click="submitForm('ruleForm')"
					>保存</el-button
				>
				<el-button @click="resetForm('ruleForm')">关闭</el-button>
			</el-form-item>
		</el-form>
	</div>
</template>

<script>
export default {
	data() {
		return {
			ruleForm: {
				pass1: '',
				pass2: '',
				checkPass: '',
			},
			rules: {
				pass1: [{ validator: this.validatePass, trigger: 'change' }],
				pass2: [{ validator: this.validatePass, trigger: 'change' }],
				checkPass: [{ validator: this.validatePass2, trigger: 'change' }],
			},
		};
	},
	methods: {
		// 修改密码
		validatePass(rule, value, callback) {
			// console.log(66666666666666, rule, value, callback);
			if (value === '') {
				callback(new Error('请输入密码'));
			} else {
				if (this.ruleForm.checkPass !== '') {
					this.$refs.ruleForm.validateField('checkPass');
				}
				callback();
			}
		},

		validatePass2(rule, value, callback) {
			// console.log(999999999999, rule, value, callback);
			if (value === '') {
				callback(new Error('请再次输入密码'));
			} else if (value !== this.ruleForm.pass2) {
				callback(new Error('两次输入密码不一致!'));
			} else {
				callback();
			}
		},
	},
};
</script>

<style></style>
