<template>
	<div class="person-center">
		<el-dialog
			title="提示"
			v-model="dialogVisible"
			width="70%"
			:before-close="handleClose"
		>
			<span>这是一段信息</span>
			<Avatar></Avatar>

			<template #footer>
				<span class="dialog-footer">
					<el-button @click="dialogVisible = false">取 消</el-button>
					<el-button type="primary" @click="dialogVisible = false"
						>确 定</el-button
					>
				</span>
			</template>
		</el-dialog>

		<div class="person-left">
			<div class="info-top">
				<p>个人信息</p>
			</div>
			<el-divider style="margin: 0px"></el-divider>
			<div class="info-container">
				<div class="info-img">
					<img
						style="width:120px; height:120px; border-radius:50%"
						:src="ruleForm.avatar"
						alt=""
						@click="dialogVisible = true"
					/>
				</div>
				<el-divider style="margin-bottom:5px"></el-divider>
				<div class="info-bottom">
					<div>
						<span><i class="el-icon-user-solid"></i>用户名 </span>
						<span>{{ruleForm.userName}}</span>
					</div>
					<el-divider style="margin: 0px"></el-divider>
					<div>
						<span><i class="el-icon-mobile-phone"></i>手机号码 </span>
						<span>{{ruleForm.phonenumber}}</span>
					</div>
					<el-divider style="margin: 0px"></el-divider>
					<div>
						<span><i class="el-icon-message"></i>邮箱</span>
						<span>{{ruleForm.email}}</span>
					</div>
					<el-divider style="margin: 0px"></el-divider>
				</div>
			</div>
		</div>
		<div class="person-right">
			<div class="person-right-top">
				<p>基本资料</p>
			</div>
			<el-divider style="margin: 0px"></el-divider>
			<div>
				<!-- 基本资料 -->
				<el-tabs v-model="activeName" @tab-click="handleClick">
					<el-tab-pane label="基本资料" name="first">
						<div>
							<basic :data="ruleForm" :dataList="dataList"></basic>
						</div>
					</el-tab-pane>
					<!-- 修改密码 -->
					<el-tab-pane label="修改密码" name="second">
						<editer></editer>
					</el-tab-pane>
				</el-tabs>
			</div>
		</div>
	</div>
</template>

<script>
import { reactive, toRefs } from 'vue';
import Basic from './basic.vue';
import Editer from './editer.vue';
import Avatar from "./avatar.vue"
import api from '@/api';
export default {
	components: { Basic, Editer,Avatar},
	setup() {
		const { personData } = api;
		const state = reactive({
			dialogVisible: false,
			activeName: 'first',
			ruleForm: {
				nickName: '', //  用户昵称
				userName: '', //  用户名
				phonenumber: '', //  手机号
				email: '', //   邮箱
				avatar: 'http://111.203.59.61:8060', //  返回的图片
			},
			dataList: {},
		});
		//  获取用户信息
		const getProfile = () => {
			personData.getStudentPersonInfo().then(res => {
				console.log(res.data);
				if (res.data.code == 200) {
					state.dataList = res.data;
					state.ruleForm.userName = res.data.data.userName;
					state.ruleForm.phonenumber = res.data.data.phonenumber;
					state.ruleForm.email = res.data.data.email;
					state.ruleForm.nickName = res.data.data.nickName;
					state.ruleForm.avatar = state.ruleForm.avatar + res.data.data.avatar;
				}
			});
		};

		// 初始化调用
		const init = () => {
			getProfile();
		};
		init();
		// tab 切换   基本资料  <------> 修改密码
		const handleClick = (tab, event) => {
			console.log(123, tab, event);
		};

		// 点击图片弹框
		const handleClose = done => {
			this.$confirm('确认关闭？')
				.then(_ => {
					console.log(_)
					done();
				})
				.catch(_ => {
					console.log(_)
				});
		};

		return {
			...toRefs(state),
			handleClick,
			handleClose,

		};
	},
};
</script>

<style lang="scss" scoped>
.person-center {
	width: 100%;
	height: 100%;
	padding: 0 100px;
	display: flex;
}
.person-left {
	width: 278px;
	height: 345px;
	font-size: 13px;
	background-color: #fff;
	border-radius: 10px;
	margin-right: 15px;
	overflow: hidden;
	.info-top {
		width: 278px;
		height: 40px;
		p {
			width: 248px;
			line-height: 40px;
		}
	}
	.info-container {
		width: 278px;
		height: 303px;

		padding: 15px 20px 20px;
		.info-img {
			width: 238px;
			height: 124px;
			text-align: center;
		}
		.info-bottom {
			width: 238px;
			height: 100px;

			div {
				width: 238px;
				line-height: 30px;
				display: flex;
				justify-content: space-between;
			}
		}
	}
}
.person-right {
	width: 900px;
	height: 440px;
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	.person-right-top {
		width: 100%;
		height: 30px;
		line-height: 30px;
	}
}
.content {
	margin: auto;
	max-width: 585px;
	margin-bottom: 100px;
}
.test-button {
	display: flex;
	flex-wrap: wrap;
}
.btn {
	display: inline-block;
	line-height: 1;
	white-space: nowrap;
	cursor: pointer;
	background: #fff;
	border: 1px solid #c0ccda;
	color: #1f2d3d;
	text-align: center;
	box-sizing: border-box;
	outline: none;
	margin: 20px 10px 0px 0px;
	padding: 9px 15px;
	font-size: 14px;
	border-radius: 4px;
	color: #fff;
	background-color: #50bfff;
	border-color: #50bfff;
	transition: all 0.2s ease;
	text-decoration: none;
	user-select: none;
}
.des {
	line-height: 30px;
}
code.language-html {
	padding: 10px 20px;
	margin: 10px 0px;
	display: block;
	background-color: #333;
	color: #fff;
	overflow-x: auto;
	font-family: Consolas, Monaco, Droid, Sans, Mono, Source, Code, Pro, Menlo,
		Lucida, Sans, Type, Writer, Ubuntu, Mono;
	border-radius: 5px;
	white-space: pre;
}
.show-info {
	margin-bottom: 50px;
}

.show-info h2 {
	line-height: 50px;
}
.title {
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 1.5;
	margin: 20px 0px;
	background-image: -webkit-linear-gradient(
		left,
		#3498db,
		#f47920 10%,
		#d71345 20%,
		#f7acbc 30%,
		#ffd400 40%,
		#3498db 50%,
		#f47920 60%,
		#d71345 70%,
		#f7acbc 80%,
		#ffd400 90%,
		#3498db
	);
	color: transparent;
	background-size: 200% 100%;
	animation: slide 5s infinite linear;
	font-size: 40px;
}
.test {
	height: 285px;
}
.model {
	position: fixed;
	z-index: 10;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
}
.model-show {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
.model img {
	display: block;
	margin: auto;
	max-width: 80%;
	user-select: none;
	background-position: 0px 0px, 10px 10px;
	background-size: 20px 20px;
	background-image: linear-gradient(
			45deg,
			#eee 25%,
			transparent 25%,
			transparent 75%,
			#eee 75%,
			#eee 100%
		),
		linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
}
.c-item {
	display: block;
	padding: 10px 0;
	user-select: none;
}
@keyframes slide {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: -100% 0;
	}
}

@media screen and (max-width: 1000px) {
	.content {
		max-width: 90%;
		margin: auto;
	}

	.test {
		height: 400px;
	}
}
</style>
