<script>
import {
	Chart,
	ArcElement,
	LineElement,
	BarElement,
	PointElement,
	BarController,
	BubbleController,
	DoughnutController,
	LineController,
	PieController,
	PolarAreaController,
	RadarController,
	ScatterController,
	CategoryScale,
	LinearScale,
	LogarithmicScale,
	RadialLinearScale,
	TimeScale,
	TimeSeriesScale,
	Decimation,
	Filler,
	Legend,
	Title,
	Tooltip,
	SubTitle,
} from 'chart.js';
// import * as chartJs from 'chart.js';
import { ref, onMounted } from 'vue';
export default {
    props:{
        type:{
            type:String,

            default:'bar'
        },
        data:{
            type:Object,
             required:true,
            default:()=>({})
        },
        options:{
            type:Object,

              default:()=>({})
        }
    },
	setup(props) {

		Chart.register(
			ArcElement,
			LineElement,
			BarElement,
			PointElement,
			BarController,
			BubbleController,
			DoughnutController,
			LineController,
			PieController,
			PolarAreaController,
			RadarController,
			ScatterController,
			CategoryScale,
			LinearScale,
			LogarithmicScale,
			RadialLinearScale,
			TimeScale,
			TimeSeriesScale,
			Decimation,
			Filler,
			Legend,
			Title,
			Tooltip,
			SubTitle,
		);
        const myChart = ref(null);
        onMounted(() => {
            // var ctx = myChart.value.getContext('2d');
         new Chart(myChart.value,{
                ...props
            })
        })
		return ()=>(
            <div class="canvas">
            <canvas id="myChart" ref={myChart} width="400px;" height="300px;"></canvas>
            </div>
        )
	},
};
</script>

<style lang="scss" scoped>
.canvas{
    width: 600px;
    height: 300px;
    background-color: #fff;
    margin:20px;
}
</style>
