<template>
	<div class="detail">
		<v-chart :options="option" :autoresize="true" v-loading="loading"></v-chart>
		<div class="top">
			<el-breadcrumb separator="/">
				<el-breadcrumb-item>面试</el-breadcrumb-item>
				<el-breadcrumb-item>面试记录详情</el-breadcrumb-item>
			</el-breadcrumb>
		</div>
		<div class="box">
			<div class="center">
				<div class="addProject_title">
					<div class="left">
						<span>查看面试记录</span>
					</div>
					<div class="right">
						<el-button @click="$router.go(-1)">返回</el-button>
						<div v-if="identity==='teacher'">
							<el-button
								type="primary"
								v-if="detailist.shield === 0"
								@click="shielding(detailist)"
								>屏蔽</el-button
							>
							<el-button
								type="primary"
								v-if="detailist.shield === 1"
								@click="shielding(detailist)"
								>被屏蔽</el-button
							>
						</div>
					</div>
				</div>
				<div class="addtask_detail">
					<ul>
						<li>
							<p>
								<b>岗位名称：</b>
								{{ detailist.stationName }}
							</p>
							<p>
								<b>公司名称：</b>
								{{ detailist.companyName }}
							</p>
						</li>
						<li>
							<p>
								<b>面试时间：</b>
								{{ detailist.interviewTime }}
							</p>
							<p>
								<b>时长：</b>
								{{ detailist.duration }}
							</p>
						</li>
						<li>
							<p>
								<b>地点：</b>
								{{ detailist.site }}
							</p>
							<p>
								<b>面试官：</b>
								{{ detailist.intervierManagement }}
							</p>
						</li>
						<li>
							<p>
								<b>专业：</b>
								{{ detailist.majorName }}
							</p>
							<p>
								<b>提交人：</b>
								{{ detailist.commitName }}
							</p>
						</li>
						<li>
							<p>
								<b>记录-吐槽：</b>
								{{ detailist.record }}
							</p>
						</li>
						<li>
							<p>
								<b>面试结果：</b>
								<span v-if="detailist.status === 0">不确定</span>
								<span v-if="detailist.status === 1">通过</span>
								<span v-if="detailist.status === 2">未通过</span>
							</p>
						</li>
						<li>
							<p>
								<b>录音文件：</b>
								<span v-if="detailist.soundrecordList === null">无</span>
								<span v-else-if="detailist.soundrecordList">有</span>
							</p>
						</li>
						<li>
							<div>
								<p>
									<b>
										面试问题：
										<span class="questions"
											>请如实填写面试问题和答案，面试中没有作答的题目可略过答案填写，直接输入问题即可。</span
										>
									</b>
								</p>

								<div v-for="(item,index) in askAndanswerList" :key="index">
									<p class="title_h">
										<span class="ask_title">问</span>
										<span class="questionss">{{ item.question }}</span>
									</p>
									<p v-if="item.meeting === 1" class="nullanswer">
										该问题没有作答
									</p>
									<p v-if="item.meeting === 0">
										<span class="answer_detail">答</span>
										<span class="questionss">{{ item.answer }}</span>
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { reactive, toRefs, onMounted } from 'vue';
import { useRoute } from 'vue-router';
import api from '../../../../api';
import { ElMessage,ElLoading } from 'element-plus';

const { details, recordlist } = api;
export default {
	setup() {
		const route = useRoute();
		const state = reactive({
			loading: true ,
			detailist: {}, //单个的对象
			askAndanswerList: [], //问答
			identity:null,
		});

		// 登录状态
		state.identity = window.localStorage.getItem('identity');
		onMounted(() => {
			init();
		});

		const init = () => {
			const { interviewId } = route.params;
			details(interviewId).then(res => {
				if (res.data.code === 200) {
					state.detailist = res.data.data;
					state.askAndanswerList = state.detailist.askAndanswerList;
				}
			});
		};
// loading  加载效果
		const startLoading = () => {
			state.loading = ElLoading.service({
				lock: true,
				text: '加载中……',
				background: 'rgba(0, 0, 0, 0.7)',
			});
		};
		startLoading();
		const endLoading = () => {
			state.loading.close();
			state.loading = false;
		};
		endLoading();
		const shielding = async item => {
			console.log(item);
			const { interviewId } = item;

			let res = await recordlist.getstatus({
				interviewId,
				status: item.shield,
			});

			if (res.data.code === 200) {
				if (item.shield === 0) {
					item.shield = 1;
					ElMessage.success('屏蔽成功');
				} else {
					item.shield = 0;
					ElMessage.success('解除屏蔽成功');
				}
			}
		};

		return {
			...toRefs(state),
			shielding,
		};
	},
};
</script>

<style lang="scss" scoped>
.detail {
	width: 100%;
	height: 100%;
	background: rgba(178, 183, 198, 0.15);
	.top {
		width: 100%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		background: rgba(103, 156, 246, 0.1);
		div {
			padding: 30px;
			width: 1200px;
			margin: 0 auto;
		}
	}
	.box {
		width: 100%;
		margin: 0 auto 20px;
		padding-left: 10px;
		padding-right: 10px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		.center {
			width: 100%;
			background: #fff;
			border-radius: 2px;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			.right{
				display: flex;
				.el-button{
					margin: 0 6px;
				}
			}
			.addProject_title {
				display: flex;
				padding-left: 20px;
				padding-right: 20px;
				height: 70px;
				-webkit-box-pack: justify;
				justify-content: space-between;
				-webkit-box-align: center;
				align-items: center;
				border-bottom: 3px solid #ccc;
			}
			.addtask_detail {
				padding: 10px 112px 40px;

				ul > li {
					display: flex;
					margin-bottom: 30px;
					justify-content: space-between;
					p {
						width: 100%;
					}
				}
			}
		}
	}
}
.title_h {
	margin-top: 20px;
}
.questionss {
	margin-left: 20px;
}
.ask_title,
.answer_detail {
	padding: 10px;
	color: #fff;
	line-height: 50px;
	font-size: 16px;
	margin-left: 30px;
}
.ask_title {
	background: #ff8d41;
}
.answer_detail {
	background: #3bc9a9;
}

.nullanswer {
	padding-left: 80px;
	margin-top: 26px;
}
.questions {
	color: #80879b;
	font-size: 14px;
}
</style>
