.training {
    width: 100%;

    .training_box {
        width: 1200px;
        background: #f4f4f7;
        margin: 5px auto 0;
        display: flex;
        justify-content: space-around;
    }
}

.t_box_left {
    width: 880px;
    background: #fff;
}

.el-tabs {
    .el-tabs__nav-scroll {
        width: 100%;
        height: 60px;
        padding: 0 20px;

        .el-tabs__item {
            padding: 0 20px;
            height: 40px;
            font-size: 18px;
            font-weight: 550;
            margin: 10px 0;
            color: #000;
        }

        .el-tabs__active-bar {
            height: 4px;
            width: 72px;
        }
    }
}

.left_box {
    margin: 20px;

    .el-radio-group {
        label:nth-child(1) span {
            border-radius: 20px 0 0 20px;
        }
        label:nth-child(3) span {
            border-radius: 0 20px 20px 0;
        }
    }

    .plan {
        font-size: 12px;
        color: #80879b;

        li {
            border: 1px solid #e7e9ed;
            margin: 20px 0;
            padding: 20px;

            .plan_top {
                h4 {
                    display: flex;
                    justify-content: space-between;
                    font-size: 14px;
                    color: #000;
                }
            }

            .plan_progres {
                p {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    button {
                        font-size: 16px;
                        color: #ff8d41;
                    }
                }
            }

            .plan_detail {
                margin-top: 20px;

                p {
                    align-items: center;
                    font-size: 14px;
                    display: flex;
                    justify-content: flex-end;
                }

                .rotate {
                    transform: rotate(-180deg);
                    transition: all 0.8s;
                }

                .rotate2 {
                    transition: all 0.8s;
                }

                .plan_detail_box {
                    margin: 20px 0;
                }

                .detail_box_content {
                    border: 1px solid #e7e9ed;
                    // padding: 20px;

                    .detail_top {
                        padding: 20px;
                        background: rgba(178, 183, 198, 0.1);
                        h4 {
                            font-size: 16px;
                            font-weight: 550;
                            color: #303849;
                        }
                        p {
                            display: flex;
                            justify-content: flex-start;
                            font-size: 12px;
                        }
                    }

                    .detail_content {
                        padding: 20px;
                        p {
                            display: flex;
                            justify-content: flex-start;
                            font-size: 12px;
                            margin: 10px 0;

                            span {
                                display: flex;
                                align-items: center;
                                margin-right: 20px;
                            }
                        }
                    }
                }
            }
        }
        .el-table--fit {
            border-left: none;
            border-right: none;
            height: auto;
            text-align: left;

            .el-table th,
            .el-table td {
                text-align: left;
            }
        }
    }
}

.el-pagination {
    text-align: right;
}

.t_box_right {
    width: 280px;
    box-sizing: border-box;
    .right_box {
        background: #fff;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
        border-radius: 2px;
        padding-top: 19px;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .right_top {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 10px;
        .icon {
            display: inline-block;
            width: 3px;
            height: 18px;
            background: #679cf6;
            margin-right: 10px;
        }
        span {
            font-size: 18px;
            font-weight: 550;
            color: #303849;
        }
    }

    .right_content {
        li {
            height: 84px;
            color: #000;
            display: flex;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 12px;
            padding-right: 15px;
            border-left: 3px solid #fff;
            cursor: pointer;
            justify-content: space-around;
            line-height: 30px;
            img {
                width: 64px;
                height: 64px;
            }

            p {
                display: flex;

                span {
                    font-size: 12px;
                    font-weight: 400;
                    color: #80879b;
                    margin-right: 20px;
                    i {
                        font-size: 16px;
                    }
                }
            }
        }
        li:hover {
            border-left: 3px solid #679cf6;
            background: #f0f5fe;
        }
    }
}

.collect_box {
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: space-around;
    > li {
        width: 260px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease-out;
        position: relative;
        margin-left: 9px;
        margin-right: 9px;
        margin-bottom: 20px;
        > i {
            position: absolute;
            right: 10px;
            top: 5px;
            display: none;
            color: #e72424;
            font-size: 22px;
        }
        img {
            width: 260px;
            height: 150px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .img_bottom {
            height: 100px;
            bottom: 0;
            background: #f7f8fa;
            transition: bottom 0.3s;
            position: relative;
            .img_bottom_title {
                width: 100%;
                position: absolute;
                height: 100%;
                padding: 20px 10px 0;
                top: 0;
                background: #f7f8fa;
                overflow: hidden;
                transition: all 0.3s ease-out;
                h4 {
                    line-height: 30px;
                }
            }
            .botton_btttom {
                width: 100%;
                height: 55px;
                color: #666;
                font-size: 13px;
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: #f7f8fa;
                display: flex;
                align-items: center;
                span {
                    margin: 0 5px;
                }
                b {
                    background: #ff8d41;
                    padding: 3px 10px;
                    border-radius: 20px;
                    margin-left: 50px;
                    color: #fff;
                }
            }
        }
    }
    > li:hover > i {
        display: block;
    }
    > li:hover .img_bottom .img_bottom_title {
        top: -60px;
    }
}
