<template>
	<div class="home">
		<div
			class="bawei_nav"
			:class="identity==='teacher'?'bawei-active':'bawei_nav'"
		>
			<div
				class="navBox"
				style="width: 1200px; margin: 0px auto; display: flex; justify-content: space-between; align-items: center;"
			>
				<div class="nav_left flex_center">
					<img
						src="@/static/images/bw.a718dea8.png"
						alt=""
						style="margin-right: 68px; margin-left: 26px; width: 110px; height: 30px;"
						@click="$router.push('/home/chart')"
					/>
					<el-menu
						class="el-menu-demo"
						:default-active="activeIndex"
						mode="horizontal"
						@select="handleSelect"
					>
						<template v-for="item in navList" :key="item.id">
							<el-menu-item
								:index="item.id"
								@click="$router.push(item.path)"
								v-if="!item.children&&!item.child"
							>
								{{item.text}}
							</el-menu-item>
							<el-submenu
								:index="item.id"
								v-if="identity=='teacher'&&item.child"
							>
								<template #title>{{item.text}}</template>
								<template v-if="identity=='teacher'">
									<el-menu-item
										v-for="item1 in item.child"
										:key="item1.id"
										@click="$router.push(item1.path)"
										:index="item.id+'-'+item1.id"
										>{{item1.text}}
									</el-menu-item>
								</template>
							</el-submenu>
							<el-submenu :index="item.id" v-if="item.children">
								<template
									#title
									:class="identity==='teacher'?'el-menu-item':''"
									>{{item.text}}</template
								>
								<el-menu-item
									v-for="item1 in item.children"
									:key="item1.id"
									@click="$router.push(item1.path)"
									:index="item.id+'-'+item1.id"
									>{{item1.text}}
								</el-menu-item>
							</el-submenu>
						</template>
					</el-menu>
				</div>

				<div class="userBox">
					<el-dropdown v-if="identity==='teacher'">
						<span class="icon-span">
							<el-badge :value="total" class="item">
								<i class="el-icon-bell"></i>
							</el-badge>
						</span>

						<template #dropdown>
							<el-dropdown-menu class="wait-work-main">
								<div class="wait-work">
									<h3 class="wait-top">待办事项</h3>
									<div class="wait-content">
										<ul
											v-if="waittingList&&waittingList.length>0"
											class="answer-list"
										>
											<li
												v-for="(item, index) in waittingList"
												:key="index"
												class="list-item"
											>
												<p class="answer-item1">
													<span>
														<b style="margin-right:12px;">【{{item.type}}】</b>
														<span>{{item.questionTitle}}</span>
													</span>
													<span>
														<el-badge is-dot class="item2">数据查询</el-badge>
													</span>
												</p>
												<p
													class="answer-item2"
													@click="$router.push(`/home/answer/detail/${item.answerId}`)"
												>
													{{item.questionContent}}
												</p>
											</li>
										</ul>
										<p v-else class="nodata">暂无数据</p>
									</div>
									<div class="wait-bottom">
										<span @click="$router.push('/home/needHandle')"
											>查看全部</span
										>
									</div>
								</div>
							</el-dropdown-menu>
						</template>
					</el-dropdown>
					<el-dropdown>
						<span class="el-dropdown-link">
							<img
								:src="identity==='teacher'?teacherImg:studentImg"
								alt=""
								style="width: 40px; height: 40px; border-radius: 50%;"
							/>
							<span :class="identity==='teacher'?'username':'user'">
								{{username}}
							</span>
						</span>
						<template #dropdown>
							<el-dropdown-menu class="user-dialog">
								<p @click="$router.push('/home/person')">
									<i class="el-icon-s-custom"></i><span>个人中心</span>
								</p>
								<p
									v-if="identity==='teacher'"
									@click="$router.push('/home/needHandle')"
								>
									<i class="el-icon-c-scale-to-original"></i
									><span>我的待办</span>
								</p>
								<p @click="exitHome()">
									<i class="el-icon-switch-button"></i><span>退出</span>
								</p>
							</el-dropdown-menu>
						</template>
					</el-dropdown>
				</div>
			</div>
		</div>
		<div class="bawei_main">
			<router-view />
		</div>
		<Footer />
	</div>
</template>
<script>
import menuConfig from '@/config/menu.js';
import { reactive, toRefs, computed } from 'vue';
import { useRouter } from 'vue-router';

import { useStore } from 'vuex';
import Footer from '@/components/footer';

export default {
	data() {
		return {
			activeIndex: '1',
			activeIndex2: '1',
		};
	},
	components: { Footer },
	setup() {
		const store = useStore();
		let username = window.localStorage.getItem('username') || '';
		const router = useRouter();
		//设置导航列表
		const state = reactive({

			waittingList: computed(() => {
				// console.log(store.state.specialtyData.blackListWaitList);
				return store.state.specialtyData.blackListWaitList.rows;
			}),
			total: computed(() => {
				return (
					store.state.specialtyData.blackListWaitList.rows &&
					store.state.specialtyData.blackListWaitList.total
				);
			}),
			flag: false,
			identity: window.localStorage.getItem('identity') || '',
			teacherImg: require('@/static/images/rBsCHGDAW9-AUyU0AAUHAjgw_WY032.gif'),
			studentImg: require('@/static/images/rBsCHGC8sMqAB2cDAAC8MQ3506s51.jpeg'),
		});
		if (state.identity === 'teacher') {
			store.dispatch('getBlackListWaitList');
		}

		var navList = [];
		if (state.identity === 'student') {
			navList = menuConfig.menuStudent;
		} else if (state.identity === 'teacher') {
			navList = menuConfig.menuTeacher;
		}

		// 退出登录
		const exitHome = () => {
			// 删除 本地存储 localStorage.removeItem("key");
			window.localStorage.removeItem('token');
			window.localStorage.removeItem('username');
			window.localStorage.removeItem('uuid');
			window.localStorage.removeItem('token');
			router.push('/login');
		};
		const handleSelect = (key, keyPath) => {
			console.log(key, keyPath);
		};

		return {
			...toRefs(state),
			navList,
			username,
			exitHome,
			handleSelect,
		};
	},
};
</script>
<style lang="scss">
.home {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: #eee;
}
.bawei_nav {
	width: 100%;
	height: 70px;
	background: #fff;
	box-shadow: 0 2px 4px #ccc;
}

.el-dropdown-link {
	cursor: pointer;
	display: flex;
	img {
		margin-right: 12px;
	}
	align-items: center;
}

.bawei-active {
	width: 100%;
	height: 70px;
	background: #545c64;
	box-shadow: 0 2px 4px #ccc;
}
.el-menu-demo {
	background: inherit;
}
.el-menu-item {
	color: #fff;
}
.flex_center {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}
.userBox {
	width: 120px;
	height: 100%;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}
.user-dialog {
	width: 120px;
	min-height: 80px;
	font-size: 14px;
	background-color: #fff;
	box-sizing: border-box;
	p {
		padding: 0 12px;
		width: 100%;
		height: 40px;
		display: flex;
		align-items: center;
		cursor: $aCusor;
		i {
			margin-right: 13px;
		}
	}
}
.username {
	color: #fff;
}
.user {
	color: #000;
}
.bawei_main {
	width: 100%;
	height: auto;
	background: #eee;
}
a,
a:focus,
a:hover {
	cursor: $aCusor;
	color: inherit;
	text-decoration: none;
}
.icon-span {
	display: block;
	margin-right: 50px;
	width: 25px;
	height: 25px;
}
.el-icon-bell {
	display: inline-block;
	width: 25px;
	height: 25px;
	color: #fff;
	// background-color: #fff;
	font-size: 24px;
}
.item {
	margin-top: 6px;
	// margin-right: 40px;
}
.el-badge__content {
	width: 28px;
	height: 22px;
	padding-right: 6px;
	line-height: 24px;
	text-align: center;
	border-radius: 50%;
	background-color: red;
}
.wait-work-main {
	width: 300px;
	height: 310px;
	background-color: #fff;
	overflow: hidden;
}
.wait-work {
	width: 300px;
	height: 300px;
	display: flex;
	flex-direction: column;
}
.wait-top {
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #ccc;
}

// 滑过闹钟出现的弹框区的样式
.wait-content {
	flex: 1;
	width: 100%;
	height: 210px;
	overflow: auto;
}
.answer-list {
	width: 100%;
	height: 100%;
	padding: 10px 12px;
	display: flex;
	flex-direction: column;
	.list-item {
		width: 100%;
		height: 64px;
		border-bottom: 1px solid #000;
		.answer-item1 {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.answer-item2 {
			padding: 10px;
		}
	}
}
.nodata {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wait-bottom {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	text-align: center;
}

// 时间 小红点
.answer-item1 {
	.el-badge__content.is-fixed.is-dot {
		left: -29px;
	}
	.item2 {
		margin-top: 10px;
		margin-right: 30px;
	}
}
</style>
