<template>
	<div class="login">
		<v-chart :options="option" :autoresize="true" v-loading="loading"></v-chart>
		<el-form
			:model="state.ruleForm"
			:rules="state.rules"
			ref="ruleForm"
			class="demo-ruleForm"
		>
			<h3>八维生产性实训平台</h3>
			<el-form-item prop="username">
				<el-input
					v-model="state.ruleForm.username"
					placeholder="请输入用户名"
					prefix-icon="el-icon-user-solid"
				></el-input>
			</el-form-item>
			<el-form-item prop="password">
				<el-input
					v-model="state.ruleForm.password"
					placeholder="请输入密码"
					show-password
					prefix-icon="el-icon-search"
				></el-input>
			</el-form-item>
			<el-form-item prop="code">
				<el-input
					class="inp-verify"
					v-model="state.ruleForm.code"
					placeholder="请输入验证码"
				></el-input>
				<img class="pic" :src="state.srcImg" alt="" @click="getCaptchaImage" />
			</el-form-item>

			<div class="box">
				<el-form-item prop="type">
					<el-checkbox-group v-model="state.ruleForm.type">
						<el-checkbox label="记住密码" name="type"></el-checkbox>
					</el-checkbox-group>
				</el-form-item>
				<el-form-item prop="resource">
					<el-radio-group v-model="state.ruleForm.resource">
						<el-radio label="student">学生</el-radio>
						<el-radio label="teacher">老师</el-radio>
					</el-radio-group>
				</el-form-item>
			</div>

			<el-form-item>
				<el-button class="btn" type="primary" @click="submitForm"
					>登录</el-button
				>
			</el-form-item>
		</el-form>
	</div>
</template>
<script>
import { reactive, toRefs } from 'vue';
import { useRouter } from 'vue-router';
import {ElLoading } from "element-plus";
import api from '@/api/index.js';
const { loginData } = api;
export default {
	setup() {
		let state = reactive({
			loading: true,
			srcImg: '',
			ruleForm: {
				username: '',
				password: '',
				code: '',
				type: [],
				resource: 'student',
				desc: '',
			},
			rules: {
				username: [
					{ required: true, message: '请输入用户名', trigger: 'blur' },
					{
						min: 1,
						max: 20,
						message: '长度在 1 到 20 个字符',
						trigger: 'blur',
					},
				],
				password: [
					{ required: true, message: '请输入密码', trigger: 'blur' },
					{ min: 3, max: 8, message: '长度在 3 到 8 个字符', trigger: 'blur' },
				],
				code: [
					{ required: true, message: '请输入验证码', trigger: 'blur' },
					{ min: 1, max: 5, message: '长度在 1 到 5 个字符', trigger: 'blur' },
				],
				type: [
					{
						type: 'array',
						trigger: 'change',
					},
				],
				resource: [{ trigger: 'change' }],
			},
			radio: '1',
			fits: ['fill', 'contain', 'cover', 'scale-down'],
			url: '',
		});
		toRefs(state);
		const router = useRouter();

		const startLoading = () => {
			state.loading = ElLoading .service({
				lock: true,
				text: '加载中……',
				background: 'rgba(0, 0, 0, 0.7)',
			});
		};
startLoading();
		const endLoading = () => {
			state.loading.close();
		};
		endLoading();
		// 获取验证码
		const getVerify = () => {
			loginData.getCaptchaImage().then(res => {
				if (res.status == 200) {
					state.srcImg = 'data:image/gif;base64,' + res.data.img;

					window.localStorage.setItem('uuid', res.data.uuid);
				}
			});
		};

		getVerify();
		// 点击获取验证码
		const getCaptchaImage = () => {
			// 获取验证码
			getVerify();
		};

		// 登录
		const submitForm = () => {
			const obj = {
				username: state.ruleForm.username,
				password: state.ruleForm.password,
				code: state.ruleForm.code,
				key: state.ruleForm.resource,
				uuid: window.localStorage.getItem('uuid'),
			};
			loginData.login(obj).then(res => {
				if (res.data.code == 200) {
					window.localStorage.setItem('token', res.data.token);
					window.localStorage.setItem('username', obj.username);
					window.localStorage.setItem('identity', state.ruleForm.resource);
					router.push('/home');
				}
			});
		};
		return {
			getVerify,
			getCaptchaImage,
			submitForm,
			state,
		};
	},
};
</script>
<style lang="scss" scoped>
.box {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.login {
	width: 100%;
	height: 100%;
	background-image: url('.././static/images/login-background.55b26da3.jpg');
	background-size: cover;
	position: relative;
}

.demo-ruleForm {
	position: absolute;
	top: 100px;
	right: 150px;
	width: 360px;
	height: 400px;
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
}
h3 {
	width: 100%;
	padding: 10px 0px;
	text-align: center;
}
.inp {
	margin-bottom: 20px;
}
.submit {
	width: 100%;
	text-align: center;
}
.btn {
	width: 90%;
	height: 24px;
}
.inp-verify {
	width: 180px;
	margin-right: 15px;
}
.pic {
	display: inline-block;
	width: 100px;
	height: 40px;
	vertical-align: middle;
	background-color: aqua;
}
</style>
