<template>
	<div class="questions">
		<div class="div">
			<div class="back"></div>
			<span>我的问答</span>
		</div>
		<div>
			<img src="" alt="" />
			<span>123456</span>
		</div>
		<div class="div">
			<div class="cc">问</div>
			<span
				><span>提了</span
				><span class="span">{{questionList.numberQuestions}}</span
				><span>个问题,</span>
			</span>
			<span
				><span class="span">{{questionList.numberReplies}}</span
				>人进行了回答<span></span
			></span>
		</div>
		<div class="div">
			<div class="cc1">答</div>
			<span
				><span>回答了</span><span class="span">{{questionList.replyCount}}</span
				><span>个问题</span></span
			>
		</div>
	</div>
</template>

<script>
import app from '@/api/index.js';
const {questionlist} = app;
import { reactive, toRefs } from 'vue';
export default {
	setup() {
		const state = reactive({
            questionList:[]
        });
        const getinit = () => {
			// 接收我的问答部分数据
			questionlist.question().then(res => {
				if (res.status == 200) {
					state.questionList = res.data.data;
				}
			});
		};
		const init = () => {
			getinit();
		};
		const methods = {
        };
        init()
		return {
			...toRefs(state),
			...methods,
		};
	},
};
</script>

<style lang="scss" scoped>
// 我的问答部分css样式
	.questions {
		width: 80%;
		height: 300px;
		background: #fff;
		margin-left: 10%;
		margin-top: 20px;
		padding: 15px;
		.div {
			width: 100%;
			height: 50px;
			display: flex;
			font-size: 16x;
			.back {
				width: 5px;
				height: 30px;
				background: skyblue;
			}
		}
		.span {
			color: red;
			margin-left: 7px;
		}
		.cc {
			width: 30px;
			height: 30px;
			background: #f90;
			color: #fff;
			text-align: center;
			line-height: 30px;
			margin-right: 7px;
		}
		.cc1 {
			margin-right: 7px;
			width: 30px;
			height: 30px;
			background: green;
			color: #fff;
			text-align: center;
			line-height: 30px;
		}
	}
</style>
