<template>
	<div>
		<div data-v-01b3f466="" class="bw_bottom">
			<div data-v-01b3f466="" class="b_b_detail">
				<div data-v-01b3f466="" class="b_b_left">
					<div data-v-01b3f466="" class="bw_img">
						<img
							data-v-01b3f466=""
							src="@/static/images/bottom_logo.c8aa9859.png"
							alt=""
						/>
					</div>
					<div data-v-01b3f466="" class="b_w_tel">400-008-0987</div>
				</div>
				<div data-v-01b3f466="" class="b_b_middle">
					<div data-v-01b3f466="" class="middle_one middle">
						<div data-v-01b3f466="" class="middle_title">走进八维</div>
						<div data-v-01b3f466="" class="href_a">
							<a data-v-01b3f466="" href="http://bwie.cn/bwie/about.html"
								>集团概况</a
							>
						</div>
						<div data-v-01b3f466="" class="href_a">
							<a data-v-01b3f466="" href="http://bwie.cn/bwie/news/index.html"
								>八维动态</a
							>
						</div>
						<div data-v-01b3f466="" class="href_a">
							<a data-v-01b3f466="" href="http://bwie.cn/bwie/lead.html"
								>领导关怀</a
							>
						</div>
						<div data-v-01b3f466="" class="href_a">
							<a data-v-01b3f466="" href="http://bwie.cn/bwie/honour.html"
								>企业荣誉</a
							>
						</div>
					</div>
					<div data-v-01b3f466="" class="middle_two middle">
						<div data-v-01b3f466="" class="middle_title">八维文化</div>
						<div data-v-01b3f466="" class="href_a">
							<a data-v-01b3f466="" href="http://bwie.cn/bwie/culture.html"
								>八维理念</a
							>
						</div>
						<div data-v-01b3f466="" class="href_a">
							<a data-v-01b3f466="" href="http://bwie.cn/bwie/spirit.html"
								>八维精神</a
							>
						</div>
						<div data-v-01b3f466="" class="href_a">
							<a data-v-01b3f466="" href="http://bwie.cn/bwie/dak.html"
								>文化驿站</a
							>
						</div>
					</div>
					<div data-v-01b3f466="" class="middle_three middle">
						<div data-v-01b3f466="" class="middle_title">社会责任</div>
						<div data-v-01b3f466="" class="href_a">
							<a data-v-01b3f466="" href="http://bwie.cn/bwie/duty/public.html"
								>社会公益</a
							>
						</div>
						<div data-v-01b3f466="" class="href_a">
							<a data-v-01b3f466="" href="http://bwie.cn/bwie/duty/great.html"
								>大善之举</a
							>
						</div>
					</div>
					<div data-v-01b3f466="" class="middle_four middle">
						<div data-v-01b3f466="" class="middle_title">联系我们</div>
						<div data-v-01b3f466="" class="href_a">
							<a data-v-01b3f466="" href="http://bwie.cn/bwie/partners.html"
								>业务合作</a
							>
						</div>
						<div data-v-01b3f466="" class="href_a">
							<a data-v-01b3f466="" href="http://bwie.cn/bwie/sign_up.html"
								>咨询报名</a
							>
						</div>
						<div data-v-01b3f466="" class="href_a">
							<a data-v-01b3f466="" href="http://bwie.cn/bwie/concact.html"
								>联系方式</a
							>
						</div>
					</div>
				</div>
				<div data-v-01b3f466="" class="b_b_right">
					<img
						data-v-01b3f466=""
						src="@/static/images/wechat.e60a83ec.png"
						alt=""
					/>
					<div data-v-01b3f466="" class="wechat_text">八维微信公众号</div>
				</div>
			</div>
			<div data-v-01b3f466="" class="b_b_sign">
				京公网安备 11010802031438号 © Copyright 2020. 八维教育版权所有 |
				京ICP备12008262号-12
			</div>
		</div>
	</div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.bw_bottom {
	width: 100%;
	height: 227px;
	margin: 10px auto;
	background-color: #353d53;
}
.bw_bottom .b_b_detail {
	width: 1200px;
	margin: 0 auto;
	height: 180px;
	background: #353d53;
	display: flex;
	align-items: center;
}
.bw_bottom .b_b_detail .b_b_left {
	width: 15%;
	display: flex;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}
.bw_bottom .b_b_detail .b_b_left .bw_img img[data-v-01b3f466] {
	    width: 110px;
    height: 31px;
	border-style: none;
}
.bw_bottom .b_b_detail .b_b_left .b_w_tel[data-v-01b3f466] {
    font-size: 21px;
    margin-top: 43px;
    color: white;
}
.bw_bottom .b_b_detail .b_b_middle[data-v-01b3f466] {
    width: 40%;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-left: 97px;
}
.bw_bottom .b_b_detail .b_b_middle {
	width: 40%;
	display: flex;
	flex-direction: row;
	margin-left: 97px;
}
.bw_bottom .b_b_detail .b_b_middle .middle[data-v-01b3f466] {
    text-align: center;
}
.bw_bottom .b_b_detail .b_b_middle .middle .middle_title[data-v-01b3f466] {
    font-size: 16px;
    font-family: SourceHanSansCN-Regular,SourceHanSansCN;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
}
.bw_bottom .b_b_detail .b_b_middle .middle .href_a[data-v-01b3f466] {
    font-size: 14px;
    font-family: SourceHanSansCN-Regular,SourceHanSansCN;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    padding: 5px;
}
.bw_bottom .b_b_detail .b_b_right[data-v-01b3f466] {
    width: 15%;
    height: 100%;
    margin-left: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.bw_bottom .b_b_detail .b_b_right .wechat_text[data-v-01b3f466] {
    margin-top: 10px;
    font-size: 14px;
    font-family: SourceHanSansCN-Regular,SourceHanSansCN;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}
.bw_bottom .b_b_detail .b_b_right {
	width: 15%;
	height: 100%;
	margin-left: 30%;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: center;
	align-items: center;
}
.bw_bottom .b_b_sign {
	width: 100%;
	text-align: center;
	line-height: 47px;
	height: 47px;
	background: #252b3a;
	font-size: 12px;
	font-family: SourceHanSansCN-Regular, SourceHanSansCN;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.65);
}
</style>
