<template>
	<div class="myrecord_main">
		<div class="pro_operation">
			<div class="rules" v-if="identity === 'student'">
				<i class="el-icon-magic-stick"></i>
				<div class="blocks">
					<p>我的面试记录规则</p>
					<div class="content_blocks">
						<p>1.“我的面试记录" 状态包括“正常”。“被屏蔽” 。</p>
						<p>
							2.“正常”状态下学生可对面试记录进行查看、修改、保存操作，保存。
						</p>
						<p>
							3.“被屏蔽"
							是指当学生发布的面试记录中包含虚假信息或违规操作，而被指导老师屏蔽。在该状态下学生可进行查看、修改、保存操作，但在面试记录库中不可见。
						</p>

						<p>4.如需解除“被屏蔽”状态，请线下联系自己的指导老师。</p>
					</div>
				</div>
			</div>

			<el-checkbox
				style="margin-right:8px;margin-top:10px"
				v-if="identity === 'student'"
				>仅查看正常</el-checkbox
			>
			<input
				v-model="searchTitle"
				placeholder="搜索岗位/公司名称"
				style="width:300px;"
				@change="searchValue"
				class="el-input__inner"
			/>
			<span class="el-input__suffix">
				<span class="el-input__suffix-inner">
					<!-- <i class="el-input__icon el-icon-search"></i> -->
				</span>
			</span>

			<el-button
				v-if="identity === 'student'"
				style="background: rgb(103, 156, 246); color: rgb(255, 255, 255); margin-left: 10px;"
				@click="$router.push('/home/addrecord')"
			>
				<span class="additem">+</span>添加面试记录
			</el-button>
		</div>
		<div class="table">
			<el-table
				:data="list"
				border
				style="width: 100%"
				:header-cell-style="headClass"
				:cell-style="rowClass"
			>
				<el-table-column label="岗位名称">
					<template #default="scope">
						<el-button
							type="text"
							size="small"
							@click="gorecordetail(scope.row)"
							>{{ scope.row.stationName }}</el-button
						>
					</template>
				</el-table-column>
				<el-table-column
					prop="companyName"
					label="公司名称"
					width="180"
				></el-table-column>
				<el-table-column
					prop="interviewTime"
					label="面试时间"
				></el-table-column>
				<el-table-column
					prop="intervierManagement"
					label="面试官"
				></el-table-column>
				<el-table-column prop="majorName" label="专业"></el-table-column>
				<el-table-column prop="commitName" label="提交人"></el-table-column>

				<el-table-column label="面试结果">
					<template #default="scope">
						<span v-if="scope.row.status === 0" class="uncertain">不确定</span>
						<span v-if="scope.row.status === 1" class="pass">通过</span>
						<span v-if="scope.row.status === 2" class="nopass">没通过</span>
					</template>
				</el-table-column>
				<el-table-column
					prop="issoundrecord"
					label="录音文件"
					:formatter="stateIssound"
				></el-table-column>
				<el-table-column label="屏蔽" v-if="identity === 'student'">
					<template #default="scope">
						<span v-if="scope.row.shield === 0" class="normal">正常</span>
						<span v-if="scope.row.shield === 1" class="shield">被屏蔽</span>
					</template>
				</el-table-column>

				<el-table-column label="屏蔽" v-if="identity === 'teacher'">
					<template #default="scope">
						<el-switch
							v-model="scope.row.shield"
							active-color="#1890ff"
							inactive-color="#DCDFE6"
							:active-value="1"
							:inactive-value="0"
							@change="changeSheild(scope.row)"
						></el-switch>
					</template>
				</el-table-column>

				<el-table-column label="操作" v-if="identity === 'student'">
					<template #default="scope">
						<el-button type="text" size="small" @click="goedit(scope.row)">
							<i class="el-icon-edit-outline"></i>
						</el-button>
						<el-button type="text" size="small" @click="deleteitem(scope.row)">
							<i class="el-icon-delete"></i>
						</el-button>
					</template>
				</el-table-column>
			</el-table>
		</div>
		<div class="block">
			<el-pagination
				@current-change="handleCurrentChange"
				:current-page="pageNum"
				:page-size="pageSize"
				layout="prev, pager, next,jumper"
				:total="total"
			></el-pagination>
		</div>

		<!-- 删除对话框 -->
		<el-dialog
			title="提示"
			v-model="dialogVisible"
			width="30%"
			:before-close="handleClose"
		>
			<span>你确定要删除该项面试记录吗?</span>
			<template #footer>
				<span class="dialog-footer">
					<el-button @click="dialogVisible = false">取 消</el-button>
					<el-button type="primary" @click="sureDele">确 定</el-button>
				</span>
			</template>
		</el-dialog>
	</div>
</template>
<script>
import { reactive, toRefs, onMounted } from 'vue';
import { ElMessage } from 'element-plus';
import { useRouter } from 'vue-router';
import api from '../api';
const { recordlist, deletelist } = api;
export default {
	setup() {
		const router = useRouter();
		const state = reactive({
			value: true,
			list: [],
			pageSize: 8,
			pageNum: 1,
			total: null,
			searchTitle: '', //要搜索的内容
			dialogVisible: false, //显示隐藏删除弹框
			interviewId: null, //删除id
			identity: null, //登录状态
		});
		// 登录状态
		state.identity = window.localStorage.getItem('identity');

		onMounted(() => {
			init();
		});

		const getData = async () => {
			const { pageSize, pageNum, searchTitle } = state;
			let res =
				state.identity === 'student'
					? await recordlist.getmyrecord({ pageSize, pageNum, searchTitle })
					: await recordlist.getinterviewManagelist({
						pageSize,
						pageNum,
						searchTitle,
					});
			if (res.data.code === 200) {
				state.list = res.data.rows;
				state.total = res.data.total;
			}
		};
		const init = () => {
			getData();
		};
		const methods = {
			//表格样式
			headClass() {
				return 'background:#E8E9EE;text-align:center';
			},
			rowClass() {
				return 'text-align:center';
			},

			// 判断是否有录音文件
			stateIssound(row) {
				if (row.soundrecordList === null) {
					return '无';
				} else {
					return '有';
				}
			},

			// 搜索
			searchValue(searchTitle) {
				console.log(searchTitle);
				state.pageNum = 1;
				getData();
			},

			// 切换分页
			handleCurrentChange(i) {
				state.pageNum = i;
				init();
			},

			// 跳详情
			gorecordetail(row) {
				const { interviewId } = row;
				router.push(`/home/recordetail/${interviewId}`);
			},

			// 删除
			deleteitem(row) {
				state.interviewId = row.interviewId;
				state.dialogVisible = true;
			},
			// 确认删除
			sureDele() {
				const { interviewId } = state;
				console.log(interviewId);
				deletelist(interviewId).then(res => {
					if (res.data.code === 200) {
						ElMessage.success({
							message: '删除成功',
							type: 'success',
						});
						getData();
					}
				});
				state.dialogVisible = false;
			},

			// 切换屏蔽状态
			async changeSheild(row) {
				let res = await recordlist.getstatus({
					interviewId: row.interviewId,
					status: row.shield,
				});

				if (row.shield === 0) {
					ElMessage.success('取消成功');
				} else if (row.shield === 1) {
					ElMessage.success('屏蔽成功');
				}
				if (res.code === 200) {
					init();
				}
			},

			// 编辑
			goedit(row) {
				const { interviewId } = row;
				router.push({
					path: '/home/addrecord',
					query: { interviewId },
				});
			},
		};
		return {
			...toRefs(state),
			...methods,
		};
	},
};
</script>

<style lang="scss">
.myrecord_main {
	margin: 0 30px;
}
.block {
	display: flex;
	justify-content: flex-end;
}

.pro_operation {
	float: right;
	display: flex;
	margin-top: 17px;
	margin-bottom: 10px;
	position: relative;
	.el-input__suffix {
		position: absolute;
		right: 168px;
		top: 3px;
	}
}

.el-icon-edit-outline,
.el-icon-delete {
	display: inline-block;
	font-size: 25px;
}

.pass {
	color: #29cb97;
	font-weight: 400;
}
.nopass {
	color: #e34949;
	font-weight: 400;
}

.shield {
	color: #e34949;
	font-weight: 400;
}
.rules {
	margin-top: 10px;
	.el-icon-magic-stick {
		margin-right: 20px;
		position: relative;
		cursor: pointer;
	}
	.blocks {
		width: 300px;
		position: absolute;
		padding: 20px;
		z-index: 999;
		height: auto;
		display: none;
		left: -24px;
		top: 38px;
		background: #fff;
		box-shadow: 0px 0px 10px 0px rgb(51 51 51 / 20%);
		.content_blocks {
			font-size: 12px;
			line-height: 20px;
			color: #80879b;
			margin-top: 10px;
		}
	}
	&:hover .blocks {
		display: block;
	}
}

.additem {
	font-size: 18px;
	padding: 0 6px;
	display: inline-block;
}
</style>
