.addProject {
    width: 100%;
    height: 100%;
    background-color: #eee;
    // 面包屑
    .highpost-breadcrumb {
        width: 100%;
        height: 70px;
        background: #679cf61a;
        .breadcrumb {
            width: 1200px;
            margin: auto;
            line-height: 70px;
            padding-left: 15px;
            a {
                font-size: 14px;
                color: #80879b;
            }
            i {
                color: #80879b;
                padding: 0 3px;
            }
        }
    }
    // 主体部分
    .main {
        width: 1200px;
        margin: auto;
        .head {
            width: 100%;
            height: 70px;
            background-color: #fff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;
                > span {
                    border-left: 3px solid #679cf6;
                    font-size: 18px;
                    font-weight: 550;
                    color: #303849;
                    padding-left: 10px;
                }
                button {
                    width: 110px;
                    border: 1px solid #679cf6;
                }
        }
        .cont {
            width: 100%;
            background-color: #fff;
            margin: 20px 0;
            border-radius: 2px;
            .top {
                width: 100%;
                height: 70px;
                line-height: 70px;
                text-indent: 20px;
                border-bottom: 1px solid #b2b7c699;
                span {
                    border-left: 3px solid #679cf6;
                    font-size: 18px;
                    font-weight: 550;
                    color: #303849;
                    padding-left: 10px;
                }
            }
            .bottom {
                padding: 40px 33px;

// **************************************************************




















// **************************************************************


                // 详情页面
                .see {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    .see_left {
                        box-sizing: inherit;
                        > div {
                            display: flex;
                            margin-bottom: 20px;
                            line-height: 36px;
                            p {
                                margin-left: 100px;
                                font-size: 14px;
                                font-family: SourceHanSansCN-Regular, SourceHanSansCN;
                                font-weight: 400;
                                color: #80879b;
                            }
                        }
                        span {
                            font-size: 14px;
                            font-family: SourceHanSansCN-Regular, SourceHanSansCN;
                            font-weight: 400;
                            color: #80879b;
                        }
                    }
                    .see_right {
                        box-sizing: inherit;
                        > div {
                            display: flex;
                            margin-bottom: 20px;
                        }
                    }
                    label {
                        width: 100px;
                        text-align: right;
                        margin-right: 10px;
                        vertical-align: middle;
                        font-weight: 600;
                        float: left;
                        color: #606266;
                        font-size: 14px;
                        padding: 0 12px 0 0;
                        box-sizing: border-box;
                    }
                }
            }
        }
        .foot {
            width: 100%;
            background-color: #fff;
        }
    }
}
