.project {
  width: 100%;
  height: 100%;
  background-color: #eee;
  margin-top: 10px;
}

.project .main {
  width: 80%;
  margin: 10px auto;
  padding: 0 20px;
  height: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.project .main .project_list {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.project .main .project_list .redio_left {
  width: 210px;
}

.project .main .project_list .redio_left .el-radio-group label:nth-child(1) span {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.project .main .project_list .redio_left .el-radio-group label:nth-child(3) span {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.project .main .project_list .redio_right {
  width: 250px;
  height: 40px;
}

.project .main .project_list .redio_right .el-input__inner {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 40px;
  width: 100%;
}

.project .main .project_page {
  width: 100%;
  height: 100%;
}

.project .main .project_page .card {
  width: 100%;
}

.project .main .project_page .card > div {
  width: 260px;
  height: 260px;
  overflow: hidden;
  background-color: #f7f8fa;
  position: relative;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.project .main .project_page .card > div > img {
  width: 260px;
  height: 154px;
  cursor: pointer;
  border-radius: 5px 5px 0px 0px;
}

.project .main .project_page .card > div > i {
  position: absolute;
  right: 10px;
  top: 5px;
  display: none;
}

.project .main .project_page .card > div .active {
  color: #e72424;
}

.project .main .project_page .card > div .img_bottom {
  height: 100px;
  bottom: 0;
  background: #f7f8fa;
  -webkit-transition: bottom 0.3s;
  transition: bottom 0.3s;
  position: relative;
  border-radius: 5px 5px 0px 0px;
}

.project .main .project_page .card > div .img_bottom .project_title {
  position: absolute;
  height: 100%;
  padding: 20px 10px 0;
  top: 0px;
  background: #f7f8fa;
  overflow: hidden;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.project .main .project_page .card > div .img_bottom .project_title p:nth-child(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 700;
  color: #303849;
}

.project .main .project_page .card > div .img_bottom .project_title p:nth-child(2) {
  display: -webkit-box;
  margin-top: 12px;
  color: #666;
  font-size: 13px;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.project .main .project_page .card > div .img_bottom .project_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 53px;
  padding: 5px 10px;
  font-size: 12px;
  color: #9b9da2;
  background: #f7f8fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project .main .project_page .card > div .img_bottom .project_bottom .flex_left span {
  margin: 0 6px;
}

.project .main .project_page .card > div .img_bottom .project_bottom .flex_right button {
  width: 90px;
  height: 35px;
  background: #ff8d41;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  color: #fff;
}

.project .main .project_page .card > div:hover > i {
  display: block;
}

.project .main .project_page .card > div:hover .img_bottom .project_title {
  top: -60px;
}
