.project {
    width: 100%;
    height: 100%;
    background-color: #eee;
    .highpost-breadcrumb {
        width: 100%;
        height: 70px;
        background: #679cf61a;
        .breadcrumb {
            width: 1200px;
            margin: auto;
            line-height: 70px;
            padding-left: 15px;
            a {
                font-size: 14px;
                color: #80879b;
            }
            i {
                color: #80879b;
                padding: 0 3px;
            }
        }
    }
    .main {
        width: 1200px;
        margin: 10px auto;
        height: 100%;
        padding: 10px;
        background-color: #fff;
        border-radius: 5px;
        .project_list_student {
            padding: 10px 0px;
            display: flex;
            justify-content: space-between;
            .redio_left {
                width: 210px;
                .el-radio-group label:nth-child(1) span {
                    border-top-left-radius: 30px;
                    border-bottom-left-radius: 30px;
                }
                .el-radio-group label:nth-child(3) span {
                    border-top-right-radius: 30px;
                    border-bottom-right-radius: 30px;
                }
            }
            .redio_right {
                width: 250px;
                height: 40px;
                .el-input__inner {
                    background-color: #ffffff;
                    border-radius: 4px;
                    border: 1px solid #dcdfe6;
                    color: #606266;
                    height: 40px;
                    width: 100%;
                }
            }
        }

        .project_list_theacher {
            padding: 10px 0px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            .redio_select {
                margin: 0 20px;
            }
        }

        .project_page {
            width: 100%;
            height: 100%;
            .card_student {
                width: 100%;
                > div {
                    width: 260px;
                    height: 260px;
                    overflow: hidden;
                    background-color: #f7f8fa;
                    position: relative;
                    display: inline-block;
                    margin: 10px;
                    border-radius: 5px;
                    -webkit-transition: all 0.2s ease-out;
                    transition: all 0.2s ease-out;
                    > img {
                        width: 260px;
                        height: 154px;
                        cursor: pointer;
                        border-radius: 5px 5px 0px 0px;
                    }
                    > i {
                        position: absolute;
                        right: 10px;
                        top: 5px;
                        display: none;
                    }
                    .active {
                        color: #e72424;
                    }
                    .img_bottom {
                        height: 100px;
                        bottom: 0;
                        background: #f7f8fa;
                        -webkit-transition: bottom 0.3s;
                        transition: bottom 0.3s;
                        position: relative;
                        border-radius: 5px 5px 0px 0px;
                        .project_title {
                            position: absolute;
                            height: 100%;
                            padding: 20px 10px 0;
                            top: 0px;
                            background: #f7f8fa;
                            overflow: hidden;
                            transition: all 0.3s ease-out;
                            cursor: pointer;
                            p:nth-child(1) {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                font-size: 16px;
                                font-weight: 700;
                                color: #303849;
                            }
                            p:nth-child(2) {
                                display: -webkit-box;
                                margin-top: 12px;
                                color: #666;
                                font-size: 13px;
                                line-height: 1.4;
                                -webkit-line-clamp: 3;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                word-wrap: break-word;
                            }
                        }
                        .project_bottom {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            left: 0;
                            height: 53px;
                            padding: 5px 10px;
                            font-size: 12px;
                            color: #9b9da2;
                            background: #f7f8fa;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .flex_left {
                                span {
                                    margin: 0 6px;
                                }
                            }
                            .flex_right {
                                button {
                                    width: 90px;
                                    height: 35px;
                                    background: #ff8d41;
                                    border-radius: 30px;
                                    border: none;
                                    font-size: 16px;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                > div:hover > i {
                    display: block;
                }
                > div:hover .img_bottom .project_title {
                    top: -60px;
                }
            }
            .card_teacher {
                width: 100%;
                .name-wrapper {
                    i {
                        font-size: 20px;
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}
// .redio_left {
//     .el-radio-group {
//         border-radius: 10px !important;
//         .el-radio-button {
//             border-radius: 10px !important;
//             .el-radio-button__inner {
//                 border-radius: 20px !important;
//             }
//         }
//     }
// }
