.teacheradd {
    width: 100%;
    height: 100%;
    background-color: #eee;
    .highpost-breadcrumb {
        width: 100%;
        height: 70px;
        background: #679cf61a;
        .breadcrumb {
            width: 1200px;
            margin: auto;
            line-height: 70px;
            padding-left: 15px;
            a {
                font-size: 14px;
                color: #80879b;
            }
            i {
                color: #80879b;
                padding: 0 3px;
            }
        }
    }
}
