<template>
	<div class="box_model">
		<div class="breadcrumb_box">
			<el-breadcrumb separator="/" class="breadcrumb_box-content">
				<el-breadcrumb-item :to="{ path: '/home' }" style="font-weight:normal;"
					>岗位</el-breadcrumb-item
				>
				<el-breadcrumb-item>岗位能力画像</el-breadcrumb-item>
			</el-breadcrumb>
		</div>
		<div class="breadcrumb_container">
			<div class="box_model-header">
				<div class="top_left">
					<span class="icon"></span>
					<span class="top_left_title">基本信息</span>
				</div>
				<el-button class="el-button" @click="$router.go(-1)">返回</el-button>
			</div>
			<div class="form_detail">
				<div class="div_table">
					<div class="div_table-thead">
						<p>
							<b>岗位名称</b><span>{{dataObj.name}}</span>
						</p>
						<p>
							<b>专业</b><span>{{dataObj.majorName}}</span>
						</p>
						<p>
							<b>版本号</b><span>V{{dataObj.stationVersion}}</span>
						</p>
						<p>
							<b>作者</b><span>{{dataObj.userName}}</span>
						</p>
					</div>
					<div class="tablelist">
						<div class="kuang">
							<div class="div_table-left one">薪酬范围*</div>
							<div class="div_table-right first">
								<div class="block">
									<el-slider
										v-model="value"
										range
										show-stops
										:max="10"
										:marks="marks"
										:format-tooltip="formatTooltip"
										disabled
									>
									</el-slider>
								</div>
							</div>
						</div>
						<el-divider style="margin: 0px;"></el-divider>
						<div class="kuang">
							<div class="div_table-left two">岗位描述*</div>
							<div class="div_table-right"></div>
						</div>
						<el-divider style="margin: 0px"></el-divider>
						<div class="kuang">
							<div class="div_table-left three">岗位任务</div>
							<div class="div_table-right">htrhhdhdh</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="breadcrumb_footer">
			<dl>
				<dt>
					<el-input
						placeholder="请输入内容"
						suffix-icon="el-icon-search"
						v-model="input2"
						:disabled="true"
						@change="getPostInfo(input2)"
					></el-input>
					<p class="line"></p>
				</dt>
				<dd>
					<p>
						<b>掌握要求</b>
						<span>
							<el-rate
								v-model="value1"
								disabled
								show-score
								text-color="#ff9900"
								score-template="了解"
							>
							</el-rate>
						</span>
						<span>一星到三星分别代表了解、掌握、精通3个级别</span>
					</p>
					<p><b>能力标准</b><span></span></p>
				</dd>
			</dl>
		</div>
	</div>
</template>

<script>
import { reactive, ref, toRefs, onMounted } from 'vue';
import { useRoute } from 'vue-router';
import api from '@/api';
import { ElLoading } from 'element-plus';
export default {
	setup() {
		const { personDetailInfo } = api;
		console.log(personDetailInfo);
		const route = useRoute();
		const { id } = route.params;

		const state = reactive({
			loading: true,
			dataObj: {},
		});
		const getStudentPersonInfo = () => {
			personDetailInfo({ stationVersionId: id }).then(res => {
				console.log(888888888888, res);
				if (res.data.code === 200) {
					state.dataObj = res.data.data;
				}
			});
		};
		// getStudentPersonInfo();
		const getInit = () => {
			getStudentPersonInfo();
		};
		getInit();
		onMounted(() => {
			getInit();
		});
		const getPostInfo = e => {
			console.log(222, e);
		};
		const formatTooltip = val => {
			return val * 5000;
		};


		// loading  加载效果
		const startLoading = () => {
			state.loading = ElLoading.service({
				lock: true,
				text: '加载中……',
				// background: 'rgba(0, 0, 0, 0.7)',
				background: '#409EFF',
			});
		};
		startLoading();
		const endLoading = () => {
			state.loading.close();
		};
		onMounted(() => {
			endLoading();
		});
		return {
			...toRefs(state),
			formatTooltip,
			getStudentPersonInfo,
			getPostInfo,
			value1:1,
			value: [1.2, 2.4, 20, 30, 40, 50],
			input2: ref(''),
			marks: {
				0: '',
				1: '5K',
				2: '8K',
				4: '20K',
				6: '30K',
				8: {
					style: {
						color: '#1989FA',
					},
					label: '40K',
				},
			},
		};
	},
};
</script>

<style lang="scss" scoped>
.box_model {
	width: 100%;
	height: 100%;
}
.breadcrumb_box {
	width: 100%;
	height: 73px;
	display: flex;
	padding-left: 20px;
	align-items: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: rgba(103, 156, 246, 0.1);
}
.breadcrumb_box-content {
	box-sizing: border-box;
	margin: 0;
	padding-left: 155px;
	font-weight: normal;
}
/* box-shadow: offset-x offset-y [blur [spread]] [color] [inset]
 box-shadow 属性用于向盒子添加一个或多个阴影效果。
 offset-x：阴影的水平偏移量。正数向右偏移，负数向左偏移。
 offset-y：阴影的垂直偏移量。正数向下偏移，负数向上偏移。
 blur：阴影模糊度，不能取负数。
 spread：阴影大小。正数阴影扩大（阴影大小大于盒子大小），负数阴影缩小（阴影大小小于盒子大小），0阴影与盒子同等大小。
inset：表示添加内阴影，默认为外阴影。*/

.breadcrumb_container {
	width: 80%;
	height: 710px;
	margin: 3px auto;
	background-color: #fff;
	box-shadow: 0px 0px 3px #333;
}
.box_model-header {
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #ccc;
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	height: 70px;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
}
.icon {
	width: 3px;
	height: 18px;
	background: #679cf6;
	display: block;
	margin-right: 10px;
}
.top_left_title {
	display: block;
	font-size: 18px;
	font-weight: 550;
	color: #303849;
}
.top_left {
	display: flex;
}
.el-button {
	width: 100px;
	height: 40px;
}
.form_detail {
	width: 100%;
	height: 647px;
	padding: 30px 20px;
	// background-color: #679cf6;
	.div_table {
		width: 100%;
		height: 100%;
		background-color: #fff;
		.div_table-thead {
			width: 100%;
			height: 73px;
			// background-color: #eee;
			display: flex;
			justify-content: space-around;
			align-items: center;
		}
	}
}
.div_table-thead p {
	font-size: 14px;
}
.div_table-thead p b {
	color: #606266;
	margin-right: 15px;
}
.tablelist {
	width: 100%;
	height: 529px;
	border: 1px solid #666;
}
.tablelist .kuang {
	width: 100%;
	height: auto;
	display: flex;
}
.tablelist .kuang .div_table-left {
	width: 227px;
	height: 129px;
	background-color: #c5d0de;
	display: flex;
	justify-content: center;
	align-items: center;
}
.tablelist .kuang .two {
	height: 199px;
}
.tablelist .kuang .three {
	height: 199px;
}

.div_table-right {
	flex: 1;
	padding: 5px 15px;
}
.first {
	padding-top: 40px;
}
.breadcrumb_footer {
	width: 80%;
	margin: 5px auto;
	height: 200px;
	background-color: #fff;
	border: 1px solid #000;
	dl {
		width: 100%;
		height: 200px;
		padding: 15px;
		display: flex;
		dt {
			width: 30%;
			height: 100%;
			background-color: #eee;
		}
		dd {
			width: 70%;
			height: 100%;
			padding: 15px;

			p {
				line-height: 40px;
				font-size: 12px;
				display: flex;
				align-items: center;
				span{
					margin-left: 10px;
				}
			}
		}
	}
}

.line {
	width: 100%;
	height: 1px;
	margin: 10px 0;
	background-color: #ccc;
}
</style>
