<template>
	<v-chart :options="option" :autoresize="true" v-loading="loading"></v-chart>
	<div class="highpost">
		<!-- 面包屑 -->
		<div v-if="identity==='teacher'" class="highpost-breadcrumb">
			<div class="breadcrumb">
				<nav-com />
			</div>
		</div>
		<div class="main-toper">
			<div class="main-top1">
				<p class="top-1">专业：</p>
				<p class="top-21">
					<a
						v-for="(item,i) in specialtyList"
						:key="item.id"
						@click="getChildrenList(item,i)"
						:class="index1===i?'active1':''"
						>{{item.name}}</a
					>
				</p>
			</div>
			<div class="main-top2" v-if="identity==='teacher'">
				<p class="top-1">状态：</p>
				<div v-if="typeList">
					<p class="top-22">
						<a
							v-for="(item,ind) in typeList"
							:key="item.id"
							@click="getSelectStationVersionList(item,ind)"
							:class="index2===ind?'active2':''"
							>{{item.title}}</a
						>
					</p>
				</div>
			</div>
		</div>

		<div class="mine">
			<div class="serch-right">
				<SuperFormSearch
					:form="formData"
					:identity="identity"
					:formColumns="formColumns"
				>
					<slot></slot>
				</SuperFormSearch>
			</div>

			<super-table
				:data="allTableList"
				:tData="allTeacherTableList"
				:columns="columns"
				:identity="identity"
			>
				<template #optionheader> 操作 </template>
				<template #optionrow="data" style="display: flex;">
					<div class="name-wrapper">
						<el-tag
							size="small"
							v-if="identity==='teacher'&&(data.data.row.status==='1')"
							@click="handleDetail(data.data.row)"
						>
							<img
								src="http://111.203.59.61:8060/static/img/edit.cb3644a6.svg"
								alt=""
							/>
							<!-- <i class="el-icon-edit-outline"></i> -->
						</el-tag>
						<el-tag
							size="small"
							v-if="identity==='teacher'&&(data.data.row.status==='1')"
							@click="handleDetail(data.data.row)"
						>
							<!-- <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgA…HdNFVsVKxkixaKXTVLfoBFmIPKN9iEVQAAAAASUVORK5CYII=" alt=""> -->
							<i class="el-icon-s-promotion"></i>
						</el-tag>
						<el-tag
							size="small"
							v-if="identity==='teacher'&&(data.data.row.status==='1')"
							@click="open(data.data.row)"
						>
							<img
								src="http://111.203.59.61:8060/static/img/delete.5582e2ce.svg"
								alt=""
							/>
							<!-- <i class="el-icon-delete"></i> -->
						</el-tag>
						<el-tag
							size="small"
							v-if="identity==='student'||(data.data.row.status==='2')||(data.data.row.status==='3')"
							@click="handleDetail(data.data.row)"
						>
							<img
								src="http://111.203.59.61:8060/static/img/watch.2cd91f7e.svg"
								alt=""
							/>
							<!-- <i class="el-icon-view"></i> -->
						</el-tag>
						<el-tag
							size="small"
							v-if="identity==='teacher'&&(data.data.row.status==='3')"
							@click="handleDetail(data.data.row)"
						>
							<img
								src="http://111.203.59.61:8060/static/img/withdraw.27e1d148.svg"
								alt=""
							/>
							<!-- <i class="el-icon-refresh-left"></i> -->
						</el-tag>
						<el-tag
							size="small"
							v-if="identity==='teacher'&&(data.data.row.status==='2')"
							@click="handleDetail(data.data.row)"
						>
							<img
								src="http://111.203.59.61:8060/static/img/update.05d4420f.svg"
								alt=""
							/>
							<!-- <i class="el-icon-medal-1"></i> -->
						</el-tag>
					</div>
				</template>
			</super-table>

			<div class="block">
				<div class="pages">
					<el-pagination
						background
						@size-change="handleSizeChange"
						@current-change="handleCurrentChange"
						:current-page="currentPage"
						:page-sizes="[5, 10, 20, 30]"
						:page-size="pageSize"
						prev-text="上一页"
						next-text="下一页"
						layout="prev, pager, next, jumper"
						:total="total"
					>
					</el-pagination>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { ref, reactive, toRefs } from 'vue';
import SuperTable from '@/components/table/supertable.vue';
import { useRouter } from 'vue-router';
import { ElLoading } from 'element-plus';
import api from '@/api';
import { ElMessageBox, ElMessage } from 'element-plus';
import SuperFormSearch from '@/components/forms/superFormSearch.vue';
import menuConfig from '@/config/menu.js';
const { homeData, delStations } = api;
export default {
	components: { SuperTable, SuperFormSearch },
	setup() {
		let router = useRouter();
		let pageNum = ref(1);
		let pageSize = ref(10);
		let state = reactive({
			loading: true,
			breadcrumbData: {},
			total: 13,
			search: '',
			formData: {
				search: '',
				isMyInfo: '',
			},
			allTeacherTableList: [], //  教师端表格数据
			identity: window.localStorage.getItem('identity') || '',
			index1: 0,
			index2: 0,
		});
		// 学生端获取数据需要的默认参数
		let obj = {
			pageNum: 1,
			pageSize: 10,
			searchTitle: null,
			majorId: null,
		};
		// 教师端获取数据需要的默认参数
		let teacherParams = {
			isAsc: 'desc',
			pageNum: 1,
			pageSize: 10,
			searchTitle: null,
			majorId: null,
			status: null,
			isMyInfo: false,
		};
		let specialtyList = ref([]); //  行业菜单数据
		let allTableList = ref([]); //  学生端表格数据
		// 表格表头
		let columns = [];
		if (state.identity === 'student') {
			columns = menuConfig.postStudentColumns;
		} else if (state.identity === 'teacher') {
			columns = menuConfig.postTeacherColumns;
		}

		// 状态导航
		const typeList = menuConfig.postTypeList;
		// 表格头部搜索信息
		const formColumns = [
			{
				name: 'checkbox',
				label: '仅看我的',
				action: text => {
					getteacherInitTableList({
						...teacherParams,
						isMyInfo: text,
						proName: null,
						status: tabStatus,
					});
				},
			},
			{
				name: 'input',
				placeholder: '搜索岗位',
				action: text => {
					if (state.identity === 'student') {
						obj = { ...obj, searchTitle: text };
						getTableList(obj);
					} else if (state.identity === 'teacher') {
						getteacherInitTableList({ ...teacherParams, searchTitle: text });
					}
				},
			},
			{
				name: 'button',
				text: '添加岗位',
				action: async () => {
					router.push('/home/addPostSkill');
				},
			},
		];
		// 获取行业菜单
		homeData.selectStationLabel().then(res => {
			if (res.data.code === 200) {
				specialtyList.value = res.data.data;
				console.log(specialtyList);
				specialtyList.value.unshift({
					children: null,
					id: null,
					name: '全部',
					parentId: 'A0001',
				});
			}
		});

		// 获取学生端全部分页数据    教师端----> 接口selectStationVersionList 初始化获取的数据
		const getTableList = obj =>
			homeData.selectStationNewVersionList(obj).then(res => {
				// console.log(res.data);
				if (res.data.code === 200) {
					allTableList.value = res.data.rows;
					state.total = res.data.total;
				}
			});

		// 教师端初始化获取数据
		const getteacherInitTableList = teacherParams => {
			if (state.identity === 'teacher') {
				homeData.selectStationVersionList(teacherParams).then(res => {
					// console.log(res);
					if (res.data.code === 200) {
						state.allTeacherTableList = res.data.rows;
						state.total = res.data.total;
						console.log(res.data);
					}
				});
			}
		};
		getteacherInitTableList(teacherParams); //  初始化调用

		// 点击行业导航按钮获取数据
		const getChildrenList = (item, i) => {
			console.log(item, i);
			state.index1 = i;
			if (state.identity === 'student') {
				getTableList({
					pageNum: 1,
					pageSize: 10,
					searchTitle: null,
					majorId: item.id,
				});
			} else if (state.identity === 'teacher') {
				const obj = {
					...teacherParams,
					majorId: item.id,
				};
				getteacherInitTableList(obj);
			}
		};
		var tabStatus = null; //  初始化一个状态，当进行 tab 切换时，进行赋值，需要时当成参数
		// 点击状态导航按钮获取数据
		const getSelectStationVersionList = (item, i) => {
			console.log(item, i);
			state.index2 = i;
			tabStatus = item.status;
			let obj = {
				...teacherParams,
				status: item.status,
			};
			getteacherInitTableList(obj);
		};

		// 分页
		const handleSizeChange = val => {
			// console.log(`每页 ${val} 条`);
			if (state.identity === 'student') {
				obj = { ...obj, pageNum: val };
				getTableList(obj);
			} else if (state.identity === 'teacher') {
				getteacherInitTableList({
					...teacherParams,
					status: tabStatus,
					pageNum: val,
				});
			}
		};
		const handleCurrentChange = val => {
			if (state.identity === 'student') {
				obj = { ...obj, pageNum: val };
				getTableList(obj);
			} else if (state.identity === 'teacher') {
				getteacherInitTableList({
					...teacherParams,
					status: tabStatus,
					pageNum: val,
				});
			}
		};

		// 跳转详情
		const handleDetail = row => {
			// console.log(88888888888888, row);
			console.log(row);
			router.push({ path: `/home/postdetail/${row.stationVersionId}` });
		};

		// 删除岗位
		const open = item => {
			ElMessageBox.confirm('此操作将永久删除, 是否继续?', '提示', {
				confirmButtonText: '确定',
				cancelButtonText: '取消',
				type: 'warning',
			})
				.then(() => {
					let stationVersionId = item.stationVersionId;
					delStations(stationVersionId).then(res => {
						console.log(res);
						if (res.data.code === 200) {
							ElMessage({
								type: 'success',
								message: '删除成功!',
							});
							getteacherInitTableList(teacherParams);
						} else {
							ElMessage({
								type: 'error',
								message: res.data.msg,
							});
						}
					});
				})
				.catch(() => {
					ElMessage({
						type: 'info',
						message: '已取消删除',
					});
				});
		};


// loading  加载效果
		const startLoading = () => {
			state.loading = ElLoading.service({
				lock: true,
				text: '加载中……',
				background: 'rgba(0, 0, 0, 0.7)',
				// background: '#409EFF',
			});
		};
		startLoading();
		const endLoading = () => {
			state.loading.close();
			state.loading = false;
		};
		endLoading();

		// 删除岗位
		// const delHighPostItem = item => {
		// 	let stationVersionId = item.stationVersionId;
		// 	delStations(stationVersionId).then(res => {
		// 		console.log(res);
		// 		if (res.data.code === 200) {
		// 		}
		// 	});
		// };

		return {
			columns,
			pageNum,
			pageSize,
			specialtyList,
			allTableList,
			currentPage: ref(1),
			handleSizeChange,
			handleCurrentChange,
			getTableList,
			getChildrenList,
			handleDetail,
			...toRefs(state),
			typeList,
			formColumns,
			getSelectStationVersionList,
			// delHighPostItem,
			open,
		};
	},
};
</script>

<style lang="scss" scoped>
@import './post.scss';

.status_1 {
	color: '#09f';
}
</style>
