.highpost{
	width: 100%;
	height: 100%;
}

.active1{
	border-radius: 15px;
	background-color: #679CF6;
}
.active2{
	border-radius: 15px;
	background-color: #679CF6;
}
.main-toper{
	width: 80%;
	height: auto;
	min-height: 170px;
	margin: 0 auto;
	box-sizing: border-box;
	padding-top: 17px;
	margin-bottom: 12px;
	background-color: #fff;
}
.main-top1 {
	width: 100%;
	height: auto;
	font-size: 14px;
	background-color: #fff;
	display: flex;
	box-sizing: border-box;
}
.main-top2 {
	width: 100%;
	height: 39px;
	font-size: 14px;
	background-color: #fff;
	display: flex;
	box-sizing: border-box;
}
.mine {
	width: 1200px;
	height: auto;
	margin: 3px auto;
	background-color: #fff;
}
.el-table {
	margin: 3px auto;
	padding: 0 100px;
	text-rendering: optimizeLegibility;
	font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
		Microsoft YaHei, Arial, sans-serif;
}

.top-1 {
	width: 80px;
	margin-top: 8px;
	text-align: right;
}

.top-21 {
	flex: 1;

	a {
		display: inline-block;
		padding: 4px 18px;
		margin: 0px 4px 15px 0px;
		cursor: pointer;
		&:hover {
			display: inline-block;
			padding: 4px 18px;
			background-color: #679CF6;
			border-radius: 15px;
		}
	}
}
.top-22 {
	flex: 1;

	a {
		display: inline-block;
		padding: 4px 18px;
		margin: 0px 4px 15px 0px;
		cursor: pointer;
		&:hover {
			display: inline-block;
			padding: 4px 18px;
			background-color: #679CF6;
			border-radius: 15px;
		}
	}
}
.serch-right {
	width: 100%;
	height: 60px;
	padding-top: 12px;
	padding-right: 20px;
	text-align: right;
}
.block {
	width: 80%;
	height: 80px;
	margin: 12px 0px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 20px;
	.pages {
		width: 300px;
		height: 30px;

	}
}


.name-wrapper {
	display: flex;
	justify-content: space-around;
}
.highpost-breadcrumb {
	width: 100%;
	height: 70px;
	background-color: rgb(230,235,247);
}
.separator {
	position: relative;
	top: 2px;
	left: 0px;
	display: inline-block;
	align-self: center;
	margin: 0 5px;
}
.breadcrumb {
	width: 80%;
	height: 100%;
	// background-color: rgb(230,235,247);
	display: flex;
	align-items: center;
	margin: 0px auto;
}
