<template>
	<div>
		<div class="dialog-title">
			<h6>修改图像</h6>
			<i class="el-icon-close"></i>
		</div>
		<div class="dialog-container">
			<div class="user-img"></div>
			<div></div>
		</div>
		<div class="dialog-footer"></div>
	</div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.user-img{
    background-image: url('@/static/images/userimg.png');
}
</style>
