<template>
	<div class="addPostSkill">
		<nav-com />
		<div class="addPostSkill-main">
			<div class="addPostSkill-audit">
				<Audit :data="audit" />
			</div>
			<div class="addPostSkill-container">
				<AddPost />
			</div>
			<div class="addPostSkill-footer">
				<div data-v-262311c4="" class="lock_info">
					<div data-v-262311c4="" class="lock_img">
						<img
							data-v-262311c4=""
							src="http://111.203.59.61:8060/static/img/Lock.0318bb9d.svg"
							alt=""
						/>
					</div>
					<div data-v-262311c4="" class="lock_text">
						完善岗位的基本信息并点击“保存”才可解锁岗位能力内容
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { defineComponent, reactive, toRefs } from 'vue';
import { useRouter } from 'vue-router';
import Audit from '@/components/addAudit/audit.vue';
import AddPost from '@/components/addAudit/addPost.vue';
export default defineComponent({
	components: { Audit, AddPost },
	setup(props) {
		console.log(props);
		const router = useRouter();
		const state = reactive({
			audit: {
				label: '添加岗位能力',
				backUpper: () => router.go(-1),
				submitAudit: () => {
					console.log(666);
				},
			},
		});
		return {
			...toRefs(state),
		};
	},
});
</script>

<style lang="scss" scoped>
.addPostSkill {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	.addPostSkill-main {
		flex: 1;
		width: 80%;
		margin: 0 auto;
	}
}
.addPostSkill-audit {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	padding: 0 20px;
	margin-bottom: 12px;
}
.addPostSkill-container {
	width: 100%;
	flex: 1;
	min-height: 647px;
	margin-bottom: 12px;
	// background-color: aqua;
}
.addPostSkill-footer {
	width: 100%;
	min-height: 158px;
	padding: 30px 0;
	background-color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 10px 0px rgb(51 51 51 / 10%);
	border-radius: 2px;
	.lock_info {
		display: flex;
		flex-direction: column;
		-webkit-box-align: center;
		align-items: center;
		padding-top: 30px;
		padding-bottom: 30px;
		.lock_text {
			margin-top: 20px;
			font-size: 14px;
			font-family: SourceHanSansCN-Regular, SourceHanSansCN;
			color: #a5a6a7;
		}
	}
}
</style>
