<template>
	<div class="addProject">
		<!-- 面包屑 -->
		<div class="highpost-breadcrumb">
			<div class="breadcrumb">
				<router-link to="/home/project">项目</router-link>
				<i class="separator">/</i>
				<router-link to="/">{{title}}</router-link>
			</div>
		</div>

		<div class="main">
			<div class="head">
				<span>{{title}}</span>
				<el-button @click="routergo">返回</el-button>
			</div>
			<div class="cont">
				<div class="top">
					<span>基本信息</span>
				</div>
				<div class="bottom">
					<!-- ******************************************************************************************************************************* -->

					<div class="add"></div>

					<!-- ******************************************************************************************************************************* -->
					<div class="see" v-if="see==='true'">
						<div class="see_left">
							<div>
								<div>
									<label>项目名称</label>
									<span>{{item.name}}</span>
								</div>
								<div>
									<label>版本</label>
									<span>V{{item.version}}</span>
								</div>
							</div>
							<div>
								<p>{{item.description}}</p>
							</div>
							<div>
								<div>
									<label>专业</label>
									<span>{{item.majorName}}</span>
								</div>
								<div>
									<label>行业</label>
									<span>{{item.tradeName}}</span>
								</div>
							</div>
							<div>
								<div>
									<label>实训类型</label>
									<span>{{item.sxType}}</span>
								</div>
								<div>
									<label>预期总工时</label>
									<span>{{item.subjectTime}}</span>
									<span style="margin-left: 10px;">天</span>
								</div>
							</div>
							<div>
								<label>技能点</label>
								<span style="color: #b2b7c6;">技能点由任务知识点内容生成</span>
							</div>
						</div>
						<div class="see_right">
							<div>
								<label>封面</label>
								<div>
									<img
										:src="`{http://111.203.59.61:8060${item.pictureUrl}}`"
										alt=""
										style="width: 262px; height: 154px;"
									/>
								</div>
							</div>
							<div>
								<label>演示地址</label>
								<span>{{item.showUrl}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="foot">
				<Tabs></Tabs>
			</div>
		</div>
	</div>
</template>

<script>
import { reactive, toRefs } from 'vue';
import '@/assests/project/addProject.scss';
import Tabs from '@/components/project/Tabs.vue';
// 路由
import { useRouter } from 'vue-router';
// 接口
import api from '@/api';
const { projectTeaget } = api;

export default {
	setup() {
		const router = useRouter();
		const state = reactive({
			// 获取详情id
			versionId: router.currentRoute.value.params.versionId,
			see: router.currentRoute.value.params.see,
			title: '',
			item: {},
			sxType: '',
		});
		// 根据see的值判断是添加页面还是查看页面
		if (state.see === true) {
			state.title = '添加项目';
		} else {
			state.title = '查看项目';
		}
		// 获取详情数据
		const detailList = () => {
			projectTeaget
				.teacherdetail({
					versionId: state.versionId,
				})
				.then(res => {
					if (res.data.code) {
						state.item = res.data.data;
						if (state.item.sxType == '1') {
							state.item.sxType = '生产实训';
						} else if (state.item.sxType == '2') {
							state.item.sxType = '教学实训';
						} else {
							state.item.sxType = '专业群实训';
						}
					}
					console.log(state.item);
				});
		};

		const init = () => {
			detailList();
		};

		init();

		const methods = {
			// 点击返回
			routergo: () => {
				router.go(-1);
			},
		};

		return {
			...toRefs(state),
			...methods,
		};
	},
	components: {
		Tabs,
	},
	created() {},
};
</script>

<style></style>
