<template>
	<div class="detalPro">
		<div class="top">
			<el-breadcrumb separator="/" class="bread">
				<el-breadcrumb-item>
					<p class="xiangmu">项目库</p>
				</el-breadcrumb-item>
			</el-breadcrumb>
		</div>
		<div class="mainn">
			<div class="main_left">
				<div class="main_left_top">
					<p class="spp">
						<span class="sp">人学过：</span>
						<span class="sp">人关注：</span>
						<span class="sp">作者：</span>
					</p>
				</div>

				<div class="main_left_middle">
					<Tabs></Tabs>
					<div class="cont"></div>
				</div>
				<div class="main_left_foot">
					<el-tabs v-model="activeNamee">
						<el-tab-pane :label="'实训评论（' + total + '）'" name="first1">
							<div class="comment">
								<!-- 评论区 -->
								<div class="headPortrait">
									<img
										src="http://111.203.59.61:8060/file_service/group1/M00/00/1B/rBsCHGC8sMqAB2cDAAC8MQ3506s51.jpeg"
										alt=""
									/>
								</div>
								<div class="comment_inp">
									<el-input
										type="text"
										placeholder="来说两句吧"
										v-model="input"
										maxlength="500"
										show-word-limit
									/>
									<el-button
										type="primary"
										class="comment_btn"
										@click="chanageinp"
										>发表评论</el-button
									>
								</div>
							</div>
							<!-- 评论数据 -->
							<div class="comment_list">
								<ul>
									<li v-for="(item, index) in pingList" :key="index">
										<img
											:src="'http://111.203.59.61:8060'+item.userPictureUrl"
											alt=""
											class="tupian"
										/>
										<div>
											<p>{{ item.disReplyid }}</p>
											<p>{{ item.disReplycontent }}</p>
											<p>{{ item.replyTime }}</p>
										</div>
									</li>
								</ul>
							</div>
						</el-tab-pane>
						<el-tab-pane label="实训问答（）" name="second1"></el-tab-pane>
					</el-tabs>
					<!-- 分页 -->
					<div class="block">
						<el-pagination
							@size-change="handleSizeChange"
							@current-change="handleCurrentChange"
							:pager-count="10"
							:current-page="pageNum"
							:page-size="pageSize"
							layout="prev, pager, next, jumper"
							:total="total"
						>
						</el-pagination>
					</div>
				</div>
			</div>
			<div class="main_right">
				<div class="main_right_img">
					<img :src="rightImg" alt="" />
				</div>
				<div class="main_right_teacher">
					<h3 class="teacher">
						<span>|</span>
						<span>指导老师</span>
					</h3>
					<div class="headPortrait">
						<img
							src="http://111.203.59.61:8060/file_service/group1/M00/00/1B/rBsCHGC8sMqAB2cDAAC8MQ3506s51.jpeg"
							alt=""
						/>
						<span>马超</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import Tabs from '@/components/project/Tabs';
import { reactive, toRefs } from 'vue';
import { useRouter } from 'vue-router';
import { ElMessage } from 'element-plus';
import '@/assests/project/projectDetail.scss';
// // 接口
import api from '@/api/index.js';
const { projectlistData, getData } = api;
console.log(projectlistData, 'projectlistData');
export default {
	setup() {
		const router = useRouter();
		const state = reactive({
			list: [],
			activeName: 'first',
			tabPosition: 'left',
			activeNamee: 'first1',
			textarea: '',
			input: '', //评论框内容
			rightImg: '', //详情图片
			/*******/
			pingList: [], //评论 分页数据
			pageSize: 10, // 分页
			pageNum: 1, //初始页码数
			total: null, //分页数据总条数
			id: null,
			tabsList: [
				{
					title: '实训大纲',
				},
				{
					title: '实训任务',
				},
				{
					title: '项目资源',
				},
				{
					title: '实训环境',
				},
				{
					title: '前置环境',
				},
			], //tab切换数据
		});

		// 获取详情数据  图片
		const rightImg = () => {
			// let url = `http://localhost:8080${router.currentRoute.value.query.pictureUrl}.jpg`;
			// console.log(router.currentRoute.value.query);
			// state.rightImg = url;
			state.id = router.currentRoute.value.params.id;
		};

		// 获取评论数据
		const getPingList = () => {
			const { id, pageNum, pageSize } = state;
			// 截取参数
			getData
				.pinglun({
					id,
					pageNum,
					pageSize,
				})
				.then(res => {
					if (res.data.code === 200) {
						state.pingList = res.data.rows;
						state.total = res.data.total;
					}
				});
		};

		// 获取指导老师数据

		const getTeacher = () => {
			// getData.teacher({
			// 	id:state.id
			// }).then(res => {
			// 	console.log(res,"------");
			// });
		};

		// 方法
		const methods = {
			handleClick: (tab, event) => {
				console.log(tab, event);
			},

			handleSizeChange(val) {
				console.log(`每页 ${val} 条`);
			},
			// 点击分页
			handleCurrentChange: val => {
				state.pageNum = val;
				getPingList();
			},

			// 点击发布评论
			chanageinp() {
				if (state.input != '') {
					projectlistData
						.fabu({
							discussDesc: state.input,
							proId: state.id,
						})
						.then(res => {
							console.log(res);
							ElMessage.success({
								message: '发表评论成功',
								type: 'success',
							});
							getPingList();
						});
				} else {
					ElMessage.error('你当前评论为空！');
				}
			},
		};

		// 初始化
		const init = () => {
			rightImg(); //详情图片
			// handleClick();
			getPingList(); //评论数据
			getTeacher();
		};

		init();

		return {
			...toRefs(state),
			...methods,
		};
	},

	components: {
		Tabs,
	},

	created() {},
};
</script>

<style lang="scss" scoped></style>
