<template>
	<div class="project">
		<v-chart :options="option" :autoresize="true" v-loading="loading"></v-chart>
		<!-- 面包屑 -->
		<div v-if="identity==='teacher'" class="highpost-breadcrumb">
			<div class="breadcrumb">
				<router-link to="/home/project">项目</router-link>
				<i class="separator">/</i>
				<router-link to="/">项目管理</router-link>
			</div>
		</div>

		<navlist :typeList="typelist" @activeClick="activeClickons"></navlist>
		<div class="main">
			<!-- 学生端 -->
			<div class="project_list_student" v-if="identity==='student'">
				<div class="redio_left">
					<el-radio-group v-model="radio1">
						<el-radio-button
							:label="item.value"
							v-for="(item,index) in radiogroup"
							:key="index"
							@click="activeRedio(item)"
						></el-radio-button>
					</el-radio-group>
				</div>
				<div class="redio_right">
					<el-input
						v-model="proName"
						placeholder="请输入项目名"
						@change="getfuzzysearch"
					></el-input>
				</div>
			</div>
			<!-- 教师端 -->
			<div class="project_list_theacher" v-if="identity==='teacher'">
				<div class="redio_btn">
					<el-button type="primary" @click="addProjec">+ 添加项目</el-button>
				</div>
				<div class="redio_select">
					<el-input
						v-model="proName"
						placeholder="请输入项目名"
						@change="getfuzzysearch"
					></el-input>
				</div>
				<div class="redio_check">
					<el-checkbox v-model="checked" @change="getmodel"
						>仅看最新版</el-checkbox
					>
				</div>
			</div>

			<div class="project_page">
				<!-- 学生端 -->
				<div class="card_student" v-if="identity==='student'">
					<div
						@click="projectdetil(item),open3()"
						v-for="(item,index) in paginList"
						:key="index"
					>
						<img src="item.pictureUrl" alt="" />
						<i
							class="el-icon-star-on"
							@click.stop="collection(item)"
							:class="{active:staroff}"
							:plain="true"
						></i>
						<div class="img_bottom">
							<div class="project_title">
								<p>{{item.name}}</p>
								<p>{{item.description}}</p>
							</div>
							<div class="project_bottom">
								<div class="flex_left">
									<span>
										<i class="el-icon-user"></i>
										{{item.stuCount}}
									</span>
									<span>
										<i class="el-icon-star-off"></i>
										{{item.favorCount}}
									</span>
								</div>
								<div class="flex_right">
									<button>{{typeBtn}}</button>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- 教师端 -->
				<div class="card_teacher" v-if="identity==='teacher'">
					<super-table
						:tData="teacherList"
						:columns="columns"
						:identity="identity"
					>
						<template #optionheader> 操作</template>
						<template #optionrow="data" style="display: flex;">
							<div class="name-wrapper">
								<el-tooltip
									:plain="true"
									v-if="identity==='student'||(data.data.row.status==='2')||(data.data.row.status==='3')"
									content="查看"
									@click="teacherDetail(data.data.row)"
									placement="bottom"
								>
									<i class="el-icon-view" style="color:#679cf6"></i>
								</el-tooltip>
								<el-tooltip
									:plain="true"
									v-if="identity==='teacher'&&(data.data.row.status==='2')"
									content="升级"
									placement="bottom"
									@click="handleUpgradel(data.data.row)"
								>
									<i class="el-icon-upload" style="color:#679cf6"></i>
								</el-tooltip>
							</div>
						</template>
					</super-table>
				</div>
				<div class="block">
					<el-pagination
						@current-change="handleCurrentChange"
						:pager-count="10"
						:current-page="pageNum"
						:page-size="pageSize"
						layout="prev, pager, next, jumper"
						:total="total"
						style="text-align:right;"
					>
					</el-pagination>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { reactive, toRefs } from 'vue';
import { useRouter } from 'vue-router';
import navlist from '@/components/project/el-navlist'; //Tabs数据切换接口
import SuperTable from '@/components/table/supertable.vue';
import { ElMessage } from 'element-plus';
import { ElLoading } from 'element-plus';
import api from '@/api/index.js';
import '@/assests/project/project.scss';
import menuConfig from '@/config/menu.js';
const { projectlistData, getData, projectTeaget } = api;

export default {
	name: 'project',
	setup() {
		const router = useRouter();
		const state = reactive({
			loading: true,
			staroff: false, //控制图片上下滑动
			paginList: [], //学生端分页数据
			teacherList: [], //教师端数据
			columns: [], //教师端表头数据
			typeBtn: '教学实训', //点击按钮
			proName: '', //搜索框内容
			total: 0, //数据总条数

			//*******//
			pageNum: 1, //当前页码数
			pageSize: 20, //每页条数
			proType: null,
			specialtyTag: '',
			industryTag: '',
			status: null,
			orderByColumn: '',
			sxtype: '',
			newProjectList: null,
			/**** */
			checked: false, //教师端 仅看最新版
			identity: '', //获取登录状态
			see: false, //控制点击的是添加项目还是查看项目
			typelist: [
				{
					title: '实训类型',
					children: [
						//类型数据
						{
							label: '生产实训',
							value: 1,
						},
						{
							label: '教学实训',
							value: 2,
						},
						{
							label: '专业群实训',
							value: 3,
						},
					],
				},
				{},
				{},
			],
			radiogroup: [
				{
					value: '综合',
					orderByColumn: 'project.publishtime',
				},
				{
					value: '最新',
					orderByColumn: 'project.publishtime',
				},
				{
					value: '最热',
					orderByColumn: 'project.stucount',
				},
			],
			radio1: '综合',
		});

		// 获取登录的状态
		state.identity = window.localStorage.getItem('identity');
		// 行业
		const industryList = () => {
			projectlistData.getTradeList().then(res => {
				state.typelist[1] = {
					title: '行业',
					children: res.data.data,
				};
			});
		};

		// 专业
		const majorList = () => {
			projectlistData.getMajorStationList().then(res => {
				// 数据
				state.typelist[2] = {
					title: '专业',
					children: res.data.data,
				};
			});
		};

		// 分页数据
		const paginList = () => {
			// 分页参数
			const {
				pageNum,
				pageSize,
				sxtype,
				status,
				specialtyTag,
				industryTag,
				proName,
				newProjectList,
				orderByColumn,
				proType,
			} = state;

			// 截取参数
			if (state.identity === 'student') {
				getData
					.getPaginList({
						pageNum,
						pageSize,
						specialtyTag,
						industryTag,
						proName,
						proType,
						orderByColumn,
					})
					.then(res => {
						if (res.data.code === 200) {
							state.paginList = res.data.rows;
							state.total = res.data.total;
						}
					});
			} else if (state.identity === 'teacher') {
				// 判断是老师状态的时候添加状态数据
				state.typelist[3] = {
					title: '状态',
					children: [
						{
							label: '草稿',
							value: 1,
						},
						{
							label: '已发布',
							value: 2,
						},
						{
							label: '待审核',
							value: 3,
						},
						{
							label: '已驳回',
							value: 4,
						},
					],
				};
				// 教师端表头数据
				state.columns = menuConfig.projectTeacherColumns;
				projectTeaget
					.selectProjectList({
						pageNum,
						pageSize,
						sxtype,
						status,
						specialtyTag,
						industryTag,
						proName,
						newProjectList,
					})
					.then(res => {
						if (res.data.code === 200) {
							state.teacherList = res.data.rows;
							state.total = res.data.total;
						}
					});
			}
		};
		const methods = {
			// 点击类型
			activeClickons: item => {
				if (state.identity === 'student') {
					state.proType = item.value;
					if (state.proType == 1) {
						state.typeBtn = '生产实训';
					} else {
						state.typeBtn = '教学实训';
					}
				} else if (state.identity === 'teacher') {
					// state.sxtype = item.value;//点击实训类型
					// state.specialtyTag = item.value;//点击专业
					// state.industryTag = item.value;//点击行业
					state.status = item.value; //点击状态
				}
				paginList();
			},
			// 模糊搜索
			getfuzzysearch: () => {
				paginList();
			},
			// 教师端仅看最新版
			getmodel: () => {
				if (state.checked == true) {
					state.newProjectList = 1;
				} else {
					state.newProjectList = null;
				}
				paginList();
			},
			// 点击综合最新最热
			activeRedio: item => {
				state.orderByColumn = item.orderByColumn;
				paginList();
			},
			// 点击教师端升级
			handleUpgradel: item => {
				projectTeaget
					.promoteProject({
						id: item.id,
					})
					.then(res => {
						// console.log(res.data);
						if (res.data.code == 200) {
							console.log(111);
						} else {
							console.log(1111);
						}
					});
				ElMessage.error('系统接口404异常,项目升级失败');
			},
			// 点击分页
			handleCurrentChange: val => {
				state.pageNum = val;
				paginList();
			},
			// 学生端详情页面
			projectdetil: item => {
				router.push({
					path: `/home/projectdetail/${item.id}`,
					query: item,
				});
			},
			// 教师端跳详情
			teacherDetail: item => {
				state.see = true;
				router.push({
					path: `/home/addProject/${item.versionId}/${item.id}/${state.see}`,
				});
			},
			// 教师端添加项目
			addProjec: () => {
				console.log(111);
				router.push('/home/teacheraddProjec');
			},
			// 点击收藏
			collection: item => {
				state.staroff = state.staroff ? false : true;
				if (state.staroff == true) {
					item.favorCount += 1;
					ElMessage.success('收藏成功');
				} else {
					item.favorCount -= 1;
					ElMessage('取消收藏成功');
				}
			},
		};

		// 初始化
		const init = () => {
			industryList(); //行业数据
			majorList(); //专业数据
			paginList(); //分页数据
		};
		init();



		// loading  加载效果
		const startLoading = () => {
			state.loading = ElLoading.service({
				lock: true,
				text: '加载中……',
				background: 'rgba(0, 0, 0, 0.7)',

			});
		};
		startLoading();
		const endLoading = () => {
			state.loading.close();
			state.loading = false;
		};
			endLoading();
		return {
			...toRefs(state),
			...methods,
		};
	},
	// 组件
	components: {
		navlist,
		SuperTable,
	},

	created() {},
};
</script>

<style></style>
