<template>
	<div>
		<v-chart :options="option" :autoresize="true" v-loading="loading"></v-chart>
		<nav-com />

		<Myrecord />
	</div>
</template>

<script>
import Myrecord from '@/components/Myinterviewrecord.vue';
import {reactive, toRefs} from "vue"
import { ElLoading } from 'element-plus';
export default {
	components: {
		Myrecord,
	},
	setup() {
			const state = reactive({ loading: true });
			// loading  加载效果
		const startLoading = () => {
			state.loading = ElLoading.service({
				lock: true,
				text: '加载中……',
				background: 'rgba(0, 0, 0, 0.7)',
			});
		};
		startLoading();
		const endLoading = () => {
			state.loading.close();
			state.loading = false;
		};
		endLoading();
		return {
			...toRefs(state),
		};
	}
};
</script>

<style></style>
