<template>
	<el-form :model="formInline" :rules="rules">
		<div class="el-form-item-title">
			<div class="audit-left">
				<span class="bgColor"></span>
				<h3>基本信息</h3>
			</div>
			<div class="audit-right">
				<img
					src="http://111.203.59.61:8060/static/img/save.a18f6aa4.svg"
					alt=""
				/>
				<span style="color:rgba(103,156,246);">保存</span>
			</div>
		</div>

		<div class="container">
			<el-form-item label="岗位名称" style="width: 210px">
				<el-input v-model="formInline.name" placeholder="岗位"></el-input>
			</el-form-item>
			<el-form-item label="专业" style="width: 180px">
				<el-select
					v-model="formInline.region"
					placeholder="专业"
					@change="handleChange"
				>
					<template v-for="(item,index) in formInline.list" :key="index">
						<el-option :label="item.name" :value="item.name"></el-option>
					</template>
				</el-select>
			</el-form-item>
			<el-form-item label="版本号">
				<el-input
					ref="versionNum"
					type="number"
					style="width: 100px"
					v-model="formInline.stationVersion"
					:min="1"
					@change="handleChangeNumber"
					placeholder="版本号"
				></el-input>
			</el-form-item>
			<el-form-item label="作者">
				<span>{{formInline.userName}}</span>
			</el-form-item>
		</div>
		<div class="form-table">
			<div data-v-262311c4="" class="table">
				<div class="left">
					<div class="left_title">薪酬范围*</div>
					<div class="left_title" style="height: 199px;">岗位描述*</div>
					<div class="left_title" style="height: 199px;">岗位任务</div>
				</div>
				<div class="right">
					<div class="right_content slider" style="padding: 46px 30px;">
						<el-slider
							v-model="value"
							range
							show-stops
							:marks="marks"
							:format-tooltip="formatTooltip"
						>
						</el-slider>

						<!-- <div
							role="slider"
							aria-valuemin="0"
							aria-valuemax="50000"
							aria-orientation="horizontal"
							class="el-slider"
							aria-valuetext="6000-12000"
							aria-label="slider between 0 and 50000"
						>
							<div class="el-slider__runway">
								<div
									class="el-slider__bar"
									style="width: 12%; left: 12%;"
								></div>
								<div
									tabindex="0"
									class="el-slider__button-wrapper"
									style="left: 12%;"
								>
									<div
										class="el-tooltip el-slider__button"
										aria-describedby="el-tooltip-6116"
										tabindex="0"
									></div>
								</div>
								<div
									tabindex="0"
									class="el-slider__button-wrapper"
									style="left: 24%;"
								>
									<div
										class="el-tooltip el-slider__button"
										aria-describedby="el-tooltip-5004"
										tabindex="0"
									></div>
								</div>
								<div>
									<div
										class="el-slider__stop el-slider__marks-stop"
										style="left: 10%;"
									></div>
									<div
										class="el-slider__stop el-slider__marks-stop"
										style="left: 16%;"
									></div>
									<div
										class="el-slider__stop el-slider__marks-stop"
										style="left: 40%;"
									></div>
									<div
										class="el-slider__stop el-slider__marks-stop"
										style="left: 60%;"
									></div>
									<div
										class="el-slider__stop el-slider__marks-stop"
										style="left: 80%;"
									></div>
								</div>
								<div class="el-slider__marks">
									<div class="el-slider__marks-text" style="left: 10%;">5k</div>
									<div class="el-slider__marks-text" style="left: 16%;">8k</div>
									<div class="el-slider__marks-text" style="left: 40%;">
										20k
									</div>
									<div class="el-slider__marks-text" style="left: 60%;">
										30k
									</div>
									<div class="el-slider__marks-text" style="left: 80%;">
										40k
									</div>
								</div>
							</div>
						</div> -->
					</div>
					<div class="right_content" style="height: 199px;">
						<div class="el-textarea el-input--medium">
							<textarea
								autocomplete="off"
								rows="2"
								placeholder="请输入岗位描述"
								class="el-textarea__inner"
								style="min-height: 31px;"
							></textarea>
						</div>
					</div>
					<div class="right_content" style="height: 199px;">
						<div class="el-textarea el-input--medium">
							<textarea
								autocomplete="off"
								rows="2"
								placeholder="请输入岗位任务"
								class="el-textarea__inner"
								style="min-height: 31px;"
							></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</el-form>
</template>

<script>
import { defineComponent, reactive, toRefs, computed } from 'vue';

import { useStore } from 'vuex';
export default defineComponent({
	setup() {
		const store = useStore();

		const state = reactive({
			formInline: {
				name: '',
				stationVersion: '',
				userName: '郭老师',
				region: [],
				list: computed(() => {
					return store.state.specialtyData.publicSpecialtyList;
				}),
			},
			rules: {
				region: [{ required: true, message: '请选择专业', trigger: 'change' }],
				stationVersion: [
					{
						required: true,
						message: '请输入版本号',
						trigger: 'change',
						min: '最小为0',
					},
				],
			},
		});
		// 通过  store.dispatch 来触发 store 仓库中 的 getSpecialty 函数
		store.dispatch('getSpecialty');
		console.log(state.formInline.region);

		// 专业的 change 事件
		const handleChange = e => {
			console.log(e);
		};

		// 版本的 change 事件
		const handleChangeNumber = e => {
			console.log(e);
		};
		const formatTooltip = val => {
			return val * 1000;
		};
		return {
			formatTooltip,
			...toRefs(state),
			handleChange,
			handleChangeNumber,
			// value: [1.2, 2.4, 20, 30, 40, 50],
			value: [5, 8, 10, 11.5, 20, 30, 40, 50, 60],
			// value: [1000, 2000, 3000, 4000, 5000, 6000],
			marks: {
				0: '',
				5: '5K',
				8: '8K',
				20: '20K',
				30: '30K',
				40: {
					style: {
						color: '#1989FA',
					},
					label: '40K',
				},
			},
		};
	},
});
</script>

<style lang="scss" scoped>
.el-form-item-title {
	width: 100%;
	height: 70px;
	display: flex;
	padding: 0 20px;
	background-color: #fff;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #000;
}
.el-form-item {
	margin: 20px;
}
.audit-left {
	width: 200px;
	display: flex;
}
.audit-right {
	width: 120px;
	height: 100%;
	display: flex;
	align-items: center;
}
.bgColor {
	display: inline-block;
	width: 3px;
	height: 20px;
	background-color: rgb(103, 156, 246);
	margin-right: 10px;
}
.container {
	width: 100%;
	height: 80px;
	line-height: 80px;
	background-color: #fff;
	display: flex;
	align-items: center;
}

.form-table {
	width: 100%;
	height: auto;
	border: 1px solid #ccc;
	.table {
		width: 100%;
		height: 100%;
		align-items: center;
		border: 1px solid #b2b7c6;
		display: flex;
		.left {
			width: 20%;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			flex-direction: column;
			-webkit-box-pack: justify;
			justify-content: space-between;
			-webkit-box-align: center;
			align-items: center;
			.left_title {
				width: 100%;
				height: 129px;
				background: #c5d0de;
				text-align: center;
				line-height: 130px;
				color: #303849;
				border-bottom: 1px solid #b2b7c6;
			}
		}
		.right {
			width: 80%;
			height: 100%;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			flex-direction: column;
			background-color: #fff;
		}
		.right_content {
			width: 100%;
			height: 129px;
			border-bottom: 1px solid #b2b7c6;
		}
		.el-slider {
			width: 100%;
			height: 129px;
		}
		.el-slider__runway {
			width: 100%;
			height: 6px;
			margin: 16px 0;
			background-color: #dfe4ed;
			border-radius: 3px;
			position: relative;
			cursor: pointer;
			vertical-align: middle;
		}
		.el-textarea {
			width: 100%;
			height: 100%;
		}
		.el-textarea .el-textarea__inner {
			resize: none !important;
			border: none !important;
			width: 100% !important;
			height: 99% !important;
		}
	}
}
</style>
