<template>
	<div class="audit-left">
		<span class="bgColor"></span>
		<h3>{{data.label}}</h3>
	</div>
	<div class="audit-right">
		<el-button type="button" @click="data.backUpper">返回</el-button>
		<el-button type="primary" @click="data.submitAudit">提交审核</el-button>
	</div>
</template>

<script>
import { defineComponent } from 'vue';
export default defineComponent({
	props: {
		data: {
			type: Object,
		},
	},
	setup() {
		return {};
	},
});
</script>

<style lang="scss" scoped>
.audit-left {
	width: 200px;
	display: flex;
}
.bgColor {
	display: inline-block;
	width: 3px;
	height: 20px;
	background-color: rgb(103, 156, 246);
	margin-right: 10px;
}
.el-button {
	padding: 10px 30px;
	min-height: 34px;
	height: 30px;
}
</style>
