<template>
	<div class="block">
		<el-pagination
			:current-page="pageNum"
			:page-size="pageSize"
			layout="prev, pager, next,jumper"
			:total="total"
		></el-pagination>
	</div>
</template>

<script>
export default {
    props:{
        total:{
            type:Number,
        },
        pageSize:{
            type:Number,
        },
        currentpage:{
            type:Number,
        }
    }
};
</script>

<style>
.block {
    display: flex;
    justify-content: flex-end;
}
</style>
