<template>
	<el-table v-if="identity=='student'||null" :data="data" v-bind="$attrs">
		<template v-for="(item, i) in columns" :key="i">
			<el-table-column v-if="item.slot" v-bind="item">
				<template #header v-if="item.slot.title">
					<slot :name="item.slot.title" />
				</template>
				<template #default="scope" v-if="item.slot.body">
					<slot :name="item.slot.body" :data="scope"></slot>
				</template>
			</el-table-column>
			<el-table-column v-else v-bind="item"></el-table-column>
		</template>
	</el-table>

	<el-table v-if="identity=='teacher'" :data="teacherData" v-bind="$attrs">
		<template v-for="(item, i) in columns" :key="i">
			<el-table-column v-if="item.slot" v-bind="item">
				<template #header v-if="item.slot.title">
					<slot :name="item.slot.title" @click="item.action" />
				</template>
				<template #default="scope" v-if="item.slot.body">
					<slot :name="item.slot.body" :data="scope"></slot>
				</template>
			</el-table-column>
			<el-table-column
				v-else
				v-bind="item"
				style="display:flex;"
			></el-table-column>
		</template>
	</el-table>
</template>

<script>
import { reactive, toRefs, watch } from 'vue';
// console.log(watch);
export default {
	props: {
		identity: {
			type: String,
		},
		data: {
			type: Array,
		},
		tData: {
			type: Array,
		},
		columns: {
			type: Array,
		},
	},
	setup(props) {
		const teacherObj = reactive({
			teacherData: props.tData,
		});

		watch(
			() => {
				return props.tData;
			},
			val => {
				teacherObj.teacherData = val;
			},
			{
				immediate: true,
			},
		);

		return {
			...toRefs(teacherObj),
		};
	},
};
</script>

<style></style>
