<template>
	<v-chart :options="option" :autoresize="true" v-loading="loading"></v-chart>
	<div class="myanswer" v-if="identity==='student'">
		<div class="left">
			<el-tabs v-model="activeName" @tab-click="handleClick">
				<el-tab-pane label="我的问题" name="first">
					<!-- 模糊搜索 -->
					<div class="screening">
						<el-input
							class="margin"
							placeholder="请输入内容"
							v-model="questionTitle"
							clearable
							@change="search"
						>
						</el-input>
					</div>
					<!-- 列表渲染 -->
					<div class="table" v-for="item in tableData" :key="item.id">
						<div class="tableheader">
							<p class="p1">
								<span>{{item.qUserName}}</span>
								<span>{{item.replyTime}}</span>
								实训类型:<span v-for="(item,index) in typeList" :key="index">
									<i v-if="index==ind">{{item.name}}</i>
								</span>
							</p>
							<div class="bottom">
								<p @click="detail(item)">{{item.questionTitle}}</p>
								<p :class="[item.unsupportDownB?'font':'fonts']">
									{{item.questionContent}}
								</p>
							</div>
						</div>
						<div class="tablecontent">
							<p class="p1">
								<span>
									<i class="el-icon-chat-dot-square"></i>
									{{item.answerCount}}</span
								>
							</p>
							<div class="bottom">
								<span @click="item.unsupportDownB=!item.unsupportDownB">
									查看全部
									<span v-if="!item.unsupportDownB"
										><i class="el-icon-arrow-down"></i
									></span>
									<span v-if="item.unsupportDownB"
										><i class="el-icon-arrow-up"></i
									></span>
								</span>
								<span>
									<el-tooltip content="编辑" placement="bottom" effect="dark">
										<i
											class="el-icon-edit-outline"
											@click="open(item.answerId,item.questionContent)"
										></i>
									</el-tooltip>
									&emsp;
									<el-tooltip content="删除" placement="bottom" effect="light">
										<i class="el-icon-delete" @click="del(item.answerId)"></i>
									</el-tooltip>
								</span>
							</div>
						</div>
					</div>
					<!-- 分页的渲染 -->
					<el-pagination
						@size-change="handleSizeChange"
						@current-change="currentChange"
						v-model:currentPage="currentPage3"
						layout="prev, pager, next, jumper"
						:total="total"
						:current-page="pageNum"
						:page-size="pageSize"
					>
					</el-pagination>
					<!-- 弹框 -->
					<el-dialog title="编辑" v-model="dialogFormVisible">
						<v-md-editor v-model="questionContent" height="400px"></v-md-editor>
						<template #footer>
							<span class="dialog-footer">
								<el-button @click="dialogFormVisible = false">取 消</el-button>
								<el-button type="primary" @click="edit">确 定</el-button>
							</span>
						</template>
					</el-dialog>
				</el-tab-pane>

				<el-tab-pane label="我的答案" name="second">
					<!-- 模糊搜索 -->
					<div class="screening">
						<el-input
							class="margin"
							placeholder="请输入内容"
							v-model="questionTitle"
							clearable
							@change="search"
						>
						</el-input>
					</div>
					<div class="table" v-for="item in tableList" :key="item.id">
						<div class="tableheader">
							<p class="p1">
								<span>{{item.qUserName}}</span>
								<span>{{item.replyTime}}</span>
							</p>
							<div class="bottom">
								<p @click="detail(item)">{{item.questionTitle}}</p>
								<div class="line_height">
									<p>
										{{item.questionTitle}}
									</p>
									<p>
										{{item.questionContent}}
									</p>
								</div>
							</div>
						</div>
						<div class="tablecontent">
							<p class="p1">
								<span>
									<el-tooltip content="编辑" placement="bottom" effect="dark">
										<i
											class="el-icon-edit-outline"
											@click="open(item.answerId,item.questionContent)"
										></i>
									</el-tooltip>
									&emsp;
									<el-tooltip content="删除" placement="bottom" effect="light">
										<i class="el-icon-delete" @click="del(item.answerId)"></i>
									</el-tooltip>
								</span>
							</p>
							<div class="bottom">
								<span @click="item.unsupportDownB=!item.unsupportDownB">
									查看全部
									<span v-if="!item.unsupportDownB"
										><i class="el-icon-arrow-down"></i
									></span>
									<span v-if="item.unsupportDownB"
										><i class="el-icon-arrow-up"></i
									></span>
								</span>
							</div>
						</div>
					</div>
					<!-- 分页的渲染 -->
					<el-pagination
						@size-change="handleSizeChange"
						@current-change="currentChange"
						v-model:currentPage="currentPage3"
						layout="prev, pager, next, jumper"
						:total="total"
						:current-page="pageNum"
						:page-size="pageSize"
					>
					</el-pagination>
					<!-- 弹框 -->
					<el-dialog title="编辑" v-model="dialogFormVisible">
						<v-md-editor v-model="questionContent" height="400px"></v-md-editor>
						<template #footer>
							<span class="dialog-footer">
								<el-button @click="dialogFormVisible = false">取 消</el-button>
								<el-button type="primary" @click="edit">确 定</el-button>
							</span>
						</template>
					</el-dialog>
				</el-tab-pane>
			</el-tabs>
		</div>
		<div class="right">
			<AnswerRight />
		</div>
	</div>
	<div class="myanswer" v-else-if="identity==='teacher'">
		<div class="main">
			<div class="header">
				<ul class="source">
					<p>来源 :</p>
					<li class="active">网站2021A班</li>
				</ul>
				<ul>
					<p>状态 :</p>
					<li :class="active" v-for="(item,index) in type" :key="index">
						<span
							:class="index===ind?'active':''"
							@click="interview(index)"
							>{{item.name}}</span
						>
					</li>
				</ul>
			</div>
			<div class="content">
				<el-tabs v-model="activeName" @tab-click="handleClick">
					<el-tab-pane label="待处理问答" name="first">
						<!-- 模糊搜索 -->
						<div class="screening">
							<el-checkbox
								:indeterminate="isIndeterminate"
								v-model="checkAll"
								@change="handleCheckAllChange"
								>全选</el-checkbox
							>
							<div class="rightbtn">
								<el-button @click="open(item.answerId,item.questionContent)"
									>批量回答</el-button
								>
								<el-button>批量选择相似问题答案</el-button>
								<el-input
									class="margin"
									placeholder="请输入内容"
									v-model="searchTitle"
									clearable
									@change="search"
								>
								</el-input>
							</div>
						</div>
						<!-- 列表渲染 -->
						<div class="table" v-for="(item,index) in cityOptions" :key="index">
							<div class="tableheader">
								<p class="p1">
									<span>{{item.className}}</span>
									<span>{{item.qUserName}}</span>
									<span>{{item.replyTime}}</span>
									实训类型:<span v-for="(item,index) in typeList" :key="index">
										<i v-if="index==ind">{{item.name}}</i>
									</span>
								</p>
								<div class="bottom">
									<p @click="detail(item)">{{item.questionTitle}}</p>
									<p :class="[item.unsupportDownB?'font':'fonts']">
										{{item.questionContent}}
									</p>
									<p>
										<el-button @click="detail(item)" type="primary"
											>回答</el-button
										>
										<el-button type="primary"
											>选择其他有"正确答案"的类似问题</el-button
										>
										<el-button
											v-if="flag"
											@click="Boutique(item.answerId,flag)"
											type="warning"
											plain
											>设为精品</el-button
										>
										<el-button
											v-else-if="!flag"
											@click="Boutique(item.answerId,flag)"
											type="warning"
											plain
											>取消精品</el-button
										>
									</p>
								</div>
							</div>
							<div class="tablecontent">
								<p class="p1">
									<span>
										<i class="el-icon-chat-dot-square"></i>
										{{item.answerCount}}</span
									>
								</p>
								<div class="bottom">
									<span @click="item.unsupportDownB=!item.unsupportDownB">
										查看全部
										<span v-if="!item.unsupportDownB"
											><i class="el-icon-arrow-down"></i
										></span>
										<span v-if="item.unsupportDownB"
											><i class="el-icon-arrow-up"></i
										></span>
									</span>
									<span>
										<!-- 屏蔽按钮 -->
										<el-switch
											v-model="item.supportUpB"
											active-color="blue"
											inactive-color="#eee"
											@change="handleSwitch(item.answerId,item.supportUpB)"
										>
										</el-switch>
									</span>
								</div>
							</div>
						</div>
						<!-- 分页的渲染 -->
						<el-pagination
							@size-change="handleSizeChange"
							@current-change="currentChange"
							v-model:currentPage="currentPage3"
							layout="prev, pager, next, jumper"
							:total="total"
							:current-page="pageNum"
							:page-size="pageSize"
						>
						</el-pagination>
						<!-- 弹框 -->
						<el-dialog title="编辑" v-model="dialogFormVisible">
							<v-md-editor
								v-model="questionContent"
								height="400px"
							></v-md-editor>
							<template #footer>
								<span class="dialog-footer">
									<el-button @click="dialogFormVisible = false"
										>取 消</el-button
									>
									<el-button type="primary" @click="edit">确 定</el-button>
								</span>
							</template>
						</el-dialog>
					</el-tab-pane>

					<el-tab-pane label="所有问答" name="second"> </el-tab-pane>
				</el-tabs>
			</div>
		</div>
	</div>
</template>

<script>
import app from '@/api/index.js';
import { useRouter } from 'vue-router';
const {
	mysrkList,
	answerdelete,
	selectContextByAnswerId,
	update,
	myanswer,
	answerwait,
	shield,
	deleteShield,
	quality,
	deleteQuality
} = app;
import AnswerRight from '@/components/AnswerRight.vue';
import { reactive, toRefs } from 'vue';
import { ElMessageBox, ElMessage,ElLoading } from 'element-plus';

export default {
	components: {
		AnswerRight,
	},
	setup() {
		const router = useRouter();
		const state = reactive({
			loading: true,
			activeName: 'first',
			tableData: [],
			total: 0,
			pageNum: 1,
			pageSize: 10,
			questionTitle: '',
			dialogFormVisible: false,
			questionContent: '',
			tableList: [],
			identity: '',
			type: [
				{ name: '全部' },
				{ name: '精品' },
				{ name: '认证' },
				{ name: '被屏蔽' },
			],
			ind: 0,
			checkAll: false,
			checkedCities: ['上海', '北京'],
			cityOptions: [],
			isIndeterminate: true,
			value: false,
			searchTitle: '',
			flag: true,
		});
		state.identity = window.localStorage.getItem('identity');
		const getinit = () => {
			const {
				pageNum = 1,
				pageSize = 10,
				questionTitle = '',
				classId = '9',
				searchTitle = '',
				status = '',
			} = state;
			// 接收列表数据
			mysrkList
				.mysrk({
					pageNum,
					pageSize,
					questionTitle,
				})
				.then(res => {
					if (res.status == 200) {
						state.tableData = res.data.rows;
						state.total = res.data.total;
					}
				});
			// 我的答案
			myanswer
				.myanswer({
					pageNum,
					pageSize,
					questionTitle,
				})
				.then(res => {
					console.log(res);
					if (res.status == 200) {
						state.tableList = res.data.rows;
						state.total = res.data.total;
					}
				});
			answerwait
				.answerwait({
					pageNum,
					pageSize,
					classId,
					searchTitle,
					status,
				})
				.then(res => {
					console.log(res);
					if (res.status == 200) {
						state.cityOptions = res.data.rows;
						console.log(state.cityOptions);
						state.total = res.data.total;
					}
				});
		};
		const init = () => {
			getinit();
		};
		init();
		// loading  加载效果
		const startLoading = () => {
			state.loading = ElLoading.service({
				lock: true,
				text: '加载中……',
				background: 'rgba(0, 0, 0, 0.7)',
			});
		};
		startLoading();
		const endLoading = () => {
			state.loading.close();
			state.loading = false;
		};
		endLoading();
		const methods = {
			// 点击精品和取消精品
			async Boutique(answerId, flag) {
				console.log(answerId, flag);
				if (flag == true) {
					let res = await quality.quality({ answerId });
					if (res.status == 200) {
						state.flag=!state.flag
						ElMessage({
							type: 'success',
							message: '设置精品成功!',
						});
					}
				} else {
					let res = await deleteQuality.deleteQuality({ answerId });
					if (res.status == 200) {
						state.flag=!state.flag
						ElMessage({
							type: 'success',
							message: '取消精品成功!',
						});
					}
				}
			},
			// 点击屏蔽和取消屏蔽
			async handleSwitch(answerId, supportUpB) {
				console.log(answerId, supportUpB);
				if (supportUpB == true) {
					let res = await shield.shield({ answerId });
					if (res.status == 200) {
						ElMessage({
							type: 'success',
							message: '屏蔽成功!',
						});
					}
				} else {
					let res = await deleteShield.deleteShield({ answerId });
					if (res.status == 200) {
						ElMessage({
							type: 'warning',
							message: '取消屏蔽成功!',
						});
					}
				}
			},
			// 点击头部筛选
			interview(index) {
				console.log(index);
				state.ind = index;
				if(state.status== "0"){
					state.status=""
				}else{
					state.status=index
				}
				init();
			},
			// tab 切换
			handleClick(tab, event) {
				console.log(tab, event);
			},
			// 分页方法
			currentChange(pageNum) {
				state.pageNum = pageNum;
				init();
			},
			handleSizeChange() {
				init();
			},
			// 模糊搜索方法
			search() {
				state.pageNum = 1;
				init();
			},
			// 点击删除
			del(answerId) {
				console.log(answerId);
				ElMessageBox.confirm('此操作将永久删除该文件, 是否继续?', '提示', {
					confirmButtonText: '确定',
					cancelButtonText: '取消',
					type: 'warning',
				})
					.then(async () => {
						let res = await answerdelete.answerdelete({ answerId });
						console.log(res);
						if (res.status == 200) {
							ElMessage({
								type: 'success',
								message: '删除成功!',
							});
						}
					})
					.catch(() => {
						ElMessage({
							type: 'info',
							message: '已取消删除',
						});
					});
			},
			// 点击编辑打开弹框
			async open(answerId, questionContent) {
				state.dialogFormVisible = true;
				let res = await selectContextByAnswerId.selectContextByAnswerId({
					answerId,
				});
				console.log(res);
				let res1 = await update.update({ answerId, questionContent });
				if (res.data.code == 200) {
					state.questionContent = res.data.data.context;
				}
				if (res1.status == 200) {
					state.context = '';
					res1.questionContent = res.data.data.context;
					init();
				}
			},
			async edit() {
				state.dialogFormVisible = false;
			},
			// 跳转详情
			detail(item) {
				router.push({
					path: `/home/answer/detail/${item.answerId}`,
					query: item,
				});
			},
		};
		// 多选 全选
		const handleCheckAllChange = val => {
			state.checkedCities = val ? state.cityOptions : [];
			state.isIndeterminate = false;
		};
		const handleCheckedCitiesChange = value => {
			const checkedCount = value.length;
			state.checkAll = checkedCount === state.cityOptions.length;
			state.isIndeterminate =
				checkedCount > 0 && checkedCount < state.cityOptions.length;
		};
		return {
			...toRefs(state),
			...methods,
			handleCheckAllChange,
			handleCheckedCitiesChange,
		};
	},
};
</script>

<style lang="scss" scoped>
.myanswer {
	width: 80%;
	min-height: 400px;
	margin-left: 10%;
	display: flex;
	.left {
		flex: 7;
		.screening {
			width: 20%;
			height: 50px;
			float: right;
			background: #eee;
		}
		.table {
			width: 100%;
			height: 150px;
			background: #fff;
			border-bottom: 1px solid #000;
			margin-top: 10px;
			display: flex;
			justify-content: space-between;
			.tableheader {
				flex: 5;
				margin-left: 20px;
				.p1 {
					height: 50px;
					width: 100%;
					display: flex;
					line-height: 50px;
					width: 500px; /*定义块元素的宽度*/
					white-space: nowrap; /*内容超宽后禁止换行显示*/
					overflow: hidden; /*超出部分隐藏*/
					text-overflow: ellipsis; /*文字超出部分以省略号显示*/
					span {
						margin-right: 30px;
					}
				}
				.bottom {
					width: 100%;
					height: 120px;
					line-height: 50px;
					.line_height {
						line-height: 25px;
					}
					.font {
						font-size: 18px;
						width: 300px; /*定义块元素的宽度*/
						white-space: nowrap; /*内容超宽后禁止换行显示*/
						overflow: hidden; /*超出部分隐藏*/
						text-overflow: ellipsis; /*文字超出部分以省略号显示*/
					}
					.fonts {
						width: 300px; /*定义块元素的宽度*/
						color: #ccc;
						white-space: nowrap; /*内容超宽后禁止换行显示*/
						overflow: hidden; /*超出部分隐藏*/
						text-overflow: ellipsis; /*文字超出部分以省略号显示*/
					}
				}
			}
			.tablecontent {
				flex: 5;
				text-align: center;
				.p1 {
					height: 50px;
					width: 100%;
					line-height: 50px;
					span {
						margin-right: 30px;
					}
				}
				.bottom {
					width: 100%;
					height: 100px;
					line-height: 100px;
					justify-content: space-around;
					margin-left: 50px;
					span {
						color: blue;
						margin-right: 50px;
					}
				}
			}
		}
	}
	.right {
		flex: 3;
	}
	.main {
		width: 100%;
		height: 100%;
		.header {
			width: 100%;
			height: 100px;
			background: #fff;
			line-height: 50px;
			ul {
				width: 100%;
				flex: 9;
				list-style-type: none;
				display: flex;
				align-items: center;
				line-height: 50px;
				li {
					width: 100px;
					height: 50px;
					margin-left: 23px;
					text-align: center;
					border-radius: 40%;
					line-height: 50px;
					display: flex;
					justify-content: center;
					float: left;
				}
				li:hover {
					align-items: center;
					align-content: center;
					background: #679cf6;
					color: #fff;
					width: 100px;
					height: 40px;
					line-height: 40px;
					border-radius: 20px;
				}
				.active {
					align-items: center;
					align-content: center;
					background: #679cf6;
					color: #fff;
					width: 100px;
					height: 40px;
					line-height: 40px;
					border-radius: 20px;
					margin-top: 5px;
				}
			}
		}
		.content {
			.screening {
				display: flex;
				justify-content: space-around;
				align-items: center;
				margin-bottom: 20px;
				.rightbtn {
					display: flex;
				}
			}
			.table {
				width: 100%;
				height: 200px;
				background: #fff;
				border-bottom: 1px solid #000;
				margin-top: 10px;
				display: flex;
				justify-content: space-between;
				.tableheader {
					flex: 5;
					margin-left: 20px;
					.p1 {
						height: 50px;
						width: 100%;
						display: flex;
						line-height: 50px;
						width: 500px; /*定义块元素的宽度*/
						white-space: nowrap; /*内容超宽后禁止换行显示*/
						overflow: hidden; /*超出部分隐藏*/
						text-overflow: ellipsis; /*文字超出部分以省略号显示*/
						span {
							margin-right: 30px;
						}
					}
					.bottom {
						width: 100%;
						height: 120px;
						line-height: 50px;
						.line_height {
							line-height: 25px;
						}
						.font {
							font-size: 18px;
							width: 300px; /*定义块元素的宽度*/
							white-space: nowrap; /*内容超宽后禁止换行显示*/
							overflow: hidden; /*超出部分隐藏*/
							text-overflow: ellipsis; /*文字超出部分以省略号显示*/
						}
						.fonts {
							width: 300px; /*定义块元素的宽度*/
							color: #ccc;
							white-space: nowrap; /*内容超宽后禁止换行显示*/
							overflow: hidden; /*超出部分隐藏*/
							text-overflow: ellipsis; /*文字超出部分以省略号显示*/
						}
					}
				}
				.tablecontent {
					flex: 5;
					text-align: center;
					.p1 {
						height: 50px;
						width: 100%;
						line-height: 50px;
						span {
							margin-right: 30px;
						}
					}
					.bottom {
						width: 100%;
						height: 100px;
						line-height: 100px;
						justify-content: space-around;
						margin-left: 50px;
						span {
							color: blue;
							margin-right: 50px;
						}
					}
				}
			}
		}
	}
}
</style>
