<template>
	<router-view></router-view>
</template>

<script>
export default {
	name: 'App',
	components: {},
};
</script>

<style lang="scss">
html,
body,
#app {
	width: 100%;
	height: 100%;
	text-rendering: optimizeLegibility;
	font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
		Microsoft YaHei, Arial, sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

#nprogress {
	width: 100%;
	height: 5px;
	margin-bottom: 5px;
}
#nprogress .bar {
	width: 100%;
	height: 5px;
	background: red !important;
}
</style>
