<template>
	<div class="needHandle">
		<!-- <v-chart :options="option" :autoresize="true" v-loading="loading"></v-chart> -->
		<div class="highpost-breadcrumb">
			<div class="breadcrumb"><nav-com /></div>
		</div>
		<div class="contentainer">
			<div class="need-top">
				<div class="serching">
					<span>
						<el-select
							v-model="value"
							filterable
							placeholder="请选择"
							@change="getBlankClassList"
						>
							<el-option
								v-for="item in backlogDataObj.backLogData.data"
								:key="item.id"
								:label="item.classname"
								:value="item.classname"
							>
								{{item.classname}}
							</el-option>
						</el-select>
					</span>
				</div>
				<div class="needdeatl">
					<div>
						<div class="need_detail">
							<div class="nedd_left">
								<img
									src="http://111.203.59.61:8060/static/img/need_all.f33d257f.svg"
									alt=""
								/>
							</div>
							<div class="nedd_right">
								<div class="num1">
									<!-- {{bankDataObj.blankData.total}} -->
									{{total}}
								</div>
								<div class="text">全部</div>
							</div>
						</div>
					</div>
					<div>
						<div class="need_detail">
							<div class="nedd_left">
								<img
									src="http://111.203.59.61:8060/static/img/question.dd523812.svg"
									alt=""
								/>
							</div>
							<div class="nedd_right">
								<div class="num2">
									<!-- {{bankDataObj.blankData.total}} -->
									{{total}}
								</div>
								<div class="text">问答</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="need-main">
				<div class="search-top">
					<div class="input4">
						<el-input
							placeholder="搜索待办内容"
							v-model="input4"
							@change="searchValue"
						>
							<template #suffix>
								<i class="el-input__icon el-icon-search"></i>
							</template>
						</el-input>
					</div>
				</div>
				<super-table
					:tData="bankDataObj.rows"
					:columns="bank"
					identity="teacher"
				>
					<template #optionheader> 操作 </template>
					<template #optionrow="data" style="display: flex;"
						><div
							style="color:blue"
							@click="$router.push(`/home/answer/detail/${data.data.row.answerId}`)"
						>
							回复
						</div></template
					>
				</super-table>
			</div>
		</div>
	</div>
</template>

<script>
import { defineComponent, computed, reactive, toRefs, ref } from 'vue';
import SuperTable from '@/components/table/supertable.vue';
// import { ElLoading } from 'element-plus';
import menuConfig from '@/config/menu.js';

import { useStore } from 'vuex';
import api from '@/api';
export default defineComponent({
	components: { SuperTable },
	setup() {
		const { waitWork } = api;
		const store = useStore();
		const state = reactive({
			loading: true,
			identity:window.localStorage.getItem('identity') || '',
			total: '',
			bank: menuConfig.bankColumns,
			bankDataObj:{},
			blankObj: {
				isAsc: 'desc',
				pageNum: 1,
				pageSize: 10,
				type: 0,
				blackingTitle: null,
				classId: null,
			},
			value: '',
			backlogDataObj: computed(() => {
				return store.state.backlogDataLists;
			}),

			// bankDataObj: computed(() => {
			// 	return store.state.backlogDataLists;
			// }),
		});
		store.dispatch('getClassInfo');
		// store.dispatch('getBlankData',state.blankObj);
// loading  加载效果
		// const startLoading = () => {
		// 	state.loading = ElLoading.service({
		// 		lock: true,
		// 		text: '加载中……',
		// 		// background: 'rgba(0, 0, 0, 0.7)',
		// 		background: '#409EFF',
		// 	});
		// };
		// startLoading();
		// const endLoading = () => {
		// 	state.loading.close();
		// };
		// onMounted(() => {
		// 	endLoading();
		// });
		// 选择班级
		const getBlankClassList = e => {
			console.log(e);
		};
		// const init = () => {
		// 	return (state.bankDataObj = store.state.backlogDataLists);
		// };
		// init();
		var obj = {...state.blankObj}
		const getInit = (obj) => {
			waitWork._getBlackList(obj).then(res => {
				console.log(res.data);
				if (res.data.code === 200) {
					state.bankDataObj = res.data;
					state.total = res.data.total;
				}
			});
		};
		if(state.identity==='teacher'){
			getInit(obj);
		}else{
			return;
		}

		// 搜索代办内容
		const searchValue = e => {
			console.log(e)
			getInit({...state.blankObj, blackingTitle: e })
		};
		return {
			...toRefs(state),
			getBlankClassList,
			searchValue,
			input4: ref(''),
			value: '',
			// goToAnswered
		};
	},
});
</script>

<style lang="scss" scoped>
.needHandle {
	width: 100%;
	height: 100%;
	// background-color: darkorange;
	display: flex;
	flex-direction: column;
}
.breadcrumb {
	width: 80%;
	height: 100%;
	// background-color: rgb(230,235,247);
	display: flex;
	align-items: center;
	margin: 0px auto;
}
.highpost-breadcrumb {
	width: 100%;
	height: 70px;
	background-color: rgb(230, 235, 247);
}
.contentainer {
	flex: 1;
	width: 80%;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	.need-top {
		width: 100%;
		height: 229px;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		margin-bottom: 15px;
		.serching {
			width: 100%;
			height: 40px;
			line-height: 40px;
			background-color: rgb(187, 83, 83);
			position: relative;
			span {
				position: absolute;
				top: 0px;
				right: 40px;
			}
		}
	}
	.need-main {
		flex: 1;
		width: 100%;
		height:auto;
		// min-height: 675px;
		background-color: #fff;
		margin-bottom: 20px;
	}
}

.needdeatl {
	width: 100%;
	flex: 1;
	// background-color: darkcyan;
	display: flex;
	align-items: center;
	// margin-left: 20px;
	margin-right: 20px;
	justify-content: space-around;
}
.need_detail {
	width: 360px;
	height: 110px;
	background: rgba(178, 183, 198, 0.1);
	border-radius: 8px;
	display: flex;
	align-items: center;
	margin-left: 30px;
	margin-right: 30px;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
}

.search-top {
	width: 100%;
	height: 40px;

	.input4 {
		width: 200px;
		height: 100%;
		margin-right: 30px;
		margin-top: 10px;
		float: right;
		clear: both;
	}
}
</style>
