<template>
	<div class="e-charts">
		<!-- 引入图表组件 -->
		<VueChart :type="type" :data="data" :options="options" />
	</div>
</template>

<script>
import VueChart from '@/components/vue-chart/index.vue';   //  引入

import { defineComponent } from 'vue';

export default defineComponent({
    // 注册组件
	components: { VueChart },
	setup() {

        // 抛出配置参数  三个参数
		return {
			type: 'line',
			data: {
				labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
				datasets: [
					{
						label: '# of Votes',
						data: [12, 19, 3, 5, 2, 3],
						backgroundColor: [
							'rgba(255, 99, 132, 0.9)',
							'rgba(54, 162, 235, 0.6)',
							'rgba(255, 206, 86, 0.8)',
							'rgba(75, 192, 192, 0.7)',
							'rgba(153, 102, 255, 0.5)',
							'rgba(255, 159, 64, 0.8)',
						],
						borderColor: [
							'rgba(255, 99, 132, 1)',
							'rgba(54, 162, 235, 1)',
							'rgba(255, 206, 86, 1)',
							'rgba(75, 192, 192, 1)',
							'rgba(153, 102, 255, 1)',
							'rgba(255, 159, 64, 1)',
						],
						borderWidth: 1,
					},
				],
			},
			options: {
				scales: {
					y: {
						beginAtZero: true,
					},
				},
			},
		};
	},
});
</script>

<style lang="scss" scoped>
.e-charts{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
