<template>
	<div class="addinter">
		<v-chart :options="option" :autoresize="true" v-loading="loading"></v-chart>
		<div class="top">
			<el-breadcrumb separator="/">
				<el-breadcrumb-item>面试</el-breadcrumb-item>
				<el-breadcrumb-item>面试记录</el-breadcrumb-item>
			</el-breadcrumb>
		</div>
		<div class="box">
			<div class="center">
				<div class="addProject_title">
					<div class="left">
						<span>添加面试记录</span>
					</div>
				</div>
				<div>
					<el-form ref="form" :model="ruleForm" label-width="80px" size="mini">
						<ul class="addtask_detail">
							<li>
								<el-form-item label="岗位名称">
									<el-input
										v-model="ruleForm.stationName"
										style="width: 235px"
										placeholder="请输入岗位名称"
									></el-input>
								</el-form-item>
								<el-form-item label="公司名称">
									<el-input
										v-model="ruleForm.companyName"
										style="width: 235px"
										placeholder="请输入公司名称"
									></el-input>
								</el-form-item>
							</li>
							<li>
								<el-form-item label="面试时间:">
									<div class="block">
										<el-date-picker
											v-model="ruleForm.interviewTime"
											type="datetime"
											placeholder="选择日期时间"
										></el-date-picker>
									</div>
								</el-form-item>
								<el-form-item label="面试时长">
									<el-select v-model="ruleForm.duration" placeholder="面试时长">
										<el-option
											v-for="item in optionslist"
											:key="item.value"
											:label="item.label"
											:value="item.label"
										></el-option>
									</el-select>
								</el-form-item>
							</li>
							<li>
								<el-form-item label="地点">
									<el-input
										v-model="ruleForm.site"
										style="width: 235px"
										placeholder="请输入地点"
									></el-input>
								</el-form-item>
								<el-form-item label="面试官">
									<el-input
										v-model="ruleForm.intervierManagement"
										style="width: 235px"
										placeholder="请输入面试官"
									></el-input>
								</el-form-item>
							</li>
							<li>
								<el-form-item label="专业">北京网站</el-form-item>
								<el-form-item label="提交人">123456</el-form-item>
							</li>
							<el-form-item label="记录.吐槽">
								<v-md-editor
									v-model="ruleForm.record"
									height="400px"
								></v-md-editor>
							</el-form-item>
							<li>
								<el-form-item label="面试结果">
									<el-radio-group v-model="ruleForm.status" size="medium">
										<el-radio label="0">不确定</el-radio>
										<el-radio label="1">通过</el-radio>
										<el-radio label="2">未通过</el-radio>
									</el-radio-group>
								</el-form-item>
							</li>
							<li>
								<el-form-item label="录音文件">
									<el-radio-group
										v-model="ruleForm.issoundrecord"
										size="medium"
									>
										<el-radio label="1">无</el-radio>
										<el-radio label="0">有</el-radio>
									</el-radio-group>
								</el-form-item>
							</li>
							<div class="upload" v-if="ruleForm.issoundrecord === '0'">
								<button
									@click.prevent="openupload"
									class="el-button upload_audio el-button--primary el-button--small"
									type="file"
								>
									上传录音
								</button>
								<i class="el-icon-plus"></i>
								<input
									type="file"
									class="el-upload__input"
									accept=".mp3, .mp4"
								/>
								<span class="el_upload__tip">支持上传多个录音文件</span>
							</div>
							<div class="question_detail">
								<el-form-item
									label="面试问题"
									v-for="(item,index) in ruleForm.askAndanswerList"
									:key="index"
								>
									<li>
										<div class="ask_title">问</div>
										<el-input
											class="ipts"
											type="text"
											placeholder="请输入标题"
											v-model="item.question"
											show-word-limit
										></el-input>

										<i class="el-icon-plus" @click="addItem"></i>
										<i class="el-icon-minus" @click="deleteItem"></i>
									</li>
									<li class="judge">
										<el-radio-group v-model="item.meeting">
											<el-radio label="0">我的回答</el-radio>
											<el-radio label="1">没有作答/不知道答案</el-radio>
										</el-radio-group>
									</li>
									<li style="margin-top:20px" v-if="item.meeting === '0'">
										<div class="questions">答</div>
										<el-input
											class="ipts"
											type="textarea"
											placeholder="请输入答案内容"
											v-model="item.answer"
											show-word-limit
										></el-input>
									</li>
								</el-form-item>
							</div>
							<div class="actions">
								<el-button
									type="primary"
									class="el-button el-button--default el-button--medium"
									@click="goback"
									>返回</el-button
								>
								<el-button
									type="primary"
									class="el-button el-button--primary el-button--medium submits"
								>
									<span @click.prevent="onSubmit(ruleForm)">提交</span>
								</el-button>
							</div>
						</ul>
					</el-form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { reactive, toRefs } from 'vue';

import { useRouter, useRoute } from 'vue-router';
import { ElMessage,ElLoading } from 'element-plus';

import moment from 'moment';
import api from '../../../../api';
const { recordlist } = api;
export default {
	setup() {
		const router = useRouter();
		const route = useRoute();
		const { addInterviewList } = api;
		const state = reactive({
			loading: true,
			list: [],
			ruleForm: {
				interviewId: '',
				stationId: '',
				companyName: '', //公司名称
				interviewTime: '', //面试时间
				intervierManagement: '', //面试官
				majorId: '',
				commitPeople: '',
				status: '0', //面试结果
				issoundrecord: '1', // 有无录音2
				stationName: '', //岗位名称
				majorName: '北京网站', //专业
				commitName: '123456', //提交人
				duration: '', //时长
				site: '', //地点
				record: '', //记录吐槽
				shield: 0,
				soundrecordList: [],
				askAndanswerList: [
					{
						meeting: '0',
						answer: '',
						question: '',
					},
				], //问答
			},
			optionslist: [
				{
					value: '选项1',
					label: '半小时',
				},
				{
					value: '选项2',
					label: '半小时到一小时',
				},
				{
					value: '选项3',
					label: '一小时以上',
				},
			],
		});

		const interviewId = route.query.interviewId;
		const getData = () => {
			recordlist.getmyrecord().then(res => {
				if (res.data.code === 200) {
					state.list = res.data.rows;
				}
				let res2 = state.list.find(item => item.interviewId === interviewId);
				state.ruleForm.companyName = res2.companyName;
				state.ruleForm.stationName = res2.stationName;

				state.ruleForm.interviewTime = res2.interviewTime;
				state.ruleForm.intervierManagement = res2.intervierManagement;

				state.ruleForm.issoundrecord = res2.issoundrecord;
				state.ruleForm.site = res2.site;
				state.ruleForm.duration = res2.duration;

			});
		};
		const init = () => {
			getData();
		};
		init();


		// loading  加载效果
		const startLoading = () => {
			state.loading = ElLoading.service({
				lock: true,
				text: '加载中……',
				background: 'rgba(0, 0, 0, 0.7)',
			});
		};
		startLoading();
		const endLoading = () => {
			state.loading.close();
			state.loading = false;
		};
		endLoading();
		const methods = {
			// 点击提交
			onSubmit(ruleForm) {
				const {
					ruleForm: {
						companyName,
						stationName,
						record,
						duration,
						status,
						site,
						issoundrecord,
						interviewTime,
					},
				} = state;
				if (
					companyName === '' ||
					issoundrecord === '' ||
					stationName === '' ||
					record === '' ||
					duration === '' ||
					status === '' ||
					site === '' ||
					interviewTime === ''
				) {
					ElMessage.error({
						message: '不能为空',
						type: 'error',
					});
					return;
				}

				let newTime = moment(interviewTime).format('YYYY-MM-DD hh:mm:ss');
				addInterviewList
					.addInterView({ ...ruleForm, interviewTime: newTime })
					.then(res => {
						if (res.data.code === 200) {
							router.go(-1);
							ElMessage.success('提交成功');
						}
					});
			},
			// 跳转
			goback() {
				router.push('/home/interview/record');
			},

			// 添加问答框
			addItem() {
				const {
					ruleForm: { askAndanswerList },
				} = state;
				askAndanswerList.push({
					meeting: '0',
					answer: '',
					question: '',
				});
			},
			// 删除
			deleteItem() {
				const {
					ruleForm: { askAndanswerList },
				} = state;

				if (askAndanswerList.length > 1) {
					askAndanswerList.pop();
				}
			},

		};

		return {
			...toRefs(state),
			...methods,
		};
	},
};
</script>

<style lang="scss" scoped>
ul {
	li {
		display: flex;
	}
}
.addinter {
	width: 100%;
	height: auto;
	background: rgba(178, 183, 198, 0.15);
	.top {
		width: 100%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		background: rgba(103, 156, 246, 0.1);
		div {
			padding: 30px;
			width: 1200px;
			margin: 0 auto;
		}
	}
	.box {
		width: 1200px;
		margin: 0 auto 20px;
		padding-left: 10px;
		padding-right: 10px;
		-webkit-box-sizing: border-box;
		padding-left: 2;
		padding-right: 139px;
		box-sizing: border-box;
		.center {
			width: 100%;
			background: #fff;
			border-radius: 2px;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			.addProject_title {
				padding-left: 20px;
				padding-right: 20px;
				height: 70px;
				line-height: 70px;
				border-bottom: 3px solid #ccc;
			}
			.addtask_detail {
				padding: 20px 100px;
				.ask_title {
					background: #ff8d41;
					padding: 0px 3px;
					margin-right: 3px;
					color: #fff;
					font-size: 16px;
				}
				.questions {
					padding: 0 4px;
					margin: 13px 0px;
					margin-right: 3px;
					color: #fff;
					font-size: 16px;
					background: #3bc9a9;
				}
				.ipts {
					width: 60%;
				}
				.upload {
					height: 45px;
					margin-left: 60px;
					position: relative;
					.el-icon-plus {
						position: absolute;
						left: -22px;
						top: 4px;
						color: #fff;
						font-size: 12px;
						display: inline-block;
					}
					.el_upload__tip {
						font-size: 12px;
						color: #80879b;
						margin-left: 10px;
					}
					.el-upload__input {
						display: none;
					}
				}
			}
			.actions {
				width: 100%;
				margin-top: 30px;
				text-align: center;
				.submits {
					margin-left: 38px;
				}
			}
			.el-icon-plus,
			.el-icon-minus {
				color: #b2b7c6;
				font-size: 16px;
				margin-left: 25px;
				margin-top: 6px;
				cursor: pointer;
			}
			.judge {
				margin-top: 20px;
				padding-left: 35px;
			}
		}
	}
}
</style>
