<template>
	<div class="braeadcrumb">
		<el-breadcrumb>
			<el-breadcrumb-item
				v-for="(item,index) in navlist"
				:key="index"
				@click="skillRouter(item)"
				class="braeadcrumb-item"
			>
				{{item.meta.title}}
			</el-breadcrumb-item>
		</el-breadcrumb>
	</div>
</template>

<script>
import { reactive, toRefs, watch } from 'vue';
import { useRoute, useRouter } from 'vue-router';
export default {
	setup() {
		const route = useRoute();
		const router = useRouter();
		const state = reactive({
			navlist: [],
		});
		watch(
			() => {
				return route;
			},
			val => {
				state.navlist = val.matched;
			},
			{
				immediate: true,
			},
		);
		const skillRouter = text => {
			console.log(580, text);
			router.push(text.path);
		};
		return {
			...toRefs(state),
			skillRouter,
		};
	},
};
</script>

<style lang="scss">
.braeadcrumb {
	height: 60px;
	width: 100%;
	background: rgba(230, 235, 247);
	.el-breadcrumb {
		margin: 0 50px;
		.braeadcrumb-item {
			line-height: 60px;
		}
	}
}
</style>
