<template>
	<div class="ranking">
		<v-chart :options="option" :autoresize="true" v-loading="loading"></v-chart>
		<nav-com />
		<div class="ranking_main">
			<div class="train_resource" v-if="identity === 'teacher'">
				<div class="resource_type">
					<div>班级:</div>
					<div class="r_t_list">
						<span
							v-for="(item,index) in alllist"
							:key="index"
							@click="changevalue(index)"
							:class="{ 'active': index === currentIndex }"
							>{{ item.text }}</span
						>
					</div>
				</div>
			</div>

			<div class="eltab">
				<el-tabs v-model="activeName" @tab-click="handleClick">
					<el-tab-pane label="面试记录榜单" name="first"
						>面试记录榜单</el-tab-pane
					>
					<el-tab-pane label="面试题榜单" name="second">面试题榜单</el-tab-pane>
				</el-tabs>
			</div>

			<super-table
				:header-cell-style="headClass"
				:cell-style="rowClass"
				:data="changecontent"
				:tData="changecontent"
				:columns="columns"
				:identity="identity"
			></super-table>

			<Page :current-page="pageNum" :page-size="pageSize" :total="total"></Page>
		</div>
	</div>
</template>

<script>
import { reactive, toRefs } from 'vue';
import api from '@/api/index';
import SuperTable from '@/components/table/supertable.vue';
import menuconfig from '@/config/recordmenu';
import Page from '@/components/table/page.vue';
import { ElLoading } from 'element-plus';
const { recordlist } = api;

export default {
	setup() {
		const state = reactive({
			loading: true,
			pageSize: 4,
			pageNum: 1,
			total: null,
			columns: [], //表格表头
			changecontent: [], //学生表格数据
			activeName: 'first',
			identity: null, //登录权限
			currentIndex: 1, //初始下标
			alllist: [
				{
					text: '全部',
				},
				{
					text: '网站2021A班',
				},
			],
		});

		// 登录状态
		state.identity = window.localStorage.getItem('identity');
		// 表头
		state.columns = menuconfig.rankingmenu;
// loading  加载效果
		const startLoading = () => {
			state.loading = ElLoading.service({
				lock: true,
				text: '加载中……',
				background: 'rgba(0, 0, 0, 0.7)',
			});
		};
		startLoading();
		const endLoading = () => {
			state.loading.close();
			state.loading = false;
		};
		endLoading();
		// 学生端 面试记录榜单
		const getData = () => {
			recordlist
				.getranklist({
					pageSize: state.pageSize,
					pageNum: state.pageNum,
				})
				.then(res => {
					if (res.data.code === 200) {
						state.changecontent = res.data.rows;
						state.total = res.data.total;
					}
				});
		};
		// 学生端 面试题榜单
		const getansenk = () => {
			recordlist.answerRangkinglist().then(res => {
				if (res.data.code === 200) {
					state.changecontent = res.data.rows;
					state.total = res.data.total;
				}
			});
		};

		// 老师端  面试题榜单
		const getrecoer = () => {
			recordlist.getrecordbang().then(res => {
				if (res.data.code === 200) {
					state.changecontent = res.data.rows;
					state.total = res.data.total;
				}
			});
		};

		// 老师端
		const getclasslist = () => {
			recordlist.getclass().then(res => {
				if (res.data.code === 200) {
					state.changecontent = res.data.rows;
					state.total = res.data.total;
				}
			});
		};

		// 点击切换
		const handleClick = tab => {
			if (tab.props.label === '面试记录榜单') {
				if (state.identity === 'student') {
					getData();
				} else if (state.identity === 'teacher') {
					getclasslist();
				}
			} else if (tab.props.label === '面试题榜单') {
				if (state.identity === 'student') {
					getansenk();
				} else if (state.identity === 'teacher') {
					getrecoer();
				}
			}
		};

		const methods = {
			// 表格添加样式
			headClass() {
				return 'background:#E8E9EE;text-align:center';
			},
			rowClass() {
				return 'text-align:center';
			},
			// 切换
			changevalue(i) {
				state.currentIndex = i;
				if (state.currentIndex === 0) {
					getclasslist();
				} else if (state.currentIndex === 1) {
					getclasslist();
				}
			},
		};

		const init = () => {
			if (state.identity === 'student') {
				getData();
			} else if (state.identity === 'teacher') {
				getclasslist();
			}
		};

		init();

		return {
			...toRefs(state),
			handleClick,
			...methods,
		};
	},
	components: {
		SuperTable,
		Page,
	},
};
</script>

<style lang="scss" scoped>
.ranking_main {
	margin: 0 30px;
	.eltab {
		height: 60px;
		background: #fff;
		line-height: 60px;
		display: flex;
		padding-left: 20px;
		border-bottom: 1px solid #000;
		position: relative;
		:hover {
			cursor: pointer;
		}
	}
	.train_resource {
		width: 100%;
		padding: 30px 0;
		margin: 10px 0;
		box-sizing: border-box;
		box-shadow: 0px 0px 10px 0px rgb(51 51 51 / 10%);
		background: #fff;
		.resource_type {
			display: flex;
			align-items: center;
			padding: 0 20px;
			font-size: 14px;
			cursor: pointer;
			.r_t_list {
				display: flex;
				& > span {
					padding: 0 10px;
					border-radius: 15px;
					line-height: 30px;
				}
				.active {
					background: #679cf6;
					color: #fff;
				}
			}
		}
	}
}
</style>
