<template>
	<el-form
		:inline="true"
		:model="formInline"
		onsubmit="return false"
		:form="formObj"
		:identity="identity"
		:formColumns="formColumns"
		class="demo-form-inline"
	>
		<template v-for="(item,i) in formColumns" :key="i">
			<el-form-item v-if="item.name==='checkbox'&&identity==='teacher'">
				<el-checkbox
					:label="item.label"
					name="isMyInfo"
					@change="item.action"
				></el-checkbox>
			</el-form-item>

			<el-form-item v-if="item.name==='input'">
				<el-input
					class="search"
					style="margin-left:15px;"
					v-model="formObj.search"
					size="mini"
					:placeholder="item.placeholder"
					@change="item.action"
					suffix-icon="el-icon-search"
				/>
			</el-form-item>
			<el-form-item v-if="item.name==='button'&&identity==='teacher'">
				<el-button
					type="primary"
					style="width:100px;height:20px;margin-left:30px;"
					@click="item.action"
					>{{item.text}}</el-button
				>
			</el-form-item>
		</template>
	</el-form>
</template>

<script>
import { reactive, toRefs } from 'vue';
export default {
	props: {
		identity:{
			type:String
		},
		form: {
			type: Object,
		},
		formColumns: {
			type: Array,
		},
	},
	setup(props) {
		console.log(props)
		const propObj = reactive({
			formObj: props.form,
		});
		console.log(propObj)
		return {
			...toRefs(propObj),
		};
	},
};
</script>

<style></style>
