<template>
	<v-chart :options="option" :autoresize="true" v-loading="loading"></v-chart>
	<div class="answerlist" v-if="identity==='student'">
		<div class="left">
			<!-- 头部筛选 -->
			<nav-com />
			<div class="header">
				<div class="type">类型:</div>
				<ul>
					<li :class="active" v-for="(item,index) in typeList" :key="index">
						<span
							:class="index===ind?'active':''"
							@click="interview(index)"
							>{{item.name}}</span
						>
					</li>
				</ul>
			</div>
			<div class="screening">
				<el-checkbox v-model="checked" @change="boutique()"
					>仅看精品</el-checkbox
				>
				<el-checkbox v-model="checkeds" @change="certification()"
					>仅看教师认证</el-checkbox
				>
				<el-input
					class="margin"
					placeholder="请输入内容"
					v-model="questionTitle"
					@change="search"
					clearable
				>
				</el-input>
			</div>
			<!-- 列表渲染 -->
			<div class="table" v-for="item in tableData" :key="item.id">
				<div class="tableheader">
					<p class="p1">
						<span>{{item.qUserName}}</span>
						<span>{{item.replyTime}}</span>
						实训类型:<span v-for="(item,index) in typeList" :key="index">
							<i v-if="index==ind">{{item.name}}</i>
						</span>
					</p>
					<div class="bottom">
						<p @click="detail(item)">{{item.questionTitle}}</p>
						<p :class="[item.unsupportDownB?'font':'fonts']">
							{{item.questionContent}}
						</p>
					</div>
				</div>
				<div class="tablecontent">
					<p class="p1">
						<span>
							<i class="el-icon-chat-dot-square"></i> {{item.answerCount}}</span
						>
					</p>
					<div class="bottom">
						<span @click="item.unsupportDownB=!item.unsupportDownB">
							查看全部
							<span v-if="!item.unsupportDownB"
								><i class="el-icon-arrow-down"></i
							></span>
							<span v-if="item.unsupportDownB"
								><i class="el-icon-arrow-up"></i
							></span>
						</span>
						<el-button size="small" type="primary" round @click="detail(item)"
							>回答</el-button
						>
					</div>
				</div>
			</div>
			<!-- 分页的渲染 -->
			<el-pagination
				@size-change="handleSizeChange"
				@current-change="currentChange"
				v-model:currentPage="currentPage3"
				layout="prev, pager, next, jumper"
				:total="total"
				:current-page="pageNum"
				:page-size="pageSize"
			>
			</el-pagination>
		</div>

		<!-- 右边问答部分 -->
		<div class="right">
			<div class="ask" @click="open">我要提问</div>
			<AnswerRight />
		</div>
	</div>
	<div class="answerlist" v-else-if="identity==='teacher'">
		<div class="main">
			<!-- 头部筛选 -->
			<nav-com />
			<div class="header">
				<div class="type">类型:</div>
				<ul>
					<li :class="active" v-for="(item,index) in typeList1" :key="index">
						<span
							:class="index===ind?'active':''"
							@click="interview(index)"
							>{{item.name}}</span
						>
					</li>
				</ul>
			</div>
			<div class="screening">
				<el-checkbox v-model="checked" @change="boutique()"
					>仅看精品</el-checkbox
				>
				<el-checkbox v-model="checkeds" @change="certification()"
					>仅看教师认证</el-checkbox
				>
				<el-input
					class="margin1"
					placeholder="请输入内容"
					v-model="questionTitle"
					@change="search"
					clearable
				>
				</el-input>
				<div class="rightask">
					<div class="ask1" @click="open">+我要提问</div>
				</div>
			</div>
			<!-- 列表渲染 -->
			<div class="table" v-for="item in tableData" :key="item.id">
				<div class="tableheader">
					<p class="p1">
						<span>{{item.qUserName}}</span>
						<span>{{item.replyTime}}</span>
						实训类型:<span v-for="(item,index) in typeList" :key="index">
							<i v-if="index==ind">{{item.name}}</i>
						</span>
					</p>
					<div class="bottom">
						<p @click="detail(item)">{{item.questionTitle}}</p>
						<p :class="[item.unsupportDownB?'font':'fonts']">
							{{item.questionContent}}
						</p>
					</div>
				</div>
				<div class="tablecontent">
					<p class="p1">
						<span>
							<i class="el-icon-chat-dot-square"></i> {{item.answerCount}}</span
						>
					</p>
					<div class="bottom">
						<span @click="item.unsupportDownB=!item.unsupportDownB">
							查看全部
							<span v-if="!item.unsupportDownB"
								><i class="el-icon-arrow-down"></i
							></span>
							<span v-if="item.unsupportDownB"
								><i class="el-icon-arrow-up"></i
							></span>
						</span>
						<el-button size="small" type="primary" round @click="detail(item)"
							>回答</el-button
						>
					</div>
				</div>
			</div>
			<!-- 分页的渲染 -->
			<el-pagination
				:class="pagination"
				@size-change="handleSizeChange"
				@current-change="currentChange"
				v-model:currentPage="currentPage3"
				layout="prev, pager, next, jumper"
				:total="total"
				:current-page="pageNum"
				:page-size="pageSize"
			>
			</el-pagination>
		</div>
	</div>
	<el-dialog title="提问" v-model="dialogFormVisible">
		<el-form :model="form">
			<el-form-item label="标题" :label-width="formLabelWidth">
				<el-input v-model="form.questionTitle" autocomplete="off"></el-input>
			</el-form-item>
			<el-form-item :label-width="formLabelWidth">
				<el-select v-model="form.region" placeholder="请选择问题类型">
					<el-option label="实训" value="shanghai"></el-option>
					<el-option label="面试" value="beijing"></el-option>
					<el-option label="工作" value="beijing"></el-option>
					<el-option label="其他" value="beijing"></el-option>
				</el-select>
			</el-form-item>
			<v-md-editor v-model="form.questionContent" height="300px"></v-md-editor>
		</el-form>
		<template #footer>
			<span class="dialog-footer">
				<el-button @click="dialogFormVisible = false">取 消</el-button>
				<el-button type="primary" @click="determine()">确 定</el-button>
			</span>
		</template>
	</el-dialog>
</template>

<script>
import app from '@/api/index.js';
import {useRouter} from "vue-router"
import AnswerRight  from "@/components/AnswerRight.vue"
import { ElLoading } from 'element-plus';
const { answerlist,answeraddd } = app;
import { reactive, toRefs } from 'vue';
export default {
	components: {
		AnswerRight
	},
	setup() {
		const router=useRouter();
		const state = reactive({
			loading: true,
			currentPage1: 5,
			currentPage2: 5,
			currentPage3: 5,
			currentPage4: 4,
			// 列表
			tableData: [],
			// 分页
			total: 0,
			pageNum: 1,
			pageSize: 10,
			isAsc: 'desc',
			type: '',
			typeList: [
				{ name: '全部' },
				{ name: '实训' },
				{ name: '答辩' },
				{ name: '面试' },
				{ name: '工作' },
				{ name: '其他' },
			],
			typeList1: [
				{ name: '全部' },
				{ name: '实训' },
				{ name: '答辩' },
				{ name: '面试' },
				{ name: '工作' },
				{ name: '其他' },
				{ name: '我的问答' },
			],
			ind: 1,
			// 搜索
			quality: '',
			search: '',
			questionTitle: '',
			authentication: '',
			typeNum: ['实训', '答辩', '面试', '其他'],
			typeNum1: ['实训', '答辩', '面试','工作', '其他','我的问答'],
			// 点击精品和认证
			checked: false,
			checkeds: false,
			// 添加弹框
			dialogFormVisible: false,
			dialogTableVisible: false,
			form: {
				questionTitle: '',
				questionContent:'',
				text1:"",
				text2:"",
				type: ''
			},
			identity:""
		});
		const getinit = () => {
			const {
				pageNum = 1,
				pageSize = 10,
				questionTitle = '',
				quality = '',
				authentication = '',
				type = '',
			} = state;
			// 接收列表数据
			answerlist
				.answer({
					isAsc: 'desc',
					pageNum,
					pageSize,
					type,
					questionTitle,
					quality,
					authentication,
				})
				.then(res => {
					if (res.status == 200) {
						state.tableData = res.data.rows;
						state.total = res.data.total;
					}
				});
		};
		state.identity=window.localStorage.getItem('identity')
		console.log(state.identity);
		const init = () => {
			getinit();
		};

		// loading  加载效果
		const startLoading = () => {
			state.loading = ElLoading.service({
				lock: true,
				text: '加载中……',
				background: 'rgba(0, 0, 0, 0.7)',
			});
		};
		startLoading();
		const endLoading = () => {
			state.loading.close();
			state.loading = false;
		};
		endLoading();
		const methods = {
			// 分页方法
			currentChange(pageNum) {
				state.pageNum = pageNum;
				init();
			},
			handleSizeChange() {
				init();
			},
			// 模糊搜索方法
			search() {
				state.pageNum = 1;
				init();
			},
			// 点击精品筛选
			boutique() {
				if (state.quality == '') {
					state.quality = 1;
				} else {
					state.quality = '';
				}
				init();
			},
			// 点击认证筛选
			certification() {
				if (state.authentication == '') {
					state.authentication = 1;
				} else {
					state.authentication = '';
				}
				init();
			},
			// 点击头部筛选
			interview(index) {
				if (index == '0') {
					state.ind = '面试';
					state.type = '';
				} else {
					state.ind = index;
					state.type = index;
				}
				init();
			},
			// 点击打开弹框
			open() {
				state.dialogFormVisible = true;
			},
			// 点击确定添加数据
		    async determine(){
				state.dialogFormVisible = false
				let res=await answeraddd.answeradd(state.form);
				console.log(res);
				if(res.status==200){
					init()
				}
			},
			// 跳转详情
			detail(item) {
				router.push({
					path:`/home/answer/detail/${item.answerId}`,
					query:item
				});
			},
		};

		init();
		return {
			...toRefs(state),
			...methods,
		};
	},
};
</script>

<style lang="scss" scoped>
.answerlist {
	width: 90%;
	height: 100%;
	margin-left: 5%;
	display: flex;
	.pagination{
		text-align: right;
	}
}
.main {
	width: 100%;
	height: 100%;
}
.left {
	flex: 7;
	width: 70%;
	background: #eee;
	height: 100%;
}
.table {
	width: 100%;
	height: 150px;
	background: #fff;
	border-bottom: 1px solid #000;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	.tableheader {
		flex: 5;
		margin-left: 20px;
		.p1 {
			height: 50px;
			width: 100%;
			display: flex;
			line-height: 50px;
			width: 500px; /*定义块元素的宽度*/
			white-space: nowrap; /*内容超宽后禁止换行显示*/
			overflow: hidden; /*超出部分隐藏*/
			text-overflow: ellipsis; /*文字超出部分以省略号显示*/
			span {
				margin-right: 30px;
			}
		}
		.bottom {
			width: 100%;
			height: 100px;
			line-height: 50px;
			.font {
				font-size: 18px;
				width: 300px; /*定义块元素的宽度*/
				white-space: nowrap; /*内容超宽后禁止换行显示*/
				overflow: hidden; /*超出部分隐藏*/
				text-overflow: ellipsis; /*文字超出部分以省略号显示*/
			}
			.fonts {
				width: 300px; /*定义块元素的宽度*/
				color: #ccc;
				white-space: nowrap; /*内容超宽后禁止换行显示*/
				overflow: hidden; /*超出部分隐藏*/
				text-overflow: ellipsis; /*文字超出部分以省略号显示*/
			}
		}
	}
	.tablecontent {
		flex: 5;
		text-align: center;
		.p1 {
			height: 50px;
			width: 100%;
			line-height: 50px;
			span {
				margin-right: 30px;
			}
		}
		.bottom {
			width: 100%;
			height: 100px;
			line-height: 100px;
			justify-content: space-around;
			margin-left: 50px;
			span {
				color: blue;
				margin-right: 50px;
			}
		}
	}
}
.screening {
	width: 60%;
	height: 40px;
	line-height: 40px;
	display: flex;
	margin-left: 40%;
	justify-content: space-around;
	.margin {
		margin-left: 20px;
	}
	.margin1{
		width: 200px;
	}
}
.right {
	width: 100%;
	height: 100%;
	flex: 3;
	background: #eee;
	flex-shrink: 0;
	// 我要提问按钮样式
	.ask {
		width: 80%;
		height: 40px;
		background: #f90;
		margin-top: 30px;
		color: #fff;
		text-align: center;
		line-height: 40px;
		font-size: 24px;
		margin-left: 10%;
		border-radius: 10px;
	}
}
.rightask{
	width: 150px;
	.ask1{
		width: 150px;
		background: #f90;
		color: #fff;
		text-align: center;
	}
}
.header {
	width: 100%;
	height: 100px;
	background: #fff;
	display: flex;
	line-height: 100px;
	margin: 30px 0px;
	.type {
		flex: 1;
		text-align: center;
	}
	ul {
		width: 100%;
		height: 100px;
		flex: 9;
		list-style-type: none;
		display: flex;
		align-items: center;
		li {
			width: 70px;
			height: 30px;
			margin-left: 23px;
			text-align: center;
			border-radius: 40%;
			line-height: 30px;
			display: flex;
			justify-content: center;
			float: left;
		}
		:hover.search {
			background: blue;
			color: #fff;
		}
		.active {
			background: blue;
			color: #fff;
			width: 70px;
			height: 30px;
			border-radius: 15px;
			line-height: 30px;
		}
	}
}
</style>
